[2019-02-01 19:16] cmarqu commented on #134
@benreynwar The existing repo is is free from any paperwork issues, so feel free. Nice to see this progressing!

[2019-02-05 07:35] GlenNicholls opened #443 "operator "&" is overloaded error in most recent version"
I have just installed VUnit using `python setup.py install` after running `git clone --recursive https://github.com/VUnit/vunit.git` and am failing to run all example test runs that include OSVVM. After reviewing the error, I see this [GHDL issue for OSVVM](https://github.com/OSVVM/OSVVM/issues/22), however the VUnit repository appears to have the correct version linked as a submodule in the repos

[2019-02-05 13:54] LarsAsplund commented on #443
What do you get if you do `python run.py --version`? What is your GHDL version?

[2019-02-06 00:48] GlenNicholls commented on #443
Okay @LarsAsplund, I updated to 0.35 and am able to successfully simulate the examples. It appears that it was the lack of 2008 support in previous versions that are now fixed.

[2019-02-06 06:14] LarsAsplund commented on #443
Great!

[2019-02-06 06:14] #443 closed

[2019-02-07 16:52] bjacobs1 opened #444 "std_logic_checker reports an error at t=0 if value to be checked is assigned indirectly"
If a signal that is being checked by a std_logic_checker receives its initial value from another signal, then the std_logic_checker reports an error at t=0. Although this behavior is understandable, it might be undesirable. For instance if a component reroutes its ports to an internal bus structure and imposes default values on those busses, then this error is reported, while the design behaves as

[2019-02-17 01:33] bradleyharden commented on #87
It looks like GHDL now supports subprogram generics (albeit without default values). This should now be possible to implement. If I'm interested, should I start working on it? I can make a PR to discuss the implementation.

Also, I'd like to propose some way of retrieving a slice from an array, but I'm not sure of the best approach. Maybe new, overloaded functions get_slice and set_slice for 1D, 2

[2019-02-18 09:32] LarsAsplund commented on #87
@bradleyharden Note that this issue concerns the older `array_pkg`. We should use the `interger_array_pkg`  as the starting point. For that reason I suggest that you start a new issue. Then I will close this one with a reference to the new

[2019-02-20 14:33] richjyoung opened #445 "Feature request: Access to TestReport object in post_run callback"
It would be nice to have access to the **TestReport** object within the `post_run` callback of class vunit.ui.**VUnit**, as the current **Results** object only allows for merging coverage reports. This would be useful for programmatically constructing different reports, rather than re-parsing the XML which may or may not have been included in the CLI arguments.

Currently, both the **TestReport**

[2019-02-20 14:51] kraigher commented on #445
Sounds ok. You can make a PR.

[2019-02-20 15:00] richjyoung opened #446 "Option to choose test configuration name location"
Is it possible to add an option for the location of the test configuration name?

For example, within **Test**.`add_config`, the documentation states the name of the configuration is added as a suffix on the test name, whilst the examples show it as a suffix on the test bench name, e.g:
[code]

I would like to be able to set an option so that the following is produced instead:
[code]
I don't know

[2019-02-21 10:51] el-coderon opened #447 "check_relation() with enable_check_preprocessing() does not compile with std_ulogic"
Hi,

I´d like to use the check_relation() with the prj.enable_check_preprocessing() config to get "got-expected"-messages on failure (as mentioned at [https://vunit.github.io/check/user_guide.html#](https://vunit.github.io/check/user_guide.html#) )

Therefore my files have the following lines:

run.py:
[code]

tb_mytb.vhd
[code]

But I do get the error at compilation time:

But it also tells me:

[2019-02-22 11:40] bradleyharden commented on #447
Change `"10"` to a qualified expression, i.e. `std_logic_vector'("10")`. The preprocessor-generated code is ambiguous, because `"10"` could be many different types. There might be a way to improve the preprocessor, but this is a simple solution.

[2019-02-22 12:11] el-coderon commented on #447
Thanks a lot. That works fine!

[2019-02-22 12:19] el-coderon commented on #447
Oh, I was too fast. First step works fine: It compiles without errors :-)

But there is still no "got <> expected <>" message on check error... Is there any workaround to get this? (as mentioned above: I´ve set the prj.enable_check_preprocessing() )

[2019-02-22 16:00] mickey4u opened #448 "Getting to up speed with VUnit: Transferring verilog module and testbench to Vunit"
Suppose I have a verilog(not System verilog) module and corresponding testbench as indicated below. How do I transfer this to VUnit and how do I send test results to another application indicating that the verilog module passed this number of tests and failed this number of tests.
[code]

[code]

I have ModelSim setup and Vunit installed. Everything works in terms of setup.

[2019-02-22 22:30] GlenNicholls opened #449 "Passing args to view VHDL process variables and constants with gtkwave"
I am trying to debug some code and am finding it difficult when I can't see the VHDL process variables and constants in gtkwave. when I pass `--gtkwave-args`, how do I tell gtkwave to display these through VUnit?

[2019-02-23 02:32] bradleyharden commented on #447
Got vs expected usually comes from check_equal. check_relation uses left vs right.

Is it giving you an error message? If so, what is it? You should post more context for your problem. What you've provided isn't really enough to figure out what's going on.

Also, try to reduce the problem to a minimal possible example, and then post that example in its entirety.

[2019-02-23 23:37] #448 closed

[2019-02-24 03:05] bradleyharden commented on #447
Also, why are you using `check_relation` here? It seems like `check_equal` would be more appropriate.

[2019-02-25 09:03] el-coderon commented on #447
Hi, thanks for that advice!
The `check_equal` was my first approach. But it didn´t work well. That´s why I tried it with `check_relation`.  Now I tried it again. And it runs fine. (Don´t know what I changed meanwhile).

At the moment I´m fine with this way to do so. However, one of the maintainer should decide if this can be called 'solved' or if `check_relation` should work fine (wiht got<> expec

[2019-02-26 10:01] bjacobs1 opened #450 "Feature: resume a testsuite that has been prematurely stopped"
The usecase is that sometimes, for whatever reason, the execution of a testsuite must be halted. Being able to resume would be very valuable. Also, if additionally a range of test case indices could be specified, it would open up the possibility to distribute a test suite over different machines.

[2019-02-26 19:30] LarsAsplund commented on #447
This preprocessor is quite simple and improving it to solve this would require that we figure out the type of the signal which is a much more complex task. For that reason I will close this issue.

[2019-02-26 19:30] #447 closed

[2019-02-28 20:30] cmarqu opened #451 "check lib: Prefix binary and hex numbers in log output"
(Call for comments.)

Right now the ``check`` library displays output like "Got 1111_1010 (250). Expected 249 (1111_1001).".
I think it would be nice and also better for machine readability if every number could be interpreted without taking context into account, meaning, the "1111_1010" and "1111_1001" should be marked as being binary. Same for hexadecimal numbers.

(Personally, I would use neith

[2019-03-01 07:57] LarsAsplund commented on #451
I'm ok with adding a prefix. First I thought VHDL style would be the correct way but I have to think about that some more. If we end up with more logging support for SV it would be nice with a consistent format.

The current format was designed for human readability

Your use case seems to be about machine readability and for that we should really think about other file formats. Today we have CSV

[2019-03-01 13:54] tmeissner commented on #451
I would also like the addition of prefixes which show the format more explicitily. Machine readability should also be taken into account, although I don't have an specific format in mind at the moment.

[2019-03-05 21:17] GlenNicholls opened #452 "Unrecognized extension"
I am migrating some work code to VUnit and am running into this issue:

    $ python run.py
    Traceback (most recent call last):
      File "run.py", line 70, in <module>
        lib[library].add_source_files(file.replace('\\','/'))
      File "C:\Python27\lib\site-packages\vunit\ui.py", line 1196, in add_source_files
        for file_name in file_names])
      File "C:\Python27\lib\site-package

[2019-03-05 22:04] kraigher commented on #452
Use file_type="vhdl" in the add_source_file call when auto detection based on file ending is not possible.

[2019-03-08 00:07] GlenNicholls commented on #452
Perfect, thank you for this. I have used my file tree parser to catch these build specific extensions to instantiate the correct `file_type` for VUnit.

[2019-03-08 00:25] GlenNicholls opened #455 "Feature Request: Add arg parse options for adding waveforms to viewer"
I think it would be a nice feature to allow the user to use a flag to display all signals at a user-specified hierarchy depth when they pass the `-g` flag to open the GUI. I get really annoyed having to manually add waveforms when I don't yet know what I'm looking for, so I end up adding all of them. GTKWave offers groups that can be named, ModelSim offers groups as well that can be named, and Act

[2019-03-08 01:19] 1138-4EB commented on #455
I think that this would be a very interesting feature. It is quite a pain to generate the `modelsim.do` files to automatically load the desired signals in groups into the waveform. However, I wonder how would this approach fit with the possibility to filter which signals are actually tracked (see https://ghdl.readthedocs.io/en/latest/using/Simulation.html?highlight=wave#cmdoption-ghdl-read-wave-op

[2019-03-08 01:33] GlenNicholls commented on #455
For GHDL/GTKWave specifically, the script I am working on above is simply grabbing signals from the file that has already been created, so I don't think this would be an issue since there is no call to entity names/signals specifically.

For modelsim, this is how I have approached it in the past, although I haven't yet gone through the exercise of figuring out how this would work for any name in t

[2019-03-08 04:06] GlenNicholls commented on #455
Okay, for GTKWave, I have a tested and working script for adding all signals to the waveform viewer with their entity name as the group title. I tried for a bit to give the full path name as the group name, but eventually gave up. This can be invoked using:

[code]

[code]

[2019-03-08 10:19] tmeissner commented on #455
I use a tcl file for GTKWave also, but I add the signals manually.

Nice idea to put some automation to this. But I only would use this with max_depth set to 1. Simply because I don't want all signals in my waveform. I never had a use case to add all of them, even not at work with Modelsim/Questa. For many designs with a lot of signals, I would get a lot of signals in the waveform viewer that I do

[2019-03-09 01:04] GlenNicholls commented on #455
@tmeissner I see your point, however, I somewhat disagree with that notion. Before I get to the solution to your problem, let me preface this with my argument against that idea for ModelSim/Questa/Aldec. In these simulators, when you are bug hunting and forget to add a waveform, you have to restart the simulation waveform after adding a new signal which I find to be a huge time sink when you know

[2019-03-09 07:47] #452 closed

[2019-03-09 11:10] tmeissner commented on #455
I also understand your point. I will give a try. I assume, that the script doesn’t rely on vunit? Because I don’t have a running vunit project at home. I would try it with a plain vhdl testbench of a project of my own.

[2019-03-09 20:19] GlenNicholls commented on #455
You are correct, this does not rely on VUnit. This is just passing commands onto GHDL to basically perform the following:

* determine the # of facilities (signals) that are in the dump file it is loading
* loop through all facilities to see if the depth/name is correct
* append a signal path to the group name dict key
* create a group where the name is the dict group key and all values correspond

[2019-03-11 11:16] tmeissner commented on #455
@GlenNicholls  I've tested the tcl script with a test design of mine. It works, however, every vector I get numerous times in the wave window. `data_i[0:127]` for example 128 times. This is the case with every vector I have in the design.  I assume that's not what we want - I definitely not ;) I will have a look in the tcl file to fix that, but I'm not an expert in tcl ;)

I've attached a screensh

[2019-03-11 14:46] tmeissner commented on #455
@GlenNicholls I've made a (very ugly & hacking) change to your script that only each vector is only added once instead of multiple times. Maybe (definitely) there is a better way to do that, possibly GTKwave has an API function which can be used to find out of a signal is a vector or something like that. The change looks like this. Instead of adding all paths:

[code]
I filter out the equal ones b

[2019-03-12 23:30] GlenNicholls commented on #455
Interesting, I did not realize GTK would add a duplicate, I will revisit this soon. I think the API has a setting to remove all duplicate waveforms, but I'm not positive. Either way, this looks like a reasonable fix to me. There could probably be fancier checking on the signal names as this might break when adding signals to an entity that was generated with a `for generate` statement.

[2019-03-13 05:34] aodling opened #457 "Problem with vunit_restart when using OSVVM and Modelsim 10.6a"
Hi!

I've been using Vunit for a while and just started adding OSVVM features into it. I'm running into some troubles when doing vunit_restart when i have OSVVM objects instansiated. This is when debugging, using the GUI open.
For example, when having random-generators and scoreboards instansiated and doing vunit_restart, it SOMETIMES (not always) generates a signo 11.
This never happens the first

[2019-03-13 05:48] kraigher commented on #457
Sounds like a bug in modelsim that should be reported to mentor graphics. Probably easier for them if you can give them a mimimal reproducer.

[2019-03-15 00:46] GlenNicholls commented on #455
I have an update for ModelSim that I will be testing and modifying to somewhat replicate the functionality above. [I found this](https://stackoverflow.com/questions/12833134/how-to-add-all-modelsim-waveform) which is basically what I did for GTK.

[2019-03-15 01:38] GlenNicholls opened #458 "Feature Request: Support set_sim_option name 'gtkwave.init_file.gui' in GTKWave similar to ModelSim, Active-HDL, and Riviera PRO"
ModelSim, Active-HDL, and Riviera PRO all have the `'<simulator_name>.init_file.gui'` name option for `set_sim_option()`. However, the only way to accomplish this with GTKWave is to do `python run.py -g --gtkwave-args=-S<script_name>.tcl` and this is somewhat annoying to do everytime I want to run the same script/scripts everytime I open the GUI. I am looking to configure the waveform viewer with

[2019-03-15 03:10] GlenNicholls commented on #455
If you're curious, I have created a script for ModelSim. This one does not support adding by entity/path names for numerous reasons. The biggest one for me was that because VUnit has `set_sim_option('modelsim.init_file.gui', '<script_name>.tcl')`, I didn't have a desire to add this functionality since I will have this script live in a single location, not with all of my testbenches. It should be p

[2019-03-15 06:48] kraigher commented on #458
Yes it makes sense to add it. If you want to make a PR just have a look in ghdl_interface.py and you can se how other sim options are handled there. It should be very straight forward to add this.

[2019-03-15 22:47] GlenNicholls commented on #458
Okay cool, I will dig into the code now and make a PR once I have some time to make and test the changes.

[2019-03-20 00:15] GlenNicholls commented on #458
@kraigher I have all of the code written and I'm working on testing it now. With this, it looks like it works when there are no spaces in the file path. However, I found that if there are any spaces in the path name, then GTK vomits with this error:

When the VUnit run.py has no spaces in the path name, i.e. `ui.set_sim_option('ghdl.init_file.gui', 'C:/tmp/gtkAddWave.tcl')`, everything looks fine.

[2019-03-20 00:24] GlenNicholls commented on #458
It looks like if I make a new .tcl script with this:

`source "C:/Users/Glen Nicholls/Desktop/vunit/examples/vhdl/axi_dma/gtkAddWave.tcl"
`

And run with this:
`python run.py "axi_dma_lib.tb_axi_dma_regs.Test destination address" -g --gtkwave-args=-SgtkSource.tcl -v`

That gets around that issue. It seems like the `-S` flag in GTKWave doesn't expect the possibility of a path name with a space in i

[2019-03-20 05:40] kraigher commented on #458
Try ["-S", abspath(init_file)] instead of ["-S%s" % abspath(init_file)] and see if it makes a difference.

[2019-03-20 23:22] GlenNicholls commented on #458
That didn't work, but I was able to get this to add it correctly `cmd += ["--script", "\"{}\"".format(abspath(init_file))]`

[2019-03-21 01:09] GlenNicholls commented on #458
Just committed the changes after testing in 364f4ae, creating a PR now. One issue with GTKWave's TCL interface is it doesn't allow you to add multiple files as a list with `--script` and `--tcl_init` causes the `--wish` to be inferred. Because of this, if the ability to add multiple TCL files is desired, VUnit will need to generate a seperate TCL script that is passed to GTKWave that sources all o

[2019-03-21 18:22] vmfox opened #460 "Add code coverage support ActiveHDL"
Following my recent chat on Gitter regarding cove coverage support for ActiveHDL I would like to contribute the changes that would allow this to happen. I have a working version of the relevant .py file which was tested on a real project, and I can prove that the modification generate coverage files for each unit and final merged coverage file. The run.py interface is identical to the already exis

[2019-03-21 19:10] kraigher commented on #460
The workflow of creating PRs is explained by github here: https://help.github.com/en/articles/creating-a-pull-request-from-a-fork

[2019-03-21 19:33] vmfox commented on #460
Tack så mycket.

[2019-03-22 16:29] dstadelm commented on #277
Have you ever found out what the problem was. I am running into the same problem that the std_logic_misc is not found in library ieee.

Regards
Dave

[2019-03-30 08:31] umarcor opened #462 "Replace memory_t and/or buffer_t in a AXI Master simulation with axi_read_slave and axi_write_slave"
I have a C application that allocates some memory space. Then, GHDL is started inside the application, so the allocated space is available to the simulation. In the testbench, I execute `buffer.init()` in order to initialize a shared variable of type array of integers with the address pointer provided by the C application. From there on, I can read/write in the application memory space with `buffe

[2019-03-30 09:39] kraigher commented on #460
I guess we can close this issue as the PR is merged.

[2019-03-30 09:39] #460 closed

[2019-03-30 10:16] kraigher commented on #462
So the essence of this issue is that you want the VUnit memory model to remain in sync with an external memory model.  Thus we could consider adding such a concept to the memory model (memory_t).

Unfortunately the VHDL language up to 2008 does not support inheritance or injecting different behaviour via the instantiation of a different type of object sharing the same interface. We could maybe mak

[2019-03-30 10:48] umarcor commented on #462
You definitely know more about VHDL than me, so please let me know if the following makes any sense. I am using the following package as the 'glue' between C and VHDL:

[code]

Where `get_p` is a function defined in C that returns some parameter (integer). Parameter `get_p(0)` is the length of the already allocated buffer. `get_b` is another function defined in C that returns a pointer. `get_b(0)`

[2019-03-31 07:03] kraigher commented on #462
A few clarifications:

1. buffer_t in the VUnit memory model is just an address range in the memory model and not a storage mechanism. The memory model is just one big flat address space into which buffer_t are allocated by giving them an address range. The verification components just interact with the memory model not the buffers. The buffers are just there to get better error messages and to al

[2019-04-01 01:59] umarcor commented on #462
Thanks a lot for the clarifications. I don't really know what's the complexity behind building a 'new' memory model, as I am not sure about what does a 'memory model' comprise. If it is just a couple of functions to read/write from/to a byte of a memory, that's easy to achieve. Precisely, the snippets above might suffice. It is also easy to provide similar functions for shorts and integers, if req

[2019-04-02 15:17] slaweksiluk commented on #462
@umarcor @kraigher
I spent some time thinking about extending Vunit  memory mapped slave VC's to connect them with external simulation model.

My first thought was about extend VC's itself. For example divide AvalonMM Slave on two architectures: current, with memory backend, and new one with Vunit message fifo backed - it would simply send all read write transactions to some predefined actor. I th

[2019-04-02 17:29] kraigher commented on #462
Firstly I want to clarify to @umarcor what we call a memory model in VUnit since you asked what it is comprised of. At its simplest a memory model is just a fixed length array of bytes forming a linear address space. The basic operations are to read or write one byte in one address just like a real memory. Accessing words comprised of several bytes is just an operation built on top of the single b

[2019-04-02 17:32] umarcor commented on #462
This is exactly the same use case as mine. The fact that you use linux pipes and I use diffferent mechanisms (either built-in or RPC), is negligible. Precisely, I believe that you are using pipes because you want to co-execute the simulation with some other process. I do that with `pthreads` or golang goroutines.

According to [this](https://github.com/VUnit/vunit/issues/462#issuecomment-478231115

[2019-04-02 21:13] jrwagz opened #463 "modelsim.init_files.after_load not working as expected"
I am attempting to set some simulator variables via the modelsim.init_files.after_load script option, and the variables that I set are not remaining set afterwards.  I’m using VUnit 4.0.8

Here are the specifics:

In my run.py file I add the following line (before ui.main() is called)
```ui.set_sim_option('modelsim.init_files.after_load',['sim_init.tcl'])```

The contents of sim_init.tcl are simpl

[2019-04-02 21:26] jrwagz commented on #463
Questa/Modelsim version:

[code]

[2019-04-02 21:27] jrwagz commented on #463
Furthermore, if I directly source the sim_init.tcl file in the GUI console, I get the expected behavior:

[code]

[2019-04-02 21:58] jrwagz commented on #463
Wow, looks like I was trying to re-implement a feature that was already there!  Once I added this to my run.py I get the behavior I want:

[code]

[2019-04-02 21:58] #463 closed

[2019-04-03 04:11] kraigher commented on #463
You found the feature already. Your original solution would have worked if you added a global declaration for the variables.

[code]

[2019-04-03 13:11] slaweksiluk opened #464 "Invalid compile order"
I'm experimenting with generic `memory_pkg. vhd` and it seems compile order is not resolved properly:
[code]
Shouldn't `memory_pkg-body.vhd` be analysed before `memory_pkg_default.vhd `?
Reproducer https://github.com/slaweksiluk/vunit/tree/dep-bug
Tested on ghdl

[2019-04-03 14:43] umarcor commented on #464
I found VUnit to have problems resolving the compilation order when genric packages are used; specially when they are defined in some lib, instantiated in a different lib and used in a component compiled to a third lib. The solution I found was to call `add_source_files` once for each file in a correct order. It is just a workaround, but at least it allows to use other VUnit features.

[2019-04-03 17:04] kraigher commented on #464
The standard is not clear on if a user of package X depends on the body of package X. Normally there is no such dependency. For Riviera-PRO this dependency exists and thus VUnit dependency scanner supports it. For other simulator we do not enable this dependency. The dependency can be enabled by adding a class variable to the corresponding simulator interface. For example in rivierapro_interface.p

[2019-04-04 17:21] umarcor commented on #464
@kraigher, thanks for the clarification. Would it be harmful in any context to enable it by default?

[2019-04-04 17:59] kraigher commented on #464
Probably should be default given this issue. It has previously not been known to be required. Recompilation is avoided when not enabled so that is why it was only enabled for riviera today.

[2019-04-05 10:08] slaweksiluk commented on #464
It must be related to generic package - Ghdl wouldn't complain about missing body for memory_pkg if it wasn't generic. I will create issue at ghdl repo about that.

[2019-04-05 10:14] slaweksiluk commented on #462
@umarcor exactly, that's exactly what I do. I already have prepared linux pipe interface for driving MM Master VC from python. I started to implement external memory model for MM Slave VC, but it has to wait till proper generic packages support in ghdl. Unfortunately it won;'t be easy - there are multiple bugs. However I will at least post issues at ghdl repo and hopefully Tristan will have some t

[2019-04-05 13:25] 1138-4EB commented on #462
@slaweksiluk, related to [ghdl/ghdl#608](https://github.com/ghdl/ghdl/issues/608#issuecomment-478969441), I'd like to ask the opposite question to you: why are you using VUnit instead of cocotb if you want co-execution/co-simulation between python and GHDL? I am asking it just because of curiosity. I don't expect a comparison between the projects. Instead, I am trying to understand whether it make

[2019-04-05 13:27] umarcor commented on #464
@slaweksiluk, could you please leave this issue open until the new issue is opened at ghdl/ghdl, or until it is fixed in VUnit directly?

[2019-04-05 14:01] kraigher commented on #464
Based on the answer from GHDL maintainer we either wait for their fix or add the extra dependency also for GHDL and not only riviera.

[2019-04-05 17:00] slaweksiluk commented on #464
I thought Tristan does not yet know about this issue. So it is up to you if fix it at Vunit python scripts. Anyway, it is not urgent, as there are 2 or more issues in generic packages support to fix in ghdl before I could use it as backed for memory_pkg.vhd. I can publish my results as PR if you wish.

[2019-04-05 17:03] umarcor commented on #464
@slaweksiluk, I think that @kraigher wanted *based on the answer from GHDL maintainer* to sound as a future event, not something that has already happened. I comment it, because at first I thought that Tristan had replied already.

[2019-04-05 17:26] kraigher commented on #464
Yes I was referring to a future event. If GHDL maintainer says this is a bug we do not need to enable package body dependencies for GHDL and we can save recompilation. If it is not a bug then we should enable this extra dependency just like we do with RiveraPRO.

[2019-04-05 17:29] kraigher commented on #462
My view is that any amount of co-existing external memory models could be supported using a small amount of generated code without needing generic packages. We would have to define a package API to which the external memory model would conform.

[2019-04-05 17:51] umarcor commented on #462
@kraigher are you willing to propose that API to which the additional models should conform? Should I give it a try?

[2019-04-05 18:06] kraigher commented on #462
You are welcome to give it a try. My overall strategy is to get more people involved in VUnit. Teach a man to fish vs. giving him a fish. You could make a prototype that replaces the calls to the internal byte array with calls to your external array. That way we ensure we are making something that will solve your case. After this we can talk about the next steps to make it "production ready" to be

[2019-04-05 18:11] umarcor commented on #462
That sounds as a plan. I will start with forking and setting up a testing environment. I'll reach to you when I have some working example.

[2019-04-07 08:25] umarcor commented on #462
Hi @kraigher! I have a working prototype that allows to use an external memory if `new_memory(id: integer)` is used. Otherwise, it defaults to the standard implementation. However, I had to disable multiple checks for it to work. The main issue is that, since no allocation is required in VHDL, the helper checks in VUnit think that the memory is empty, even if it is not.

I'd like to push it to a b

[2019-04-07 10:38] kraigher commented on #462
There is the AXI DMA example that uses both the read and write slaves.

[2019-04-07 17:01] umarcor opened #466 "[GHDL] run.py --elaborate should not execute the design"
Coming from [#465](https://github.com/VUnit/vunit/pull/465#issue-267997353).

I'm not sure about this. This might be true for the mcode backend, since *elaboration* and *run* are merged in a single stage. This is because `mcode` does not save a binary to disk; it is created and executed in memory. However, it should not be true for GCC and LLVM backends, where *elaboration* generates a binary file

[2019-04-07 17:56] kraigher commented on #466
I am not that knowledgeable about GHDL internals but it sounds like your fix of using the -e flag might work. Does the -e flag accept setting generics via -G flag?

[2019-04-07 18:05] umarcor commented on #466
That's a very pertinent and somehow tricky question. Generics are a runtime option, not supported for elaboration yet. Please, see:

- https://github.com/ghdl/ghdl/issues/608#issuecomment-478599082
- https://github.com/ghdl/ghdl/issues/608#issuecomment-478969441

/cc @tgingold

[2019-04-07 18:08] kraigher commented on #466
The goal of --elaborate is to run elaboration of the design hiearchy which requires top level generics to be defined. Maybe --elab-run --no-run did not achive this either.

[2019-04-07 18:16] umarcor commented on #466
I think that GHDL is able to elaborate a design without knowing the actual values of the top level generics. It needs them to be defined (to have a name and a known type), but AFAIK it does not actually resolve them; *all* options are considered/compiled. However, this might not be valid for synthesis, so that's why @tgingold commented that it will be an elaboration option only, in the future.

[2019-04-12 14:36] joshrsmith opened #473 "Filter test cases to run based dependents of an entity"
A common scenario when developing is that once you update a block you would want to run the simulation of that block and all blocks that are dependent on it. This would be faster than running all simulations in a vunit project, focusing just on code that may have been impacted by the change.

I am thinking something like this:
`python run.py --dependents-only <entity_name> [tests]`

I think all th

[2019-04-12 19:39] jrwagz opened #474 "Unable to compile Reed Solomon Decover v9 *_sim_netlist.vhdl file from Vivado"
When creating IP for a design in Vivado, you have the option to create a file caled <ip_name>_sim_netlist.vhdl that is normally fed directly into your simulator to provide a simulation model of the IPs behavior.

I am currently unable to figure out how to get a specific *_sim_netlist.vhdl file to properly compile and simulate under VUnit.  The name of the IP that I'm trying to simulate is called t

[2019-04-12 19:45] jrwagz commented on #474
The rs_decoder_7_3_v9_sim_netlist.vhdl file is quite large, but this is how it starts:

[code]

After a VERY LONG section of encrypted data, we then get the following:

[code]

You can see that the body of the definition of the rs_decoder_7_3_v9 references the module that is a warning about being missing, and presumably that module is defined in the encrypted section:

[code]

[2019-04-13 18:34] kraigher commented on #474
First of all the warning you see is not from modelsim but from the VUnit dependency scanner which cannot find any `rs_decoder_7_3_v9_rs_decoder_v9_0_12_viv` design unit since it is defined by encrypted code. In the VUnit Vivado example we will not use dependency scanning for the encrypted IP (using no_parse option for add_source_file) but rather add a manual dependency.

Have you added unisim libr

[2019-04-14 07:00] kraigher commented on #473
It is a good idea. I would expect it to work for packages as well.

[2019-04-15 15:52] jrwagz commented on #474
I link the unisim, etc. libraries through our modelsim.ini file:

[code]

And inside the modelsim.ini file looks like this:

[code]

Thanks for the idea to try and build a manual .do file to simulate this.  I found a couple of issues that were masking the problems, and I believe that I've resolved all my issues now.

First issue, verilog syntax problem in top_tb.sv, I forgot to put the leading per

[2019-04-15 15:53] #474 closed

[2019-04-16 08:22] eschmidscs opened #477 "axi_stream_slave with check function requires TREADY"
Hi

Change 3e098f567af0a442ae9f3a41b0fcb90f2092daed modifies the behaviour of the check_stream/check_axi_stream function.
The check functions call the pop function one by one. The command queue to the VC thus always runs empty, causing TREADY going low with the current implementation. This results in max 50% duty cycle of the checked stream.
However, TREADY is optional by the AXIS spec.

I don't g

[2019-04-16 15:28] kraigher commented on #477
A check operation is currently a blocking operation just like a read since the check is done in the client code. A blocking operation will limit the throughput as you notice. To solve the situation you need to queue up many reads using non blocking calls and do the checks afterwards. You can already do this using the non blocking read calls today.

The situation could be improved in two ways:

- K

[2019-04-16 15:29] #466 closed

[2019-04-17 06:42] eschmidscs commented on #477
Sidenote: I find the naming confusing here. It is obviously blocking, as it waits for the actual transfer. That it causes the next cycle to be idle is something more than blocking.

The problem was solved before the mentioned commit, so it is not impossible to implement. However, if you want to have the message handler implemented as it is now, it probably does not work (even though being an "arti

[2019-04-17 07:41] umarcor opened #478 "Programatic procedure to retrieve the output path of a test"
Ref #467.

I do not recommend that you use it. It is better we add this to `--export-json` instead.

[2019-04-17 09:45] dsp20 opened #479 "Exporting Simulation for Questa"
I have Created a simulation project in vivado and then exporting that simulation for Questa. To run this simulation using Vunit environment I have created python script. Exported Simulation is creating a separate library folder for each IP used in a project created in vivado. In python script, I have to give a path to each IP library folder otherwise compilation giving an error, though I have comp

[2019-04-17 16:47] kraigher commented on #477
As you mention blocking is only a problem if there is latency from request to response. Maybe the way the AXI stream VC is implemented adds a latency such that the next clock edge is missed. Maybe for AXI stream the latency could be zero and a blocking operation have full throughput. However for a memory mapped AXI port such as AXI4 lite there will typically be a latency and a blocking operation w

[2019-04-17 16:53] kraigher commented on #479
I need more information to be able to help you. Could you give me an example or be more specific in your problem description?

By the way have you looked at the VUnit Vivado [example](https://github.com/VUnit/vunit/tree/master/examples/vhdl/vivado). It provides an automatic way to compile and add Vivado IP into a run.py file. It is the approach I would recommend and that I am using myself at work

[2019-04-17 16:57] kraigher commented on #478
Are you aware that the output path is accessible as an attribute on the post_check and pre_config hooks as well? Depending on the use case this might be what you need rather than having it written in the export-json file.

[2019-04-17 17:31] umarcor commented on #478
No, I was not. And I can very probably use it to retrieve the path in the `run.py` file, without actually running the simulation. I will give it a try. Thanks!

[2019-04-17 17:39] kraigher commented on #478
It will only be accessible when running the pre config hook before simulation. So you need to run the simulation.

[2019-04-17 17:48] umarcor commented on #478
I think I should be able to 'run the simulation' as `--elaborate` with sim_option `ghdl.elab_e`, so the pre config hook is triggered and the binary is compiled (thus, the output path needs to be created), but no simulation is executed. What do you think?

[2019-04-17 17:49] kraigher commented on #478
That would work.

[2019-04-18 06:02] dsp20 commented on #479
So, I have created a vivado project and it has AXI VIP and two Video test pattern generator IP and AXI interconnect. Simulation works fine in Vivado simulator. To run the simulation in Questa sim I am exporting simulation with source files. Now exported simulation has folders "incl", "IP". I have written a python script for Vunit environment. Now "IP" folder has supported library files of IPs whic

[2019-04-19 16:41] 1138-4EB opened #480 "Split verification components to a git submodule"
As commented on gitter:

---

Apart from creating a new repo (say `VUnit/verification_components` or `VUnit/vcs`), I think that the following issues need to be considered:

- Whether to move the corresponding documentation to the submodule: http://vunit.github.io/verification_components/user_guide.html
- Whether to start the new repo by adding the content to a new clean initial commit, or to use f

[2019-04-21 10:48] umarcor commented on #478
I implemented it in #476 as follows:

[code]

So, it would be useful if `ui.main()` wrote the args of each test/config to a global variable of type 'dict of lists', without requiring 'pre_config' or 'post_check' hooks. Something similar to:

[code]

Alternatively, it can be implemented in `--export-json`, as @kraigher suggested. @kraigher, what fo you think? Should be add all the runtime args (tho

[2019-04-23 12:02] dsp20 opened #484 "Reconfiguring Test Cases"
Is it possible to reconfigure the number of a test case? For example, with the help of a single parameter number of test cases will be generated. For parameter 3, three test cases will be generated and if I change the value to 5, five test cases will be generated. Is this kind of reconfiguration is possible?

[2019-04-23 16:48] mickey4u opened #485 "Running multiple vunit test in separate processes failing"
I have a c++ program that is suppose to run vunit tests in separate process as shown in the c++ code snippet below but I get the following errors logs. I have no idea what this means.

[code]

Console log

[code]

[2019-04-23 17:15] kraigher commented on #479
Could you give me an example or show some code how you imagine this would work? I do not really understand what it is you want.

Also remember a run.py file is just a Python script and Python is a full featured programming language so you can create any abstraction you want on top of VUnit if you find some common pattern in your run.py files.

[2019-04-23 17:20] kraigher commented on #480
Ideally the documentation would move with the code to make it self contained. In this case there would be no tight coupling between the verification components and VUnit itself other than VUnit being a dependency. Probably this would mean that the Verification Components would need a separate part of the website or their own website for their documentation.

Regarding extracting the history it cou

[2019-04-23 17:21] kraigher commented on #484
Yes you can use the `add_config` method to add many configurations for a single test case such as running it 10 times with different generic settings. There are examples for this in the documentation on the website.

[2019-04-23 17:27] kraigher commented on #485
[code]

This will create 2**4 = 16 processes. I think you only want to create 4. This will cause the same run.py file to execute in the same folder such as process2 and it will cause all kind of race conditions.

[2019-04-23 17:40] mickey4u commented on #485
@kraigher Thank you. Yes, I want to create only 4 processes to run in parallel. And please how exactly does it end up creating 16 processes and how can I fix it. Thanks.

[2019-04-23 17:46] kraigher commented on #485
[code]

Use if-statements around subsequent forks such that p2 is only created if p1=0 etc.

[2019-04-23 17:49] mickey4u commented on #485
Thanks.

[2019-04-23 21:05] 1138-4EB commented on #480
I'll give it a try.

I think that I will be shown as the committer (not author) of all the history if I do it. Would like to do it instead?

Related to this, it is also possible to remove all traces from the history of VUnit/vunit, but this would require rewriting the history, so I would suggest avoiding it.

[2019-04-23 21:23] umarcor commented on #485
@mickey4u, just because of curiosity, do any of the processes/tests communicate with each other? Or are you running them in parallel to reduce execution time?

[2019-04-23 21:26] mickey4u commented on #485
@umarcor No there is no communication between these tests. Parallel execution to reduce execution time is what I want to achieve.

[2019-04-24 05:28] dsp20 commented on #484
I mean I want to Number of Test cases to be configurable. For example, for one run I want 4 test cases and for another run, I want 6 test cases by changing the signle parameter from a python script.  Is it possible?

[2019-04-24 05:36] umarcor commented on #484
Yes, you can define a custom arg that you pass to the python script, and then add as many configurations as you want. See http://vunit.github.io/python_interface.html?highlight=custom#vunit.ui.VUnit.from_args

[2019-04-24 06:31] dsp20 opened #486 "I am"
I am referring this example for compiling Xilinx IPs from Vunit environment [(https://github.com/VUnit/vunit/tree/master/examples/vhdl/vivado). But I am getting simulator related error. I am using QuestaSim 10.6d and also added PATH variable for this. Please find attached file for error. Do I need to change anything in compile_standard_libs.tcl file?
![Capture](https://user-images.githubuserconten

[2019-04-24 11:49] mickey4u commented on #485
@kraigher Is a new simulator instance called everytime `python run.py` is used? If so, how do I use the same simulator instance for testing say 2k plus design modules? Because I'm guessing starting a new instance consumes most of the evaluation time.

[2019-04-24 16:22] #477 closed

[2019-04-24 18:23] kraigher commented on #480
I can try to make a new repository and add the verification components code there as a starting point. We would probably need to stop bundling the verification components with VUnit to break free the life cycle of the verification components. Thus the verification components would become a separate download.

[2019-04-24 18:27] kraigher commented on #485
@mickey4u Yes a new simulator instance is spawned by each run.py invocation. When not running with `--unique-sim` a simulator instance is shared during the execution of a run.py file. Regarding running simulations in parallel it is already supported by VUnit and should not require an external program like you have made.

[2019-04-24 18:34] kraigher commented on #486
It looks like Vivado fails to run vcom.exe. Maybe something with 32-bit vs 64-bit mode? You could try to update the tcl script to use 64-bit instead.

[2019-04-24 18:42] mickey4u commented on #485
@kraigher I thought the parallel option was for different testcases within the same testbench against a design module. My specific use case is, I have a number of design modules `adder1.sv adder2.sv .... adder100.sv ` and a single testbench `tb_adder.sv` which should be used to test all these design modules.

[2019-04-24 18:49] kraigher commented on #485
Your problem is then not about parallel execution but having multiple modules with the same name coexist within the same project. You could solve this problem by either having one design library per module or by generating code where the instance name is filled into a template.

[2019-04-24 19:01] mickey4u commented on #485
@kraigher Please, how do i achieve the instance name getting filled into a template.

[2019-04-25 06:39] dsp20 opened #487 "pkg for both vhdl and verilog"

[2019-04-25 09:29] dsp20 commented on #479
![Capture](https://user-images.githubusercontent.com/46738970/56725473-89f15680-676a-11e9-871b-efd6071c37cc.PNG)
For Xilinx IPs, I need to give the path for the IP library from a python script. As I am using Questasim, I have compiled all libraries using "complile_simlib" command from vivado and stored to the folder. Now in Vunit environment, I need to add library file for those IPs.  But compiled

[2019-04-25 10:18] dsp20 commented on #479
For simulation, I am getting the error shown in the image. The compiler is not able to find unisim , unisim.vcomponents libraries. It is also giving error for Xilinx IPs.

[2019-04-25 18:13] kraigher commented on #487
It is not possible through public API currently but would be very easy for us to support. We will add support for it in the near future.

As a work around you could run:
[code]

Using private API means it can be broken in the future without any warning.

[2019-04-25 23:17] mickey4u commented on #485
@kraigher Did you mean something like the code snippet below
[code]
and using a command like `python run.py -p6` will use parallel execution.

[2019-04-25 23:22] umarcor commented on #485
@mickey4u, that will generate `len([list of modules])` projects, one each time `vu = VUnit.from_argv()` is executed. In order to define multiple libs for a single project, you need to create `vu` outside of the for loop.

[2019-04-25 23:44] mickey4u commented on #485
from vunit.verilog import VUnit
from os.path import dirname, join
from os import path

root = dirname(__file__)

@umarcor Something like this

[code]

[2019-04-25 23:48] umarcor commented on #485
That's it. Let's say that all of you modules have the same testbench entity (tb_test) and the same test name (test). If you generate libs `libA`, `libB`, etc. Then you will have the following list of available tests in the project:

- `libA.tb_test.test`
- `libB.tb_test.test`
- `libC.tb_test.test`

You can check if the project is being properly built by executing `python3 run.py -l`, which will on

[2019-04-25 23:50] mickey4u commented on #485
@umarcor Thanks.

[2019-04-26 00:12] umarcor commented on #485
Note that, alternatively, you can write a single testbench where all of the modules are instantiated, and a test is defined for each of them:

[code]

Which will produce the following list:

- `lib.tb_test.testA`
- `lib.tb_test.testB`
- `lib.tb_test.testC`

[2019-04-26 00:18] mickey4u commented on #485
@umarcor the only problem is the number of design modules are a lot, 1000+.

[2019-04-26 00:25] umarcor commented on #485
I see. Nevertheless, you are using python to create the project. You can do code generation online:

- Write some template of the main testbench and leave two placeholders (one in the while loop where test names are defined, and a second one where entities are to instantiated).
- Then, from python, just generate some dict/list/struct with 1000+ entries and write a simple generation function to exp

[2019-04-26 00:26] mickey4u commented on #485
Thanks

[2019-04-26 08:12] dsp20 opened #489 "Unism Library not found"
I am getting unisim library related error. I have compiled Xilinx IPs for Questasim. Still, compilation giving an error. What could be the solution for this?
![Capture](https://user-images.githubusercontent.com/46738970/56793220-18c4a880-6829-11e9-9d63-3309841fccf9.PNG)

[2019-04-26 16:25] kraigher commented on #479
I do not really know how I can help you. My general advice would be to start with the Vivado example project from VUnit and check that it even works in your environment. Step 2 would be to try to adapt it to your project one step at a time and paying attention when it stops working.

[2019-04-26 16:25] kraigher commented on #484
Question was answered so we can close

[2019-04-26 16:25] #484 closed

[2019-04-26 16:27] kraigher commented on #485
I would say it is probably easier to generate separate test benches for each module rather than one big test bench. It would also be easier to debug.

[2019-04-26 16:28] kraigher commented on #489
The only reason I can think of is that the unisim library is not compiled and added to the project.

[2019-04-26 16:29] mickey4u commented on #485
@kraigher Okay

[2019-04-28 21:54] mickey4u commented on #485
@umarcor @kraigher For some unknown reason, the testbenches are writing the same value to  their respective files but  when I test them one after the other they write different values. What could I have done wrong?

[code]

[2019-04-29 18:47] kraigher commented on #485
I do not get a clear picture of what you mean by this. Could you elaborate and show an example with more details.

[2019-04-29 19:04] mickey4u commented on #485
@kraigher So basically I created two modules `muxA.sv` and `muxB.sv` and their respective testbenches `tb_muxA.sv` and `tb_muxB.sv`. These testbenches write to separate files the number of test cases passed by the modules. What I am observing is the number of testcases passed by one of the modules is written into both files. But when I test them individually they output the different values into t

[2019-04-29 19:06] kraigher commented on #485
Do you create a unique file name for each test bench?

[2019-04-29 19:07] mickey4u commented on #485
yes the files are unique.

[2019-04-29 19:08] kraigher commented on #485
Ok then you have some other bug in your code

[2019-04-29 19:17] mickey4u commented on #485
Testbench: the files they write to differs
[code]

[2019-05-02 05:50] dsp20 commented on #479
Yes. I started with vivado Example project and after running run.py script Xilinx IPs are getting compiled and after IPs compilation, execution stops with the error

"compilation failed due to previous error"

.  At the start of the compilation, I am getting an error

 and after that, all ips are getting compiled and execution stops. Related to "sccom" error Xilinx says we can ignore it and they w

[2019-05-02 13:11] dsp20 commented on #489
I have modified modelsim.ini file and now able to see all library files in Questasim. Please see attached image
![Questa](https://user-images.githubusercontent.com/46738970/57077271-3dc58980-6d09-11e9-8b18-9e2e27868a14.PNG)
In this image we can see "proc_sys_reset_v5_0_13" library is added in Questasim. But while compiling  project from Vunit it is giving an error for "proc_sys_reset_v5_0_13". Ple

[2019-05-05 13:19] marph91 opened #490 "How to pass >32 bit variables from python script to DUT"
I have a DUT with an input of type `std_logic_vector(127 downto 0)`. In a python script the value is generated and has to be passed to the DUT. My current approach is to split it in four 32 bit integer and save to the csv file, only to reassemble it later to the 128 bit vector again. What is the best practice for this scenario?

[2019-05-06 05:16] LarsAsplund commented on #490
You can pass it as a string generic. Have a look at #419.

[2019-05-06 17:26] #490 closed

[2019-05-09 18:40] nanduhumedo commented on #168
Was any further progress made on this issue?  I'd also like to use the PCK_FIO library for logging.

[2019-05-09 18:59] LarsAsplund commented on #168
@nanduhumedo No, there are no news in this area. Have there been any updates to that package? I still think it would be best if we could reuse rather than reimplement. If that is not possible I guess we could consider making our own formatting package

[2019-05-09 23:52] nanduhumedo commented on #168
I don't believe there have been any updates, but I've used a wrapper around PCK_FIO that implemented info(), debug(), and error() .  Will need to get the creator's permission, but could most likely share this if you have any interest in adapting it.
Tested today, it is still backwards compatible with the current log functions since by default it takes only strings.

But you bring up a good point t

[2019-05-10 05:34] dsp20 opened #491 "Configuration Parameter in System Verilog Testbench"
How can we set configurable parameters in system verilog testbench?. Like in VHDL tenstbench we use **runner_cfg: string** and in **test_runner_setup**.
Also for each test case entire simulation resets and start again. What if I want to check multiple test cases in a single run only? What could be the requirement for this in system verilog testbench.

[2019-05-10 13:07] LarsAsplund commented on #491
An example for a SV testbench can be found [here](http://vunit.github.io/user_guide.html#systemverilog-test-benches). Info on setting parameters is in the interface [documentation](http://vunit.github.io/python_interface.html)

[2019-05-10 16:01] Aaron-Hartwig opened #492 "Feature Request: Parity support for VHDL UART verification component"
It would be nice to have even/odd parity support in the UART verification component.

[2019-05-11 09:38] suoto commented on #168
@nanduhumedo No reply, unfortunately. The original source was under GPL v1, I cloned it to https://github.com/suoto/hdl_string_format and made it GPL v2, I'm happy to maintain it. (I'm not a license expert but afaik GPL code can be forked if it remains open source, so it should be fine really).

[2019-05-15 12:48] dsp20 commented on #491
The example you shared does not show parameter passing. I want to pass parameters from **python script to** **system Verilog testbench**

[2019-05-16 04:29] LarsAsplund commented on #491
What you're looking for is the set_parameter method in the API documentation.

[2019-05-16 08:45] dsp20 commented on #491
Yes, that is for python side. What should we add in system Verilog testbench side? Like we add runner_cfg: string for VHDL testbench.

[2019-05-17 09:05] LarsAsplund commented on #491
Here is one example: https://www.edaplayground.com/x/2NJb

[2019-05-18 15:39] umarcor opened #494 "Verification components make GHDL crash when too large objects are allocated"
There are some issues with GHDL and the allocation of large arrays: ghdl/ghdl#611, ghdl/ghdl#812, ghdl/ghdl#822, #342...

Usually, the user can work around them by carefully designing the testbench. However, sometimes VUnit tries to grow some internal variable above the limit, which makes GHDL crash. This has been reported in ghdl/ghdl#752, where @tgingold [pointed out](https://github.com/ghdl/ghd

[2019-05-20 01:23] umarcor commented on #494
Upon further inspection, the example above works with `v4.0.8` but it fails after https://github.com/VUnit/vunit/pull/420/commits/0500e20b7f61397358fddeba116239b3f40f1271 (#420).

[2019-05-20 07:21] LarsAsplund commented on #494
I have yet to recreate this and look into the details but are you aware that you can specify your own actor when creating a new VC? For that actor you can specify a limited inbox size that would create backpressure when full. Would that solve your issue?

[2019-05-20 07:27] eschmidscs commented on #494
We have just solved some GHDL related memory issues by increasing the stack size with ulimit - as proposed in at least one of the bug reports IIRC.
This can be tested with a simple loop allocating vunit memory in chunks. It will crash at some point with ghdl. This limit scales directly with ulimit.

While this does probably not solve the reported issue here, it might help to avoid similar problems

[2019-05-20 12:48] umarcor commented on #494
No, I was not aware. And yes, it might solve my issue. I will try it.

Nevertheless, I could work around it by reverting all the modifications to `examples/vhdl/hsconv2/test/py/tb_py_axis_hsconv2.vhd` since `v4.0.8` (i.e. just before #420):

[code]

Therefore, I think that some 'memory leak' might have been introduced in #420 which I have not been able to find. But it is strange to me that GHDL do

[2019-05-20 16:07] umarcor commented on #494
I can confirm that `ulimit -s unlimited` avoids the crash. Furthermore, the comment by @eschmidscs applies:

With the default ulimit, the example above requires up to 48.7 MB of memory. When unlimited, it uses up to 56.7 MB. This is coherent with the fact that VUnit increments the allocated length for a given string by duplicating the length. If the buffer length is 4 times larger, up to 218.7 MB

[2019-05-20 19:57] LarsAsplund commented on #494
@umarcor You need separate actors for the two VCs or they will share inbox and compete over trying to serve both  push and pop commands.

[2019-05-20 22:04] umarcor commented on #494
I tried this now:

[code]

[code]

I pushed the modifications to branch [bug-stream-stack](https://github.com/dbhi/vunit/tree/bug-stream-stack). You can test it in docker with:

mcode seems to work:

[code]

LLVM fails:

[code]

[2019-05-21 15:41] petandpal opened #496 "Attribute error: 'NoneType' object has no attribute 'write'"
Hello,

I am a new user of vunit and was trying to run the 'VHDL user guide' example provided with Questasim and Python 3.4/2.7.

However I get the above error after successful compilation.  It seems like no tests are being found based on the nonetype object being used.

![vunit_error](https://user-images.githubusercontent.com/50879593/58110307-ea7e8280-7bb4-11e9-82e8-30adec47b67d.JPG)

How do I r

[2019-05-21 16:19] 1138-4EB commented on #496
I think that the test is being found because `Starting lib.tb_example.all` is found. You can check it with `python3 run.py -l`. The error seems to be produced when it tries to print/flush some content (expectedly the output of the simulation, either to stdout or output.txt), and for some reason it is empty.

I would suggest to provide us the full sequence of commands that you are introducing.

[2019-05-21 16:30] petandpal commented on #496
Here is my sequence of commands:

Downloaded tb_example.vhd, tb_example_many.vhd and run.py into working directory.

Linux prompt> setenv PYTHONPATH /apps/elec/ic/vunit/vunit_hdl-4.0.8
Linux prompt> python run.py

Could this be a problem with Colorama? I had to comment out a portion of the 'wrap' definition in test_runner.py because colorama could not be found as shown below:

<<<<<<<<<<<
def wrap

[2019-05-21 17:07] 1138-4EB commented on #496
- Is `python` Python 2 or Python 3? I suggest using Python 3.
- How did you install VUnit?
- Do you have any other supported simulator installed on the system? If so, you should set an envvar to select one. Nonetheless, I think that this is not a problem for you, because VUnit explicitly complains about it when it cannot find a simulator.

I think this is not a good approach. I suggest to install

[2019-05-21 18:27] LarsAsplund commented on #491
@dsp20 Have you managed to solve your issue?

[2019-05-21 21:18] jezbaker110 opened #497 "vunit work library issue"
I have an issue where I have tried to list all my project files in the python script. However the code has some IP files which reference packages in a work library. I cannot change the IP code. Vunit is saying it cannot find these files. Vunit will not let me compile these files into a work library, so I am not sure how to get around this issue. It not allowing the design to be compiled. I have ch

[2019-05-21 22:04] umarcor opened #498 "Tests that log heavily are killed due to memory starvation"
The following example will progressively allocates memory until it takes all the available RAM and swap; it is killed by the kernel. However, if the same binary is executed directly (i.e., without Python), the memory starvation error is not present. The issue is independent of `-v`.

I think this might be caused by VUnit buffering all the output from the simulator until the test is finished. A pos

[2019-05-21 22:55] 1138-4EB commented on #497
The work library is a special name in VHDL which means 'the same library where this element is defined'. If you compile a module A to library 'lib' and it uses `work.B`, then module B must also be compiled to library 'lib'.

[2019-05-22 01:16] GlenNicholls opened #499 "Feature Request: documentation walking through setting up CI with VUnit"
I am working on setting up TravisCI and possibly exploring the option of other CI environments as well. However, I am completely new to this and do not know how to accomplish this for an open source VHDL code base I am working on.

Is it possible to add instructions to the documentation for setting up a simple example project with TravisCI and GitHub?

When considering using a different simulator

[2019-05-22 05:29] dsp20 commented on #491
Yes. I referred files from [](https://github.com/VUnit/vunit/tree/master/vunit/test/acceptance/artificial/verilog) this link. Now able to pass the parameter values from python to Verilog testbench

[2019-05-22 07:03] zhajio1988 opened #500 "when run a regression of tests without -q, ctrl+c can not abort the execution"
hi, everyone, i write a script for running regression test with some features (https://github.com/zhajio1988/YASA) which use testrunner and reporter from vunit。
but i have encounter some problems。
![image](https://user-images.githubusercontent.com/26461668/58153726-5ee31f80-7ca2-11e9-953e-164850cc7b3e.png)
when running regression without -q option。that is to say print result to stdout。 when use ct

[2019-05-22 13:08] 1138-4EB commented on #499
Hi @GlenNicholls! First, I would suggest to have a look at http://vunit.github.io/cli.html#continuous-integration-ci-environment. If you have used docker before, you will probably know all of it already, but I think it is worth a quick read.

Then, you can see https://github.com/ghdl/docker/blob/master/USE_CASES.md. It explains how to use the GHDL docker images that we provide along with VUnit.

I

[2019-05-22 16:04] LarsAsplund commented on #499
@GlenNicholls I'm a bit reluctant to add such information to our documentation as I fear it would require a lot of support and maintenance. CI is a big topic and most stuff has nothing to do with VUnit and our time is limited so we need to focus on the "core".

However, I recognize that this is an important topic so a compromise could be to setup a wiki page with user provided examples and externa

[2019-05-22 19:29] petandpal commented on #496
So I had Colorama installed, uncommented out my changes to the vunit test_runner.py and re-ran with Python3. I got the error that Colorama could not be found. But when I ran it with Python2, it worked and the test ran. So I will stick with Python2 for now.

[2019-05-22 19:35] petandpal opened #501 "Vunit with Xcelium or Vivado?"
Hello, I am trying to run Vunit with Xcelium (using the incisive simulator option) but I am seeing some strange issues. First it cannot find the installation root and is looking for Virtuoso. It then goes forward and gets stuck with vunit_lib not found even though it is specified in the cds.lib file. Any help with this?

setenv VUNIT_SIMULATOR incisive
My path points to <installation dir>/XCELIUM1

[2019-05-22 19:45] 1138-4EB commented on #496
Then, it is possible you installed colorama with `pip`, instead of `pip3`. That's why it is not found.

Note that Python2 will be deprecated by the end of this year: https://pythonclock.org/

[2019-05-22 19:46] 1138-4EB commented on #501
Ref #325.

[2019-05-22 19:48] petandpal commented on #325
Hello, I am trying to run Vunit with Xcelium (using the incisive simulator option) but I am seeing some strange issues. First it cannot find the installation root and is looking for Virtuoso. It then goes forward and gets stuck with vunit_lib not found even though it is specified in the cds.lib file. Any help with this?

setenv VUNIT_SIMULATOR incisive
My path points to /XCELIUM1809/tools/bin

![v

[2019-05-22 19:54] 1138-4EB commented on #325
@petandpal, I think that this issue is for users willing to contribute by running the acceptance tests of VUnit itself. Hence, it is probably not the best place to repost a specific issue with a custom project that you are trying to run. Maintainers are aware of your other issue, and putting it here is not good netiquette.

[2019-05-22 20:04] LarsAsplund commented on #500
@zhajio1988 I'll leave the original question to @kraigher but I have a few comments on your [YASA project](https://github.com/zhajio1988/YASA).

It looks like you're creating a test framework more targeting SystemVerilog/UVM with support for some simulators VUnit do not support and extra CLI options. May I ask why you've decided to do that over making contribution to VUnit? We already support SV/U

[2019-05-22 20:21] LarsAsplund commented on #501
I've spoken to several users of Cadence simulators interested in VUnit but we cannot provide any good support without simulator licenses and that's why we're asking for help in #325. An alternative is to have Cadence to support the project. I've tried to reach out but no success so far but I know that they've used it internally with Xcelium. I encourage you and any other Cadence user to contact th

[2019-05-22 20:21] LarsAsplund commented on #501
See #209 for Vivado

[2019-05-22 20:31] LarsAsplund commented on #501
@petandpal Would you be willing to create a VUnit support request on https://community.cadence.com? Then the rest of us can go there and 👍

[2019-05-22 20:33] petandpal commented on #501
Sure.

[2019-05-22 20:33] LarsAsplund commented on #501
@petandpal Please post the link when done

[2019-05-22 20:35] #491 closed

[2019-05-22 20:46] petandpal commented on #501
https://support.cadence.com/apex/COSCaseDetailPage?CaseID=5000V00001J93GT

[2019-05-23 01:49] zhajio1988 commented on #500
@LarsAsplund
hi, thanks for your excellent work. i am sorry about license  issue. i don't have many sense about license.  what can i do for you about license issue?

As for  YASA  test framework.  i mainly worked on SystemVerilog/UVM.  The normal work flow is getting a filelist from design team, then in build.cfg,  create a build which corresponding to a design module or a subsystem. In a build se

[2019-05-23 19:11] LarsAsplund commented on #500
It looks like this would be possible with VUnit today. I recommend that you have a look at this [discussion](https://github.com/VUnit/vunit/issues/328). It would save you tons of work and maintenance to go with a VUnit-based solution and if you do VUnit would have improved simulator support (seems like you're working with Incisive and VCS). I've tried to get better support for Incisive/Xcelium for

[2019-05-23 19:13] LarsAsplund commented on #325
If you have a Cadence license you can go and support https://support.cadence.com/apex/COSCaseDetailPage?CaseID=5000V00001J93GT

[2019-05-23 20:20] LarsAsplund commented on #501
I can't get access to Cadence support unless I have a license, which I don't. The [user community](https://community.cadence.com) is open though.

[2019-05-23 20:34] LarsAsplund commented on #499
@GlenNicholls @1138-4EB Here is a very lazy start for you guys to improve upon https://github.com/VUnit/vunit/wiki/CI-Tool-Integration. Ok?

[2019-05-24 01:37] zhajio1988 commented on #500
@LarsAsplund thanks for your suggestion. i will  keep the original license and copyright note in the files.
i have a question about vuint?
it looks like vunit is a unit test framework. if i implements the features (i mentioned last reply) by Vunit, i need write a lot of pythons scripts. in fact,  some dv engineers prefer to writing init file format。so， could you show me an demo about vunit used in

[2019-05-24 06:40] LarsAsplund commented on #500
@zhajio1988 Can you provide me with a minimal example of an ini file containing the features you want to support? It would make it easier for me to see how well that approach matches the VUnit scripting features. Once that relation has been establish one can use [configparser](https://docs.python.org/3/library/configparser.html) for the translation

[2019-05-26 06:31] kraigher commented on #498
The test runner does not buffer stdout in memory but uses the file. The problem is when the XML report is to be created, the library we use needs create the file in memory. I would be a useful enchanement to  investigate if the XML-file can be created in a streaming way.

[2019-05-26 06:32] kraigher commented on #497
The question was answered by @1138-4EB

[2019-05-26 06:32] #497 closed

[2019-05-26 06:33] kraigher commented on #496
The question was answered by @1138-4EB. Install dependencies instead of commenting out code and it will work.

[2019-05-26 06:33] #496 closed

[2019-05-26 06:39] kraigher commented on #500
VUnit is just a Python library so there is nothing stopping you from adding abstraction layers on top if it. For example if you have an existing .cfg file format you can create a generic run.py file that will parse the .cfg file and run the tests.

[2019-05-26 12:09] jezbaker110 commented on #497
I have tried compiling these pkg files into another library but then when vunit compiles the code,  it throws up an error because it cannot find these files in the work library being referenced.

[2019-05-26 12:18] 1138-4EB commented on #497
Almost all the [examples](https://github.com/VUnit/vunit/tree/master/examples/vhdl) instantiate components from `work`. You can have a look at them as a reference. Apart from that, it is really hard to guess a solution, if you don't help us by providing some detailed info about your use case. Can you provide a MWE? Or, at least, the `run.py` that you are using and the error message you get?

[2019-05-26 12:39] jezbaker110 commented on #497
I was just using the normal method in my run.py file

from os.path import join, dirname
from vunit import VUnit
root = dirname(__file__)
ui = VUnit.from_argv()
lib = ui.add_library("lib")
lib.add_source_files(join(root, "*.vhd"))

The error was telling me that it could not find the library work.
This was when it compiled a file was referencing a pkg file in the library work.

My modelsim.ini file

[2019-05-26 13:02] 1138-4EB commented on #497
That sounds as a problem with the compilation order. Since you are compiling all the sources to the same library, all the components must be found unless i) it was not compiled before or ii) some error was produced while it was being compiled. Please, check the log to ensure that the offending module has not been compiled. If so, rewrite the `run.py` to add sources explicitly in an order which you

[2019-05-26 14:00] jezbaker110 commented on #497
Thanks for the reply. I thought the same thing and tried to compile the pkg files first, using the order that I know works when just compiling into modelsim, but I still had issues.

Sent from my iPhone

[2019-05-26 16:43] #499 closed

[2019-05-26 17:17] LarsAsplund commented on #497
@jezbaker110 We need to see some logs and code to support you on this.

[2019-05-27 02:07] zhajio1988 commented on #500
@kraigher could you give an API user guide Vunit supply? so I can try it?

[2019-05-27 20:25] kazooiebombchu opened #503 "Controlling execution order of the testbenches"
Is it possible to have a feature to control execution order of the testbenches? Like having short testbenches executed first and then slow ones last or something similar.

[2019-05-28 14:09] kraigher commented on #503
Sure it is possible but there is no such feature yet.

[2019-05-28 17:19] LarsAsplund commented on #503
This is part of a broader approach of making test execution more efficient:

* Run short tests first to minimize time to bug detection. Without any proof I believe this is a good strategy in most cases.
* Perform load balancing between threads to make the total test time shorter

[2019-05-29 08:46] kazooiebombchu commented on #503
I could also look into to implement something if there is no one else plan to do this. Any suggestion how this should be implemented as a feature. How currently tests are ordered and how tests are distributed to different threads?

In the past I was fixing a bug with Ruby on Rails parallel testing for Rails 6.0. So some knowledge from there could be potential here too :)

[2019-05-29 14:41] zhajio1988 commented on #440
@olafvandenberg i think these feature is easy to implement. just put testcase in a specified directory, and glob all of them, then use bash completion function. just link vunit -t tab tab tab, will show all testcase name.

[2019-05-29 17:14] kraigher commented on #503
I believe tests are run in the order they appear in the test bench and in the order the files are added. Thus you have some control already today.

[2019-05-29 17:18] kraigher commented on #503
When run in parallel tests are just sent to worker threads in the same order as they would be processed in a single thread.

[2019-05-29 17:19] kraigher commented on #503
If more control of execution order is needed there is an attribute system that could be used to set a priority.

[2019-05-29 21:15] LarsAsplund commented on #486
@dsp20 Any progress? Should the issue remain open or can it be closed?

[2019-05-29 21:19] benreynwar commented on #134
@cmarqu Looks like you've updated your master branch since it contained the `vcs_interface.py` file.  Do you still have it anywhere?

[2019-05-29 22:14] petandpal opened #504 "Incisive errors when compiling Vunit VHDL sources"
I am trying to run Incisive 15.20 with Vunit but I get syntax errors when compiling the vunit_lib library as shown below:
![vunit_incisive_error_mmsig1](https://user-images.githubusercontent.com/50879593/58595047-09c08400-8235-11e9-9f10-fe0e800f38e1.JPG)
![vunit_incisive_error_mmsig2](https://user-images.githubusercontent.com/50879593/58595050-0b8a4780-8235-11e9-8c20-83189de9b298.JPG)

I get a lot

[2019-05-30 04:37] dsp20 commented on #486
Now I am not compiling Xilinx IP using Vunit environment.

[2019-05-30 07:31] LarsAsplund commented on #504
Initially when the Incisive support was added I remember that there were many issues related to the VHDL standard so it was not possible to to get anything beyond VHDL-93 to work. OSVVM and some of our own packages are VHDL-2008 so the first step would be to set the `VUNIT_VHDL_STANDARD` environment variable to 93. That will exclude such packages from the compilation. However, the offending packag

[2019-05-30 09:52] kazooiebombchu commented on #503
I'd like to give it a try to implement this feature. @kraigher what you mean by attribute system could be used? Can you give me an example about this? I haven't used this library that much yet. And how VUnit can determine how long each test case takes so better load balancing can be implemented.

I think in Ruby parallel-testing gem when test are executed for the first, time to execute it is measu

[2019-05-30 11:09] cmarqu commented on #134
@benreynwar I hope this is the latest version I had: https://gist.github.com/cmarqu/60b4ea8517769faad412cb63b198c265

[2019-05-30 11:56] 1138-4EB commented on #440
@zhajio1988, could please elaborate your comment? I don't understand *'just put the testcase in a specified directory'*. There is already a mechanism to get the list of testcases (´-l´). I believe that @olafvandenberg is suggesting to use internally.

[2019-05-30 21:24] LarsAsplund commented on #503
@kazooiebombchu In the [documentation](http://vunit.github.io/python_interface.html#attributes) for attributes you'll find this example:

[code]
where a custom requirement attribute is set for a test case. Note that the attribute starts with . since we reserved names not starting with . for builtin attributes. This means that we could add a new builtin attribute `priority`. Also note the `None` ar

[2019-05-30 22:21] benreynwar commented on #134
@cmarqu Thanks!  Do you also have the `vcsmx_setup_file.py` that it uses?

[2019-05-31 06:27] haggaie commented on #209
Hi, I rebased the xsim support on master and tested the SystemVerilog examples. I had to modify the code a bit to make it work on Linux.

[2019-05-31 07:17] LarsAsplund commented on #209
I'll test this. I think it's about time we get this going so any help is appreciated. @PetterssonMagnus Do you have any comments on the status of your work?

[2019-05-31 07:24] LarsAsplund commented on #457
@aodling Any updates on this? It's hard for us to proceed without a minimal reproducible example.

[2019-05-31 07:28] LarsAsplund commented on #451
@cmarqu Any comments on your use case or should I proceed and implement what's been suggested?

[2019-05-31 07:31] LarsAsplund commented on #486
@dsp20 Ok, in that case I'll close this issue

[2019-05-31 07:32] #486 closed

[2019-05-31 07:48] LarsAsplund commented on #500
First create [a custom command line option] to pass your configuration to the `run.py` script. Then parse it using [configparser](https://docs.python.org/3/library/configparser.html). Finally map the parsed configuration to the corresponding VUnit functionality using the existing APIs. To give you any more help on what that functionality might be we would need an example of such a configuration fi

[2019-05-31 07:51] LarsAsplund commented on #489
@dsp20 Can this also be closed?

[2019-05-31 08:06] dsp20 commented on #489
Yes. This can be closed

[2019-05-31 12:21] #489 closed

[2019-05-31 18:27] cmarqu commented on #134
Oh, right. Actually, I guess the right set of files is at https://gist.github.com/cmarqu/b7c8d5470d51204b3e66bab289ed548d

[2019-05-31 19:28] PetterssonMagnus commented on #209
Hm, this was a while ago.
Status, Been using vunit and xsim for sv testbenches. The only non pushed, functional, addition I have is a crude way of specifying Xsim initfile. Used to locate ips and other Xilinx libraries.
At some point I had the vhdl examples compiling but ran into null pointer exceptions immediately at startup(elab). Think it was due to the order of objects (runner perhaps) being c

[2019-05-31 20:58] benreynwar commented on #134
Alright.  I've made extremely minor changes to get it installing.  Branch is at:
https://github.com/benreynwar/vunit/tree/vcsmx_interface

I'm getting the following error when I run `vunit/examples/vhdl/check/run.py`:

[code]
Any tips on what's likely going wrong?

[2019-05-31 22:18] cmarqu commented on #134
Ah yes - try running https://github.com/VUnit/vunit/blob/master/tools/incisive_vhdl_fixup.py on this file (or all sources).

[2019-05-31 22:50] cmarqu commented on #451
Use case is actually just that I wanted to write some similar library in Python for use with eg. cocotb, and thought that this number format is about the only thing I would change in my version, the rest is very nice.

While it's true that proper machine readability requires more markup like in JSON, it's still nice to just use grep/sed/etc. on the log output you already have and not accidentally

[2019-06-01 06:41] LarsAsplund commented on #451
@cmarqu Thanks for making that clear. That would further motivate why we should use the most commonly used prefix. I don't mind if our format is used for grepping strings. What I do mind is if people start to build more permanent tools that rely on our format. Log parsing is heavily used with UVM to figure out what's going on but I think that's a poor practice to handle missing functionality that

[2019-06-03 13:31] pStefanNilsson opened #506 "merge_coverage fails with too long argument (on Windows)."
The merge_coverage method (in modelsim_interface.py) will crash when ran with too many test cases to merge.

[code]

It looks like that when the vcover_cmd string exceeds 32768 characters the underlying subprocess call will crash.

Depending on test names, path, etc we run into this problems at approx 200 test cases.

One possible workaround could be to use the vcover merge -inputs flag and put th

[2019-06-03 15:31] LarsAsplund commented on #506
Have you tried your workaround to see if it works? The error message

Suggests something else but maybe it's misleading.

[2019-06-03 15:48] petandpal commented on #504
Lars,

I tried to get a simple example to work with a Cadence engineer.  They are able to compile it on their side. But it does not work on my system. So perhaps there is an issue with my installation.

Because I do not have root access to my Python installation directory, I use the third method of installation of vunit  - essentially downloading vunit_hdl-4.0.8.tar.gz from PyPI and untarring it.

[2019-06-03 15:57] 1138-4EB commented on #504
@petandpal, you can try defining envvar `PYTHONPATH=/path/to/your/vunit/repo`.

[2019-06-03 16:01] petandpal commented on #504
That's what I do currently.

[2019-06-03 16:05] 1138-4EB commented on #504
When you do that, you do not need to install VUnit by running `setup.py`. Just go to your design and execute the corresponding `run.py` directly. Is this what you are doing?

[2019-06-03 16:05] petandpal commented on #504
Yep.

[2019-06-03 16:06] petandpal commented on #504
And its not working this way. So I was thinking may be I must be missing something by not installing it the recommended way. So you are confirming that this should not be the source of my issue with compiling to Cadence?

[2019-06-03 16:10] 1138-4EB commented on #504
With either GHDL or ModelSim/QuestaSim, the following procedure works:

[code]

Is colorama available on your system? Can you please post the exact error messages that you are getting (in case they are different from the screenshots)?

[2019-06-03 17:29] kraigher commented on #506
We had this problem with RivieraPRO a while back, the fix was to write the files in a TCL script and run the script instead of passing them on command line. If you are proficient enough in Python you can attempt to make a PR of this yourself.

The relevant code is here:
https://github.com/VUnit/vunit/blob/master/vunit/modelsim_interface.py#L331

Similar solution for RivieraPRO:
https://github.com/

[2019-06-03 17:41] kraigher commented on #480
@1138-4EB If you want to do more of this yourself it would be great. I am just not able to invest so much time in this right now. If you help start a new repository for the verification components I would support it. My hope would be that more people would have permission to merge pull requests in this repo to share the burden to review.

[2019-06-03 18:17] 1138-4EB commented on #480
Hi @kraigher, thanks for coming back. It is almost done already:

- Main repo after vcomponents are (re)moved: https://travis-ci.org/1138-4EB/vunit/builds/540795441
- New verification components repository: https://travis-ci.org/1138-4EB/vunit/builds/540874222

For now, I am not using separate repositories, but just using separate branches on the same repo. Nonetheless, I would appreciate if you c

[2019-06-03 19:18] kraigher commented on #503
@kazooiebombchu Regarding VUnit knowing the execution time of the tests there is no mechanism for that today. If the use case is load balancing when re-running regressions on a test server the test execution time could be read  from a previous test result XML file that is given via a command line argument.

[2019-06-03 20:51] petandpal commented on #504
I re-downloaded Vunit into a different directory and set PYTHONPATH to that directory/vunit_hdl-4.0.8.

Now when I run the array example, I see two different errors now when I run Xcelium/Incisive.The errors are the same with Python 2 or 3.  I do have colorama installed. When I run Questasim in the same directory, it works fine. **_Not sure what to do next!!!_**

Here is the Xcelium error snapshot

[2019-06-04 05:19] LarsAsplund commented on #504
Did you set `VUNIT_VHDL_STANDARD` to `93`? If you do you can't have the context statement in your testbench but rather replace that with the use statements within.

[2019-06-04 07:05] pStefanNilsson commented on #506
@LarsAsplund
Yes, I belive the error message is somewhat missleading. Some [searching](https://stackoverflow.com/questions/2381241/what-is-the-subprocess-popen-max-length-of-the-args-parameter) the error message  indicated that it is an limitation on 32768 characters in the[ Win32 API](https://docs.microsoft.com/en-us/windows/desktop/api/processthreadsapi/nf-processthreadsapi-createprocessa). My o

[2019-06-04 07:05] pStefanNilsson commented on #506
Sorry, newbie :)

[2019-06-04 11:31] LarsAsplund commented on #506
@pStefanNilsson Basically you start by [forking](https://help.github.com/en/articles/fork-a-repo) our repository to create a copy on which you can make the fix. Once that is done you create a [pull request](https://help.github.com/en/articles/creating-a-pull-request-from-a-fork) from that fork which will allow us to review your work. When your updates have been reviewed and accepted we will merge

[2019-06-04 18:21] 1138-4EB commented on #480
After the discussion in Gitter, this is the new proposal:

- Main repo without AXI, UART, Avalon or Wishbone:
  - https://github.com/1138-4EB/vunit/tree/distributed-vcs
  - https://travis-ci.org/1138-4EB/vunit/builds/541049916
- Repo for AXI vcs:
  - https://github.com/1138-4EB/vunit/tree/vc_axi
  - https://travis-ci.org/1138-4EB/vunit/builds/541252008
  - Contains sources, acceptance tests and tw

[2019-06-04 18:26] 1138-4EB commented on #480
FTR, this is the script I used to split each of the new vc repos:

[code]

where `<REPO SPECIFIC FILES>` is:

[code]

or

[code]

or

[code]

or

[code]

[2019-06-04 18:59] kraigher commented on #480
There are test still tests of the memory model itself which should still be part of the core in the VUnit repository.

I think the different vc should get new library names to prevent unnecessary namespace conflicts. Doing this only the library names can of VC can conflict which each other but not the files within.

I think lets start with vunit/vc_axi first and let that be the prototype.

[2019-06-04 19:07] #316 closed

[2019-06-04 19:17] 1138-4EB commented on #480
Indeed. This was a misunderstanding on my side. It is fixed now.

I think this should be up to the maintainer/developer. For now, it is not required, and I think it will be easier to follow the refactoring if we avoid adding this constraint. Of course, as a maintainer of vc_axi, the first thing you can do is to add a README specifying the expected library name and adapt the two examples accordingl

[2019-06-04 19:27] kraigher commented on #480
I am okay with doing it in a different order where the split is done before the new library name is introduced. But I think we need to introduce library names for each vc-repo to provide namespace protection and not encourage people to use vunit_lib.

It is ok as it is not avoidable

[2019-06-04 20:32] 1138-4EB commented on #480
Please, see #511 and the two new repos.

Travis does seem to need some time to pick the changes. But vc_uart is already being built: https://travis-ci.org/VUnit/vc_uart/builds/541420627

[2019-06-11 14:44] 1138-4EB commented on #480
As commented in Gitter:

Meanwhile, I added a mechanism to:

- Declare which third-party VCs are to be used in a design through `ui.use_verification_components`, whithout having to manage the location of each third-party repo separately. Although, optionally, it is possible to do so.
- Automatically include in the docs the list of VCs and examples provided by each third-party VC.

To do so:

- The

[2019-06-11 20:20] benreynwar commented on #134
I'm currently stuck because for some reason the object file for the logger_pkg package is not getting generated, and so I get error messages when linking.  No error message is getting generated before the linking message so debugging is a little tricky.  I've put a support request in with synopys so I'll see whether they're able to help.

[2019-06-12 05:16] LarsAsplund commented on #134
@benreynwar is that support request open so that anyone can see?

[2019-06-12 18:03] kraigher commented on #506
You fixed this with the PR

[2019-06-12 18:03] #506 closed

[2019-06-12 19:33] benreynwar commented on #134
@LarsAsplund No, I don't think it's possible to make it public.  My next step is to produce a minimal testcase that reproduces the issue independently of VUnit so that I have a better chance of getting help from them.

[2019-06-13 22:51] ttobsen opened #517 "Mocking: check_only_log with any message"
In some cases, I just want to check if a log message occures with a given `log_level_t`, but I don't want to verify the content of the message itself. For exammple I just want to check that a error has raised, but I don't care what the content of the error message was.

I'm not sure if this is currently possible, because the `check_only_log` requires the `msg` parameter. If not, maybe it makes sen

[2019-06-15 06:57] kraigher commented on #517
It is not possible at the moment but it would be a good feature to have. Maybe by adding a default msg to the check procedures with the semantic that the message is not checked. This is the way it works with the log time field.

[2019-06-15 11:10] ttobsen commented on #517
Alright, but there is ine thing why I would suggest to overload the function:

The `msg` parameter is not at the end of the list where the default parameters start. The `msg` and the `log_level` would have to be twisted, which would break compatibility for existing test environments. If not twisting, the function call would look like
`check_log(my_logger, msg => open, error)`

If you don't mind, I

[2019-06-15 11:12] kraigher commented on #517
ok go ahead

[2019-06-15 18:19] LarsAsplund commented on #517
A common mistake (at least for me) when verifying a verification component is that I write a test case which I think will trigger a specific error check but instead it fails too early on another error check. Without checking the message there is a risk that you would fail to discover that mistake. Providing a procedure allowing you to ignore the message may cause people to take a bad decision an g

[2019-06-15 21:16] ttobsen commented on #517
I understand your doubts. The problem is, that VHDL doesn't provide complex string operations. The best and cleanest option would be, to have something like regular expressions (or at least wildcard support for * and ?). But this is a lot of work to implement.

But having a "lazy" option at least with support of checking a substring using the `find` function, could be a good compromise as a first

[2019-06-16 06:53] LarsAsplund commented on #517
Yes, I think so. We can always add more string operations in the future. `find` is better than nothing and you still have the option to completely ignore the message if you want to.

[2019-06-17 07:20] Dhananjay20 opened #519 "passing array"

[2019-06-17 09:29] LarsAsplund commented on #519
What's possible to pass to the testbench is fundamentally a question about what the simulator supports. Typically they do not support complex data types so a solution can be to encode your complex parameter into a string, pass that string, and then decode in the testbench. For VHDL we have support packages for doing that but not for SV.

Can you show more exactly what type of information you're tr

[2019-06-19 12:09] bradleyharden opened #521 "New feature proposal: a codified dynamic type system"
I mentioned this on Gitter, but I think it might be best to create an issue to consolidate the discussion and make sure comments don't get lost.

I would like to develop a generic dynamic typing system. I'm drawing inspiration from the `queue_element_type_t` and trying to generalize and expose that as a codified interface. My goal is to provide a generic type mark that contains everything you need

[2019-06-19 16:25] benreynwar commented on #134
Synopsys support has reproduced the issue and are looking into it.

[2019-06-19 20:16] LarsAsplund commented on #521
Looks interesting! The best way forward would be to take small value adding steps and see where this goes.

For the first step I would suggest that you create `type_t` as a record containing an id and then a `new_type_t` function. Once you have that you can replace the queue element type enums with

[code]

To start with there is really no need for anything but a name property. Should consider mak

[2019-06-19 23:51] bradleyharden commented on #521
My original thought was that there would be a problem defining ownership. If `element_t` uses a `string_ptr` for the code, then who owns it when elements are created internally to VUnit, especially when pushing and popping? However, I think this might be solvable by carefully structuring functions and procedures to guarantee there is only one owner.

Part of my motivation here is to facilitate `bi

[2019-06-19 23:53] bradleyharden commented on #521
Also, you didn't answer one of my Gitter questions. Some of my changes to `codec_pkg` and `codec_builder_pkg` broke the code generation tools for the old `com` library. Is that ok? Can we remove those now?

[2019-06-20 03:04] umarcor commented on #521
This is coherent with some comments in the sources of string_ptr_pk and integer_vector_pkg, where the size of the allocated buffers is increased 'speculatively' to avoid too many allocations.

---

I must admit I'm a bit overwhelmed with this issue. I have not dig into queue and codec sources yet, so I'm blind. Anyway, I'll do my best:

Currently, `string_ptr` and `integer_vector_ptr` are implemen

[2019-06-20 06:36] LarsAsplund commented on #521
@bradleyharden

Let's see how it turns out. In this case there are no VHDL-93 issues

Great

Yes, we've supported it long enough. I think we should make a commit where all deprecated stuff in `com`, `logging`, `check`, and `run` is removed.

[2019-06-20 09:55] bradleyharden commented on #521
@LarsAsplund, I remembered the issue that motivated my distinction between `element_t` and `element_ptr_t`.

I think it would be elegant and unifying to use some version of `element_t` as the fundamental unit that `queue_pkg` operates on. However, `queue_pkg` always pushes the basic types by value. But if `element_t` is defined in terms of a `string_ptr`, pushing by value becomes awkward and will

[2019-06-20 10:32] bradleyharden commented on #521
I just took a deeper look at `queue_pkg` and I think there is room for improvement in the implementation. Right now, the string buffer is linear. When trying to push would overflow the buffer, a new, larger buffer is allocated and old data is dropped.

Changing the implementation to use a circular buffer would cut down on the number of times you need to resize. There would be a little more bookkee

[2019-06-20 12:01] bradleyharden commented on #521
I had another realization about the current implementation of `queue_t`. When a queue is initialized, the `string_ptr` length is 0. Here is the line where the queue is resized.
[code]
Suppose a 24-bit `std_ulogic_vector` is the first element pushed to the queue. The coded form has four fields, a 1-byte type, a 4-byte integer for the string length, a 9-byte range, and 12 bytes of data. That's 26 to

[2019-06-20 12:30] bradleyharden commented on #521
Sorry for the spam, but I want to jot these ideas down while I have them.

We can extend the reformulation of `queue_t` further. Define `element_t` as a `string_ptr`, then define `array_t` as a dynamic array of `element_t`. You can then base both `queue_t` and `dynamic_t` on `array_t`. The former is used when you want to consume and deallocate the elements as you go. The latter is used when you wa

[2019-06-20 18:51] umarcor commented on #498
Is the XML file generated even when `--xunit-xml` is not used?

[2019-06-21 15:51] benreynwar commented on #134
Synopsys has identified the bug and fixed it in O-2018.09.  I'm not sure which official build release it will be a part of.  I'm including a snippet where they describe what part of the VUnit code was triggering the bug:

There was a code generation optimization bug for handling up-level references to unconstrained parameters from a nested impure function.

Source code "src/logger_pkg-body.vhd" wh

[2019-06-22 04:36] bradleyharden commented on #521
@LarsAsplund, I now have a working implementation of `queue_t` that uses an array of `string_ptr_t` rather than a single `string`. It also uses a circular buffer, rather than a linear buffer. Furthermore, I updated the implementation of `string_ptr_pkg` to keep track of deallocated reference indices and reuse them. I wanted to minimize the number of times that `ptrs`, the `string_access_vector`, i

[2019-06-22 04:46] umarcor commented on #521
@bradleyharden, did you do those changes on top of #507 or independent to them?

[2019-06-22 12:34] bradleyharden commented on #521
No, I did not consider it. It wouldn't be hard to merge them though. All I did is add an integer_vector to use as a stack for old pointer reference indices.

The changes are just meant to get me to the point where I can test the performance difference between implementations of queue_t. We'll see what happens after that.

[2019-06-25 15:56] 1138-4EB commented on #458
@GlenNicholls, should this issue be closed now that #459 is merged?

[2019-06-25 17:14] umarcor commented on #455
As commented in [#459](https://github.com/VUnit/vunit/pull/459#issuecomment-505520722), I tried the scripts in this issue.

The version in https://github.com/VUnit/vunit/issues/455#issuecomment-470797811 does replicate all the std_logic_vector signals as many times as the number of bits. Unfortunately, the [fix](https://github.com/VUnit/vunit/issues/455#issuecomment-471569241) by @tmeissner does n

[2019-06-25 19:33] 1138-4EB commented on #449
@GlenNicholls, `--gtkwave-args` is specific to GHDL, and it does not support dumping constants or variables: [June 25, 2019 9:10 PM](https://gitter.im/ghdl1/Lobby?at=5d1271b581d4c416606db595).

[2019-06-28 08:51] LarsAsplund commented on #319
We have higher ambitions for this but I've added a basic timeout notification mechanism and an [example](https://github.com/VUnit/vunit/blob/master/examples/vhdl/run/tb_with_watchdog.vhd) on how to use it.

[2019-07-06 13:54] bradleyharden commented on #521
@LarsAsplund and @kraigher, I have some preliminary performance tests of my new implementation of `queue_t`.

My version of `queue_t` uses an `integer_vector_ptr` for the data, where each integer is a `string_ptr` to a pushed element. I also used a circular buffer, rather than a linear buffer like the current implementation. I think my implementation has a number of advantages:
- The `length` of a

[2019-07-06 15:28] umarcor commented on #521
@bradleyharden, that sounds really good. I'm looking forward to read the PR!

[2019-07-09 16:49] blueglyph opened #523 "Examples pages missing on website"
Most of the example pages linked from this URL of the website are missing:

https://vunit.github.io/examples.html

For example,

- https://github.com/VUnit/vunit//tree/master/examples/com/
- https://github.com/VUnit/vunit//tree/master/examples/array/
- https://github.com/VUnit/vunit//tree/master/examples/run/

and so on.

[2019-07-09 16:52] 1138-4EB commented on #523
Hi @blueglyph. Thanks for pointing it out. There is an item missing in the links. You need to add `vhdl` or `verilog` after `*examples/`. E.g:

- https://github.com/VUnit/vunit/tree/master/examples/vhdl/com/
- https://github.com/VUnit/vunit/tree/master/examples/vhdl/array/
- https://github.com/VUnit/vunit/tree/master/examples/vhdl/run/

I'll try to fix it ASAP.

[2019-07-10 14:34] #523 closed

[2019-07-10 21:52] ro-ca commented on #209
Hi! Is there any progress on this? What's the best way to test out what y'all have or help out? Still new to GitHub, but good at python / vhdl. Looks to my untrained eye that @haggaie and @PetterssonMagnus 's branches are identical, but both may have fallen somewhat behind the master. Is that accurate? Any thoughts on what needs to be done to get vhdl compiling?

[2019-07-10 22:52] 1138-4EB commented on #209
@ro-ca, I rebased their branch on top of master, so you can try it: https://github.com/1138-4EB/vunit/tree/petterssonmagnus-xsim

[2019-07-27 17:29] FAIG2014 opened #526 "modesim fails acceptance tests"
the problem:

my guess (I looked at the code a little bit) is that the print of a real number is not the same in all the compiler:
(talking about: real'image() )
ghdl seems to give 0.0
modelsim gives: 0.000000e+00

Is that a known issue?

I can fix it if you guys wants me to.
but how?

I see few options:
* can skip the tests (this sucks)
* I can just skip the "check_only_log"
* I can change the ex

[2019-07-30 19:18] LarsAsplund commented on #526
@FAIG2014 Please go ahead and fix it. I suggest that you check against the real image of the expected value rather than a hardccoded string representation. Seems like we've had problems with 0.9 before https://github.com/VUnit/vunit/blob/master/vunit/vhdl/check/test/tb_check_equal_real.vhd#L63

[2019-08-06 13:00] #526 closed

[2019-08-14 15:41] ktbarrett opened #529 "Two don't cares ('-') adjacent in a literal is parsed as a comment"
The `remove_comments(code)` function is overly simplistic. It matches any two adjacent `-` characters until the end of the line. `'-'` is also used as a "don't care" value for `std_logic`. If there is an `std_logic_vector` literal where there are two don't care values in a row (e.g. `'----'`), it is parsed as a comment and the rest of the line is removed, causing the parse to fail.

https://github

[2019-08-14 16:07] ktbarrett commented on #529
I am fairly certain that you *can* remove comments if they are the only thing on the line. There are no such thing as multiline string literals in VHDL, so there is no way for `--` to appear on a line without any code and not be a comment. Outside of that, whether a `--` is a start of a comment or not depends upon the parse of the code previous.

[2019-08-14 16:10] ktbarrett commented on #529
Also, I'm uncertain as to why you are replacing the comment with spaces. No code can follow a comment, replacing it with whitespace won't affect character index in error reporting because no error could exist after a comment starts.

[2019-08-15 05:16] LarsAsplund commented on #529
The purpose of our parser is to solve the small subset of the full parsing task we need to run VUnit. For example finding design unit and use statements so that we can figure out dependencies. Do you have a use case where this breaks due to don't care assignments or are you thinking about parsing more generally?

I recognize that there may be such use cases but the question is whether or not they

[2019-08-15 17:40] ktbarrett commented on #529
The parser fails because of syntax errors introduced by removing the rest of the line. For example, if a closing or opening paren is removed it will cause a failure to parse exception: `ValueError: Failed to find closing delimiter to ( in {code}`

[code]
After comment removal...
[code]

I can't post any of the failing code. And I know I could modify the source to get it to not fail, but that's sim

[2019-08-18 13:27] go2sh commented on #529
It is because of the simple comment regex. It doesn't take into account string literals. Any kind of string literals, not only bit string literals.

I did some test and found a solution [here](https://regex101.com/r/a5T26N/4):
```^(?:(?:[^\"\-]*\"(?:\"\"|[^\"])*\"[^\"\-]*)+(--.*)|[^-\"]*(--.*))$```
It needs the multiline flag.

[2019-08-19 15:09] ktbarrett commented on #529
It may be more complicated and take more time, but it's probably the cheapest fix.

[2019-08-19 16:41] ktbarrett commented on #529
I have a slightly more optimal and straightforward regex that works on the example given. Although maybe you know more about potential pitfalls than me.

[code]

[2019-08-21 13:01] LarsAsplund commented on #529
@ktbarrett Have you done some measurements on the performance hit?

[2019-08-21 14:33] go2sh commented on #529
My test with regex tester show ruffly 6x more steps then the simple version. But I do not think it matters in absolute terms.

[2019-08-25 06:34] cclienti commented on #455
Hello,

I hope the following will help you.

The same grouping problem occurs to me with gtkwave and I solved in my python module (wavedisp) to generate wave file descriptions for gtkwave/modelsim/rivierapro

https://github.com/cclienti/wavedisp
(Example of use: https://www.wavecruncher.net/wavedisp)

The major issue that I figured out to group signal was the missing hierarchy of names after added

[2019-08-26 16:39] bradleyharden opened #531 "Inconsistent test case names"
I have a test case that is parameterized by three test bench generics. When I add configurations to specify the generics, I use `str(generics)` as the configuration name (where `generics` is a dictionary).

Strangely, I find that the order of variables in the configuration name is different than the order of variables when listing tests using `./run.py -l`. As a consequence, if I copy and paste th

[2019-08-29 08:11] rugebiker opened #532 "VHDL circular dependency when an architecture maps to another architecture using the same entity"
Hi,
I have an error of circular dependency when two architectures use the same entity, and one of them maps to the other one. Attached is a small example testbench where I get this error.

**Description of files:**
**run.py** : Simple, just adds files and launches the test
**tb_circular_dependency** : Empty test, just for example. Maps to entity(architecture1).
**entity_architecture1.vhd** : This

[2019-08-29 15:46] 1138-4EB commented on #532
I think there is a circular dependecy between files, indeed. File `entity_architecture1.vhd` requires `architecture2.vhd` to be analyzed first, and viceversa. You might argue that VUnit could identify the units in the files, and try to break the circle by considering `entity_architecture1.vhd` to be two separate units/files. But VUnit does not split/merge/reorganize the VHDL code.

The expected st

[2019-08-30 15:27] go2sh commented on #532
That might not true. There is no real circular dependency. The architecture of the instantiation is only evaluated during elaboration, I guess.

[2019-08-30 17:07] 1138-4EB commented on #532
You are correct, from a VHDL point of view. Precisely, none of the simulators fail. @rugebiker tested it with ModelSim and Vivado, and I tested it with GHDL (although I had to fix `tb_circular_dependecy.vhd`). Thus, my previous comment is about how VUnit handles dependecy, which is "per file".

[2019-08-30 18:25] go2sh commented on #532
AFAIK vunit uses the dependency scanner to generate the compile order. In the presented case, the compile order can be solved.
 * entity_architecture1.vhd
 * architecture2.vhd
 * tb_circular_dependency.vhd

[2019-08-30 20:22] 1138-4EB commented on #532
See https://github.com/VUnit/vunit/blob/master/vunit/dependency_graph.py#L65-L71. I think that it raises an exception as soon as it visits a node twice, where a node is a file.

[2019-08-30 22:38] go2sh commented on #532
Yes, the problematic code is in [here](https://github.com/VUnit/vunit/blob/master/vunit/project.py#L205-L227). There has to be a skip, if the entity referenced is in the currently analyzed file.

[2019-09-03 07:21] rugebiker commented on #532
Indeed. Maybe it is an idea to completely split the entities and architectures into different trees, but I can imagine it would be a lot of redesign.

[2019-09-05 06:58] LukasVik commented on #531
Hey, so this one has been open and perhaps you've already solved it but here are a few pointers.

1. Python dictionaries are by design not ordered. Without seeing the exact code you're using, this could be the cause of what you're seeing. If you want it ordered you can sort them by key, or use OrderedDict.
2. Maybe you're aware but casting a dictionary to string does not yield a very nice string:

[2019-09-09 21:19] jrwagz opened #537 "Failing modelsim.init_files.after_load tcl script causes false positive test results"
When you add a tcl file as an "after_load" script for modelsim, and that tcl script has errors in it, then the simulation continues to run, and reports that tests that failing tests are passing.

Steps to reproduce:

Create a tcl file with these contents:
[code]

Save that file as "copy_fail.tcl" in the same directory as a vunit testbench.

Now add the following line to your run.py script:
[code]

[2019-09-10 08:19] aodling commented on #537
Den mån 9 sep. 2019 23:19Justin Wagner <notifications@github.com> skrev:

[2019-09-10 14:01] bradleyharden commented on #531
@LukasVik, yes I'm aware that they are not fundamentally ordered. However, I was under the impression that creating the exact same dictionary, with only strings as keys, would always yield the same order. It looks like this is true within a single execution, but it is not true across executions. String hash randomization was added in 2012 to prevent denial of service attacks based on hash collisio

[2019-09-10 14:02] #531 closed

[2019-09-10 14:09] 1138-4EB commented on #531
@bradleyharden, might VUnit be enhanced by ensuring the the order is deterministic (using `OrderedDict` as @LukasVik said)? Or can you get consistent naming now that you understand the source of the problem?

[2019-09-10 14:31] bradleyharden commented on #531
The issue isn't really with VUnit. VUnit will use whatever string name is provided by the user.

Because I saw the same name with different ordering, I assumed that VUnit was separately generating a name for the test internally somewhere. I tried to find where that was happening within the VUnit code base, but I couldn't. Now I know why. It wasn't happening.

As long as the user-generated test cas

[2019-09-11 20:05] umarcor opened #539 "Colour support on Windows"
I submitted a PR to fix colour support on MSYS2/MINGW: #538.

The Python installation available on my Windows 10 machine was installed through pacman (MSYS' package manager). I'm using VUnit from MINGW32/MINGW64 shells, where ghdl is installed from a PKGBUILD file. Hence, everything works as expected in these environments.

Nonetheless, I found that the same Python installation can be used from ei

[2019-09-14 06:21] kraigher commented on #532
Maybe we can remove this dependency. I just vaguely remember that we added the dependency due to a problem we found. Maybe it was when an architecture is referenced explicitly in a configuration.

[2019-09-14 06:29] kraigher commented on #529
First of all I do not think VUnit should have a parser as a publicly visible component. What VUnit needs is a dependency scanner which might have a parser as a private implementation detail. In my opinion the vhdl parser of VUnit already does to much by parsing generic and port lists. Ironically if it did not parse port or generic list it might never have been sensitive to the problem of this issu

[2019-09-14 06:45] 1138-4EB commented on #529
This was my main motivation to suggest a pluggable system with, at least, the current (old) implementation and the new (rust_hdl). Users that want to keep installation of VUnit simple and multi-platform could use the old implementation (which can be a default fallback if rust_hdl is not available).

I use VUnit on four platforms: GNU/Linux (amd64, aarch64 and armv7) and Win10 (amd64). This is not

[2019-09-14 06:52] kraigher commented on #529
It is just that I cannot think of any important aspect that would be better for the users of VUnit by using the rust hdl parser for vunit dependency scanning at the moment. The current method even if it is primitive and not formally correct works well. If anything I would like to strip away parsing of elements that do not contribute to dependency scanning.

Thus there is really not much which woul

[2019-09-14 07:02] 1138-4EB commented on #529
What are those element used for?

[2019-09-18 15:51] 1138-4EB commented on #449
I'm closing this issue because the requested feature is not supported by GHDL. Please, feel free to reopen it if you are targeting other simulators or if this feature is added to GHDL in the future.

[2019-09-18 15:51] #449 closed

[2019-09-18 16:13] 1138-4EB commented on #501
Closing this as a duplicate of #325 and #209. The support ticket provided above has been copied to #325.

[2019-09-18 16:13] #501 closed

[2019-09-19 09:41] oscargus opened #545 "module '' previously defined"
There seems to be a problem when including a file that gives the warning:

`module '' previously defined`

For quite some time, it seemed like giving an absolute path to a file giving that warning caused it, but with a slightly different file system/path, that is no longer the significant difference. (University computer environment, so different file systems/paths for students and employees. Seem

[2019-09-19 09:51] kraigher commented on #545
It seems like you have two problems, One being the warning that the module '' is previously defined. The other that the dependency between DUT and testbench in the compile order is missing. Are you able to create a [minimal working example](https://en.wikipedia.org/wiki/Minimal_working_example) for the second problem?

Also as a work around VUnit supports adding manual dependencies between files u

[2019-09-19 10:04] oscargus commented on #545
I've only encountered the second problem while simultaneously having the first. Or rather, that seems to be the only (sometimes) crucial difference I can identify. But then, we've only recently started to use VUnit.

I'll try to see if I can trigger it more consistently and get back with a minimal working example (I'm aware it is missing, but just though I'd write down what I've come up with so fa

[2019-09-19 10:09] kraigher commented on #545
I can take a look on the previously defined module problem and see if the fix could be related to dependency scanning. Dependency scanning for Verilog is a bit more complex than VHDL since there is a preprocessor. VUnit must preprocess the code before it can extract dependencies which mean you need to set the correct include dirs and `defines when adding the source files using the Python API. Also

[2019-09-19 19:19] kraigher commented on #545
The problem occurs because `global` and `soft` are keywords in the latest SystemVerilog standard. The VUnit tokenizer stores Tokens as kind, value pairs. For identifiers the value is the name of the identifier. For keywords the value is empty to save space since the each keyword has a unique kind. Thus VUnit will scan a module with the an empty name twice in the altera_primitives.v for `global` an

[2019-09-19 19:32] kraigher commented on #545
I pushed a fix to master now for the duplicate '' module.

[2019-09-23 14:49] oscargus commented on #545
Thanks! Will try it out!

[2019-09-24 14:57] midimaster21b commented on #485
Can this issue be closed?

[2019-09-24 15:09] oscargus commented on #545
I can confirm that the warning is removed. Will see if I manage to get the error. Thanks again!

[2019-09-24 16:39] 1138-4EB commented on #485
I think so!

[2019-09-24 16:39] #485 closed

[2019-10-02 20:00] GlenNicholls opened #555 "VUnit.add_source_files_from_csv() does not allow for all kwargs to be used"
`VUnit.add_source_files_from_csv()` only passes vhdl_standard kwarg to `Library.add_source_file()`. However, my file gatherer uses `.ahd` file extensions to denote altera, `.xhd` to denote xilinx, and so on. I need the `file_type` available at least, but all of them should also be available.

[2019-10-02 22:21] GlenNicholls opened #556 "source file ordering issues with python2.7 (VUnit is not properly finding compile order)"
I am transitioning a massive code-base to use VUnit for automated testing. For some reason, I am not able to get VUnit to properly discover the correct file ordering. Because of this, I used an `OrderedDict()` to prevent keys from getting shuffled, but when I set `no_parse=True`, then I don't know how to get VUnit to start compiling in activeHDL with the first library/file that I added since it al

[2019-10-03 05:48] kraigher commented on #556
I will have a look on this problem this evening. In the meantime would it be possible for you to create a minimal verifiable example (https://stackoverflow.com/help/minimal-reproducible-example)? Just take one small part of your code and try to reproduce it, maybe by focusing on just one test bench. When you can reproduce you can copy the code and strip everything except the shell of the entities/

[2019-10-03 13:49] GlenNicholls commented on #556
Yeah, I will work on that. I'll have to go through a few people so this is probably not something I can share publically. Once I get the code stripped down, I will let you know, but it might be a few days.

From a use standpoint, is there a way to force VUnit to accept all incoming files as if they're in the correct compile order and just tell it which file the testbench is in, or only allow it to

[2019-10-03 14:10] kraigher commented on #555
Sure I guess any argument that `add_sources_files` has would make sense to add to `add_sources_files_from_csv`. Are you able to make a pull request to add it yourself?

[2019-10-03 14:23] kraigher commented on #556
1.
First of all `no_parse=True` is only intended for encrypted files which cannot be parsed. For those files you either need to pre-compile them outside of VUnit or add them with `no_parse=True` and add the dependencies yourself manually. To not have to keep track of dependencies manually I typically add these files as a dependency to all non-encrypted files. This is not a problem since they do no

[2019-10-04 00:51] joshrsmith commented on #556
Another common thing that has caused this behavior for me is relying on default binding rule instead of explicitly indicating the library when instantiating a block.

YES: `My_Block : entity the_library.the_block`

[2019-10-04 01:00] GlenNicholls commented on #556
So if I understand you correctly, then you're saying you have issues when instantiating like this:

`someComp_inst : entity work.compName'

If this is the case, is there a way to still make this work? Unfortunately, we have it type of style all over the place. I like it because it obfuscates either having to place the component inst in a package or noting the library name when instantiating.

[2019-10-04 02:06] joshrsmith commented on #556
Using `work` explicitly has always worked fine for me; your example should be fine (barring any capitalization issues that @kraigher noted.

[2019-10-07 02:55] umarcor opened #559 "Do not add builtins by default"
From https://github.com/VUnit/vunit/pull/507#discussion_r328261564:

[2019-10-07 14:14] eschmidscs opened #560 "check_axi_stream broken for TID/TDEST'length=0"
The check_axi_stream is broken if TID or TDEST is not used.
The fix is ready, I need to update the testbench for the pull request.

[2019-10-07 17:03] GlenNicholls commented on #556
@kraigher I found a couple problems that cause this bug in VUnit. The first is when using a type in one package and declaring a subtype in a seperate package with the path to the original type. I am adding those files now with the problem code uncommented in the second package and the fix uncommented. Unfortunately, this fix will not work for us, but this is what I had to do to get VUnit to stop c

[2019-10-07 17:18] kraigher commented on #556
That type of dependency is not supported by VUnit as it requires full parsing and semantic analysis to perform reliably. The preferred work around is to add a use clause on top of the `pmcCntl` package in `PMC_CONTROL` library such as:

[code]

This will cause VUnit to pick up a dependency between the files. Alternatively you can use add a manual dependency via the Python API.

[2019-10-07 17:36] GlenNicholls commented on #556
@kraigher Okay awesome, that fixed both issues that I found. Is there a reason that using your method works, but the below doesn't?

[code]

[2019-10-07 17:46] kraigher commented on #556
The method you list with `.all` should also work.

[2019-10-07 18:39] GlenNicholls commented on #556
Okay cool. As for dependencies, I am having the same problem in some other libraries with slightly different failure cases regarding the same parsing problem. One thing that we do all over the place is the following for instantiating dependencies in a library so we don't need to put the component instantiation in the package:

`someComp_inst : entity work.someComp`

In this case, we would like to

[2019-10-07 19:22] kraigher commented on #556
Dependency scanning works very well for entity instantiation of the form `someComp_inst : entity work.someComp`.

[2019-10-07 19:29] kraigher commented on #556
Sure maybe it could have some use to manually specify test benches without dependency scanning. There has been very little demand for it since dependency scanning works well except for a few cases which are easy to work around.

You claim to have a list of files in the proper order already. Howerver your dependencies are most likely not lineae but a tree/graph. The distinction does not matter for

[2019-10-07 21:02] GlenNicholls commented on #556
So then what is the syntax for this? If I just use the code snippet that you referenced without importing the library `work` or having `use work.somePack.all`, I see the below warning:

[code]

Then I still see the same warning if I have the below:

[code]

What is causing this error message?

[2019-10-07 21:10] GlenNicholls commented on #555
I am, but where I work I need to get #556 resolved first as that is more critical. Once I can figure out all my problems in that issue then I can knock this one out.

[2019-10-08 12:56] felixn opened #562 "vunit_restart does not run files from `modelsim.init_files.after_load`"
We have a use-case where we use the `modelsim.init_files.after_load` feature to set up some required simulation parameters (via ModelSim `force` commands in a .do file).

This works fine in batch mode and in `--gui` mode for the first simulation run, but when using `vunit_restart` the after_load files are not re-run (`_vunit_source_init_files_after_load` is not rerun).
`vunit_load` re-runs these f

[2019-10-08 16:25] kraigher commented on #562
Maybe there needs to be a new hook that is called `before_run`

[2019-10-08 16:30] kraigher commented on #556
I think you might have found a bug. VUnit will replace the work with the current library name but it seems it does not work when the library name is not all lower case. This is due to the complexity of supporting case sensitive library names in Verilog but not VHDL.

I will make a fix.

In the meantime as a work around you can use lower case names in the `run.py` file using `string.lower()`. Mixed

[2019-10-08 16:37] kraigher commented on #556
I have now pushed a fix to master. Could you try it?

[2019-10-08 20:47] elhasab opened #563 "Cannot load gtkwave tcl script using ghdl.gtkwave_script.gui"
My run.py includes the following line:
`tc.set_sim_option("ghdl.gtkwave_script.gui", join(test_path, "gtkwave.tcl"))`

which produces the following error message:
`GTKWAVE | couldn't read file ""/home/docker/DDR3/src/test/gtkwave.tcl"": no such file or directory`

Removing the extra quotes below solves the problem:
https://github.com/VUnit/vunit/blob/3de8d229ca7b4ba3db395f3981a3ea107cf67c72/vunit/

[2019-10-08 20:56] 1138-4EB commented on #563
I can confirm the issue. And I have the same fix in a local WIP branch. However, I don't know in which context are the escaped quotes required. I believe there must be some, which lead to adding them.

/cc @GlenNicholls, since blame tells that this was introduced in #459 (also, see #458).

[2019-10-09 17:36] kraigher commented on #563
Extra quotes should not be needed when calling a subprocess direcly with an argv list. It is only necessary when invoking a subprocess through the shell where the shell will perform tokenization of the argument string into argv. We never invoke subprocesses through the shell as it is a bad practice in python. Maybe gtkwave passes the argument internally in some bash script which requires quotes bu

[2019-10-09 17:57] GlenNicholls commented on #556
I have some bugs I'm working on for a different project, but I'll get to this as soon as I can!

[2019-10-09 18:01] GlenNicholls commented on #563
I had that issue before but got around it a different way:

[code]

This tcl script just calls an add wave function I have elsewhere in my repository. But yes I agree with @kraigher, this should be an issue sent to the GTKWave team. They're very responsive so they might be able to get a fix quickly!

[2019-10-09 18:05] kraigher commented on #563
It seems VUnit defines the option as a file name containing the script but gtkwave also supports writing a script inside the argument as well without having a filw on disc?

[2019-10-09 18:13] GlenNicholls commented on #563
@kraigher I am confused about your statement. Are you asking if gtkwave allows the user to send tcl commands directly from the command line instead of sourcing a .tcl script?

[2019-10-09 18:14] kraigher commented on #563
Yes I am asking about the behavior of gtkwave.

[2019-10-09 21:43] GlenNicholls commented on #563
So I am not sure as I've actually never tried that. All my commands are in a file structure. I can try this when I get home tonight, though.

[2019-10-10 12:09] zznaki opened #565 "Problem starting simulation run with ModelSim Microsemi 10.2c"
Hi
I am having problems using Vunit 4.1  with modelsim I have been using it with GHDL on a mac osx over the last year without a problem but had to move to modelsim on Windows 10 and Python 3.7

When I try to run a testbench from the command line the runner fails whilst creating a a Persistent TCL shell for model sim. It is probably an issue with my configuration but I can not figure out what.

The

[2019-10-10 12:21] kraigher commented on #565
Are you familiar with Python. Can you add a `print(result)` in the persistent_tcl_shell.py line 77 and show me what is the value?

[2019-10-10 12:32] zznaki commented on #565
It prints: #VUNIT_RETURN

I worked out that I can work around it with -u which avoids the persistent shell but obviously slows things down a bit

[2019-10-10 12:37] kraigher commented on #565
There should be a transcript in vunit_out/modelsim/. Can you send it?

[2019-10-10 12:49] zznaki commented on #565
Transcript file relating to first issue. I see it does not like the path with the space in it. Is there a location where I can change the path from "Program Files" to  "Progra~1". Would this solve the problem.

[code]

[2019-10-10 12:55] kraigher commented on #565
That is likely a bug in microsemi vsim executable. VUnit passes the arguments via argv directly and there is no shell tokenization of the arguments. Thus a space in the path should not matter between VUnit and vsim. Probably the vsim executable fails to handle the unquoted string internally. You can do the experiment yourself by calling vsim -c from the command line with a "-do" argument for a fil

[2019-10-10 13:17] zznaki commented on #565
I copied the common.do from a test_ouput folder
vsim -c -do c:\Users\cglee\hello there\common.do
Does indeed fail.
Changing the Python Path environmental variables so that Program Files is replaced with Progra~1 fixes the initial problem (thanks).

The crash still occurs though.

[2019-10-10 14:00] kraigher commented on #565
The previous output you showed was not a crash but a genuine failure of your test bench.

[2019-10-10 14:01] zznaki commented on #565
Ah OK sorry - did not look at it carefully and I am Modelsim is new to me.
 Many thanks for your help

[2019-10-10 14:01] #565 closed

[2019-10-10 16:54] #560 closed

[2019-10-11 05:39] felixn commented on #562
Closed by #564

[2019-10-11 05:39] #562 closed

[2019-10-11 09:58] felixn opened #566 "No public API for logging to file?"
I couldn't find a way to log to a file in the logging library without using private pats of the API. Am I missing something?

The following works:
[code]

But the `new_log_handler()` function is in the private section of log_handler_pkg.vhd:
https://github.com/VUnit/vunit/blob/214de988c32018d19be4101667185747b0bb69fe/vunit/vhdl/logging/src/log_handler_pkg.vhd#L58-L81

Is there another way to log t

[2019-10-11 14:54] GlenNicholls commented on #556
@kraigher It looks like that fixed my problem. One thing I did notice is that if I use work to assocaite a package in a port map, this is also mixed. Do I need to reference `work.package` as a library for VUnit to see this? My guess is that this is missed because the parser is only looking for dependencies in the form of libraries and entity instantiation?

[code]

[2019-10-11 16:32] GlenNicholls commented on #556
@kraigher Okay last "bug" I believe that I found. Lets say I have a package with all my components defined and this compiles first:

pkg.vhd
[code]

Now, I have a file with multiple entities/architectures within it (horrible practice, but I didn't write this and have to live with it):

file.vhd
[code]

Why is it that the `inst` believes that it cannot find the context for `ent1`. By leaving everyt

[2019-10-11 16:32] #556 closed

[2019-10-11 16:32] 1138-4EB commented on #566
I am not very familiar with *advanced* logging features. Nonetheless, I checked my scripts, and I am using the same approach:

[code]

Hence, unless told otherwise, I'm ok with moving it. We might just remove the `Private parts not intended for public use` comment. There is no such distinction in the body.

@felixn, do you want to submit a PR?

[2019-10-11 16:46] kraigher commented on #556
My understanding of your scenario is that `work.pkg.ent1` refers to a component and `work.ent1` references to an entity. Thus instantiating with `inst : entity work.pkg.ent1` is illegal since it does not refer to an entity but a component. This method is called entity instantiation. However `inst : component work.pkg.ent1` would work or just `inst : work.pkg.ent1` since this is component instantia

[2019-10-11 21:06] 1138-4EB commented on #563
On the one hand, I will remove it because i) @elhasab and me had to remove it for it to work, and ii) we should not be *fixing* it like this.

On the other hand, I wonder in which context where quotes required. @GlenNicholls, you said *"I had that issue before but got around it a different way"*. Do you remember which was the context where you had that issue and you got it fixed by adding the esca

[2019-10-11 22:28] #563 closed

[2019-10-12 16:43] kraigher commented on #559
I do not think this is urgent to do. But when we see a reason where this change would make our life easier we should do it. Currently I think we can wait.

[2019-10-12 16:52] kraigher commented on #559
When doing this change we should replace the  `add_builtins` method with an `add_vhdl_builtins` and `add_verilog_builtins` method.

[2019-10-12 17:09] kraigher commented on #566
I think just new_log_handler must be moved to public.

[2019-10-13 20:55] felixn commented on #566
Yeah, I also think that `new_log_handler()` should be moved to public.

But maybe alternatively, we can make logging to files easier? Maybe an optional `file_name` / `to_file` parameter to `get_logger()` could be used to automatically create a new file log handler? Something like the following?
[code]

[2019-10-14 00:53] GlenNicholls commented on #563
@1138-4EB No, unfortunately, I do not remember as that was what I had to do for the PR. I believe I was using an older binary for gtkwave, but that is my best guess. That system is currently broken, so I don't have any way to figure out what caused the need for the escaped quotes. I tested again with the escaped quotes on a system with the newest gtkwave binary and that did not work.

[2019-10-15 16:46] GlenNicholls opened #569 "[BUG] pre-compiled external Xilinx libraries with ghdl do not work properly"
I followed this guide to compile vivado unisim, unimacro, and secureip vendor libraries in GHDL:

https://github.com/ghdl/ghdl/tree/master/libraries/vendors

This produces a `.cf` file and I use the `add_external_library()` function to add these like so:

[code]

This works properly for Active-HDL and Riveria-PRO, but does not work for GHDL. The paths to the `.cf` have been verified to be correct,

[2019-10-15 16:56] kraigher commented on #569
I personally do not use ghdl with xilinx. I am sure several people in our community do. I would ask in the gitter chat since people doing this already might not read issues looking for ways to help.

My theory is maybe GHDL expects the parent directory or a subdirectory.

[2019-10-15 17:08] GlenNicholls commented on #569
Where is the gitter chat located? I've never used that before

[2019-10-15 17:23] LarsAsplund commented on #569
https://gitter.im/VUnit/vunit

[2019-10-15 17:49] kraigher commented on #569
Lars gave you the link but it can also be found on our website.

[2019-10-15 19:31] GlenNicholls commented on #569
This is not a problem with VHDL. To fix my problem, I had to do the following:

In `run.py`:
[code]

To get all the libs for 1993 and 2008, I had to `cd <ghdl-0.36>/lib/ghdl` and run the following:

[code]

This will compile all the Xilinx vendor libs to `<ghdl-0.36>/lib/ghdl/xilinx-vivado`. However, even though the folders are in the `v93` and `v08` structure GHDL expects, it will ignore the `.cf

[2019-10-15 19:31] #569 closed

[2019-10-15 21:10] 1138-4EB commented on #569
It is the defined and known behaviour of GHDL. See *Note* in https://ghdl.readthedocs.io/en/latest/references/ImplementationOfVHDL.html#vhdl-standards. Hence, it does not need to be reported as a bug. However...

This is something that produces confussion to new users, specially to those that are used to vendor simulators that support mixing standard versions (almost all of them, I think). Precise

[2019-10-16 04:19] tgingold commented on #569
No, GHDL never creates directories.  However, it searches libraries within subdirectories of -Pdir

[2019-10-16 17:37] #566 closed

[2019-10-23 12:25] FranzForstmayr opened #573 "Regression Bug in AXI-Stream slave when upgrading from v4.0.8"
Hi,
I triggered a regression bug when upgrading VUnit to v4.2.0 from v4.0.8.
With git bisect I found the offinding commit 3e098f567af0a442ae9f3a41b0fcb90f2092daed, merged in #429  .

When using the axi-stream slave, the ready signal starts toggling.
![image](https://user-images.githubusercontent.com/9936788/67392591-1c02dc00-f5a1-11e9-97a2-e3dd542be956.png)

Same issue is in the axi_stream_slave,

[2019-10-23 12:43] umarcor commented on #573
FTR, other changes to AXI-Stream a few days before #429, introduced another partial regression as explained in #494. Does GitHub allow to easily compare v4.0.8 and v4.2.0 of subdir https://github.com/VUnit/vunit/tree/master/vunit/vhdl/verification_components/src only?

[2019-10-23 12:47] eschmidscs commented on #573
We've hit something similar some time ago.
You probably use the pop function with direct response variables or the check function with blocking=>True.
In this case, the slave takes one message, handles it and goes back to idle. Going back to idle causes ready to go low for one cycle.
You either have to use pop with references or check with blocking=>False.

That was different, probably before the

[2019-10-23 18:12] felixn opened #574 "post_run for Test / TestBench"
Are there any arguments against adding a `post_run` callback to Test / TestBench?
Similar to `post_check`, but called regardless of whether test passed or failed.

My use case: Processing log files written to output_path, even for failing tests. For example, archiving log files from automated simulation runs.
I know I could do this without a callback by parsing the mapping text file to get to the

[2019-10-23 18:14] kraigher commented on #574
The junit xml file contains all stdout from the passing and failing tests. Have you considered parsing this file?

[2019-10-23 18:36] felixn commented on #574
You're right, and that's what we're using to get the stdout.
But there are additional files we write to `output_path` to be checked later by `post_check`, similar to how it's suggested here:
https://vunit.github.io/user_guide.html#special-generics
We want to archive those log files whether the test passes or fails.
Currently we're archiving the whole test_output directory, but that contains additi

[2019-10-23 18:48] umarcor commented on #574
I have a similar concern because of #478. I'm currently using `post_check` just to expose `output_path` to the `run.py`, in order to do some tasks after `vu.main()`:

https://github.com/dbhi/vunit/blob/vunitcosim/examples/vhdl/external_buffer/run.py#L38-L39

https://github.com/dbhi/vunit/blob/vunitcosim/examples/vhdl/external_buffer/run.py#L121-L127

I think that it would be interesting to enhance

[2019-10-23 19:00] felixn commented on #574
Yeah, @umarcor's suggestion would work for me as well. Any way to get to `output_path` after simulation would be welcome, whether it's through a callback of an individual Test / TestBench or a return value of `vu.main()`. I think @umarcor's suggestion is more flexible, because it would allow for access to all testresults at once instead of just scoped to individual tests.

[2019-10-23 19:02] kraigher commented on #574
I am not against post_run it makes sense.

Alternatively I have had thoughts about making a class based hook interface where you would implement methods on the class and send an object encapsulating everything instead of many individual functions. It would not spam the public api with so many functions when adding hooks and the object can be used to share state between for example pre_config and p

[2019-10-23 19:52] kraigher commented on #574
main already has a post_run callback so should should not need to have try except arround main. It also ensures that - -list and - - compile wont run post_run since no tests have run.

[2019-10-24 08:06] felixn commented on #574
The `post_run` callback is also a good candidate, but currently the `Result` object passed to it only exposes `merge_coverage`. We could get to more stuff via the private attribute `_simulator_if`, but that's hacky. If we extended the `Result` to also include information about all tests run, their result and their output path, then that would work for my use case. @umarcor, what about yours?

[2019-10-24 13:59] imd1 commented on #209
Hi

I've downloaded  https://github.com/1138-4EB/vunit/tree/petterssonmagnus-xsim and tried to run one of my existing testsuites (OK under Questasim and GHDL) using Vivado 2018.3. and I get the following compile error for a VUnit library file:

ERROR: [VRFC 10-1261] prefix of LENGTH attribute should be an array or array (sub)type [/usr/lib/....../vunit/vhdl/data_types/src/string_ptr_pkg-body-2002p

[2019-10-24 14:24] 1138-4EB commented on #209
It seems to be an unsupported feature in Vivado.

- The *prefix* is `ptrs(ref)`: https://github.com/1138-4EB/vunit/blob/petterssonmagnus-xsim/vunit/vhdl/data_types/src/string_ptr_pkg-body-2002p.vhd#L93).
- `ptr` is type `vava_t`: https://github.com/1138-4EB/vunit/blob/petterssonmagnus-xsim/vunit/vhdl/data_types/src/string_ptr_pkg-body-2002p.vhd#L58.
- `vava_t` is an alias of `string_access_vector_

[2019-10-24 21:15] imd1 commented on #209
I'm happy to make some progress on this, but I'm not too GitHub literate, so I might need some guidance on topics such as forking and rebase in this case. Should I fork 1138-4EB/vunit and work on the xsim branch? How should I rebase?

[2019-10-24 21:39] 1138-4EB commented on #209
I suggest to clone this repo first:

[code]

Then, add my fork as a remote:

[code]

Now, checkout the branch:

[code]

Last, you can either fix this version, or rebase:

[code]

Rebasing will require you to fix possible conflicts between existing modifications in branch xsim and recent additions to master. Likely in Pythons sources, since no VHDL sources are modified in branch xsim: https://githu

[2019-10-26 01:40] nfrancque opened #577 "Compile Order Issues"
I am working with a codebase that splits out entity files and architecture files to support multiple architectures.  So, for many files there is file.vhd for entity declaration, and file-rtl.vhd, and file-fpga.vhd for instance. The "-x" files contain component declarations for their dependencies and do not instantiate with the format "entity lib_name.entity_name".

Vunit seems to be having a diffi

[2019-10-26 02:04] 1138-4EB commented on #577
I don't think this is the case, since the coding style suggests to do so when multiple architectures exist: http://vunit.github.io/contributing.html#coding-style.

This might be the issue, althoug I didn't really understand the setup. A MWE would help.

The point is that VUnit's parser, which is supposed to be just the internal implementation of a dependency scanner, is known to be limited but to

[2019-10-26 02:32] nfrancque commented on #577
Interesting, thanks for the links.

The setup is as simple as you might expect, separate entity/architecture and explicit component declarations in the architectures.  I don't think there is anything special but will look.  Unfortunately not able to supply any of the code, have been looking through vunit logs and it seems to pick up on quite a few dependencies between entity/architectures as well

[2019-10-26 03:23] 1138-4EB commented on #577
Note that we don't need a reproducer based on your exact code, but just a few lines that reproduce your problem. If the issue is with having explicit component declarations in the architectures, just 2-4 files with dummy entities and architecture bodies will suffice. You can make up the names too. I think this is easier to achieve than to obfuscate the logs.

I partially agree, but note that VUnit

[2019-10-26 04:49] kraigher commented on #577
Split entity/architectures are no problem. However component instantiation with bindAtCompile is a problem since VUnit assumes bind at elaboration. With bind at elaboration there is no compile order depdency between the instantiating entity and the one that ends up getting mapped to the component instantiation at elaboration.

Thus bindAtCompile is not supported currently. You can always add a man

[2019-10-26 14:31] nfrancque commented on #577
What makes you say that?  Couldn't we simply add all entities matching the component declaration as a dependency? It would then be up to the user to ensure that the ports actually match, I don't think that's too big of a requirement since they should be doing that anyways.

It's a legacy codebase where component declarations were part of the style guide.  Entity declarations are just now catching

[2019-10-26 16:24] nfrancque commented on #577
I see this line that is most likely what we're looking at, please correct me if not.

https://github.com/VUnit/vunit/blob/84f7be0b3c926c2635c378a52beefa6c4deaca6d/vunit/vhdl_parser.py#L89

It looks like it's searching component instantiations?  I don't quite understand the goal, the word component is just in the declaration which wouldn't contain a port map.

I would think it'd be enough to just s

[2019-10-28 01:14] nfrancque commented on #577
Did some more digging.  It looks like project.py only searches in the design file's own library for component dependencies.  This explains why I was seeing testbench libraries compiled before their corresponding design library.  (Does anyone know if that is correct?  Wasn't sure if I was misinterpreting the code).
Using the following example:

[code]

I would like to return from vhdl_parser a list

[2019-10-28 03:42] umarcor opened #579 "Get run CLI args from Results"
It would be useful if the CLI args that are used to run each test/config were available programmatically (either in `post_run` or through `--export-json`). Something similar to:

[code]

In https://github.com/VUnit/vunit/pull/568/files#diff-d11203cc5c5e59bf50c8fe619e03e39d, I'm using a modified ghdl_interface to write the args to a txt file, as a workaround.

---

This would allow to indirectly re

[2019-10-28 04:03] kraigher commented on #579
The args should be readable from the VUnit object already. No need to wait to post_run.

[2019-10-29 11:38] ryanfitzsimon commented on #539
I have yet another use case to consider. From Git bash (a variant of MSYS/MINGW) I run the normal Windows python installation through winpty.

In this scenario, VUnit should act exactly as it would running with CMD, but since #539 MSYSTEM is detected and unprocessed Linux escape codes are displayed instead.

[2019-10-29 23:34] umarcor commented on #539
@ryanfitzsimon, that's interesting... I'd say that Git bash is "the same" as MSYS/MINGW. Therefore, your case should be the same as *MSYS/MINGW with 'regular' Python artifacts*. On the one hand, I'd like to know which simulator are you testing this with. On the other hand, would you mind checking the following?

- The content of `os.name` (https://github.com/VUnit/vunit/blob/master/vunit/ostools.p

[2019-10-30 02:21] ryanfitzsimon commented on #539
@umarcor

I agree. In the context of this issue, I think Git bash and MSYS2 should be effectively identical.

Sorry if I didn't make this clear, but **the important point of difference is the use of winpty**.

Running under Git bash means that the environment variable `MSYSTEM` is set to `MINGW64` and
since it's a windows installation, python reports `os.name` is `nt`.

The issue is that when runn

[2019-10-30 02:44] umarcor commented on #539
Actually, I had to use winpty to mingw-native, and I forgot to mention it. I edited the tables now.

The point is: how can we know when is python being executed under winpty? Both, mingw-native and mingw-pacman, return 'nt', and MSYSTEM is set in both contexts.

[2019-10-30 03:14] umarcor commented on #539
It seems that `winpty` unsets `TERM` because *"The child program isn't directly running under the terminal, though. It's running inside a Windows console"* (https://github.com/rprichard/winpty/issues/140#issuecomment-379443675).

@ryanfitzsimon can you try `if IS_WINDOWS_SYSTEM and ('TERM' not in os.environ):`?

[2019-10-30 12:09] ryanfitzsimon commented on #539
This does work in my specific environment, but I don't know if relying on the absence of `TERM` will be very robust. Further thought is probably warranted.

Perhaps additional option/s could be added to allow forcing a specific color printer, extending or replacing the existing `--no-color`?

Most programs I'm familiar with treat empty/unset environment variables the same way, so could
 `'MSYSTEM'

[2019-10-30 12:41] umarcor commented on #539
We can check both MSYSTEM and TERM, so that TERM is only used to detect when is winpty being used. Anyway, let's ping @kraigher.

To preserve backwards compatibility, `--color` can be defined, which would accept `lin`, `win` or `none`. Then, `--no-color` would be an alias of `--color none`.

I do think so. It would preserve the current behaviour. Do you want to submit a PR?

[2019-10-30 18:22] umarcor commented on #579
I tried to get it from VUnit, but I didn't succeed.

I assume I need to execute `_get_command` from `ghdl_interface` (https://github.com/VUnit/vunit/blob/master/vunit/ghdl_interface.py#L226), for each testbench. How do I get from `get_test_benches` (which returns objects of type `vunit.ui.testbench.TestBench`) to `_get_command` without executing `main()`? The *regular* execution flow seems to be:

[2019-10-30 18:58] umarcor commented on #579
Yes. The point is that `ghdl_e` allows to build a binary. Therefore, the runtime arguments that VUnit creates are discarded/lost. In order to later execute the binary, either from a Python script or externally, those args are required. It is possible, and sometimes desirable, to set those arguments manually; but it'd be useful to get the ones that VUnit creates. When VUnit is used to generate test

[2019-10-30 19:18] kraigher commented on #579
If we add a public abstraction of the simulator it must not constrain the implementation of any current or future simulator. Do we want to promise that each simulator will always need one command to run a test?

It seems like yor use case is quite niche and GHDL specific and would be better accommodated by something similar as an args.txt you propose. Maybe make it have some standard format such a

[2019-10-30 19:30] umarcor commented on #579
The main motivation to propose exposing it with a mechanism different from `args.txt` was that I thought you would not like the later. In that case, we would not promise that each simulator will need one command, but that the exposed object would contain the number of commands that is required. I.e., the artifact would be a list of lists of strings, instead of a list of strings. Anyway, since you

[2019-10-31 08:03] imd1 commented on #209
I've applied the suggested patch to string_ptr_pkg-body-2002p.vhd and now I get an error in the file that is compiled immediately after...

[code]
The console output shows passes for string_ptr_pkg-body-2002p.vhs and string_ptr_pkg.vhd immediately before a fail for ansi_pkg.vhd

Any ideas?

[2019-10-31 23:01] 1138-4EB commented on #209
@imd1, on the one hand, it seems that you are trying to compile sources with `vhdl_standard=08`, which is likely to fail because VHDL 2008 support in Vivado is quite limited. I suggest to use `vhdl_standard=93`. On the other hand, bear https://github.com/VUnit/vunit/issues/209#issuecomment-335524828 in mind.

[2019-11-06 01:24] bradleyharden opened #583 "Discussion on ptr_pkg structure and naming"
@LarsAsplund and @umarcor, here is the discussion I promised on Gitter.

In their current form, I find the storage data structures for `string_ptr` and `integer_vector_ptr` a bit confusing. I think I can simplify them.

So far, you have kept the original definition of `string_ptr_t`, containing only the `ref` element. The value `ptr.ref` indexes into `st.idxs` which retrieves a `storage_t` element

[2019-11-06 06:51] umarcor commented on #583
Hi @bradleyharden! Overall, I'm good with improving the structure to make it easier to understand and, hopefully, more efficient. However, I am afraid that your current proposal does not preserve all the features.

We can rewrite the four shared varibles you propose as a single record:

[code]

Now, if we compare it side by side, the most meaningful differences are:

- The current codebase contain

[2019-11-06 11:17] bradleyharden commented on #583
@umarcor, yes, I realized in my sleep that I had misunderstood. I didn't fully understand the `eid` parameter.

I re-read the code, and I think I follow everything now. However, one of your statements confused me:

In the existing code, the `id` parameter in `extacc` mode is only ever used to index into the `st.eptrs` array. The element of `st.eptrs` is the pointer you get from C using `eid`, corr

[2019-11-06 13:01] umarcor commented on #583
Your are correct. Currently `eid` is only used in [`get_ptr(eid)`](https://github.com/VUnit/vunit/blob/master/vunit/vhdl/data_types/src/string_ptr_pkg-body-93.vhd#L99) and it is then *lost*. However, `deallocate`, `reallocate` and `resize` are not yet implemented for external modes. All of these will require to know `eid`, because VHDL will change the value of the pointer and that change needs to

[2019-11-10 03:44] bradleyharden commented on #583
@umarcor, thanks for the example in both VHDL and C. It was very helpful to understand how you intended the interface to work. Also, thanks for taking the time to explain this all to me. It's very relevant to my additions, so I want to make sure `string_ptr` is stable before I try to build on top of it.

Regarding my comment

They were not, so none of the comments that followed apply. However, now

[2019-11-11 00:17] umarcor commented on #583
I understand it and I agree on it being important. Hence, I'm ok with discussing this as long as you wish, and I don't mind slightly repeating ourselves until we get it clear.

`vhpidirect_user.h` is **the default** C implementation of the interface. Users, specially those that are new, are expected to `include` it and use `*D[256]` as the shared type between C and VHDL. However, this header file

[2019-11-11 10:37] aappl opened #584 "Active-HDL 10.5a not adding package generics"
When using Active-HDL 10.5a as the simulator, the OSVVM packages that contain package generics are not added. The packages missed are "ScoreboardGenericPkg.vhd", "ScoreboardPkg_int.vhd", and "ScoreboardPkg_slv.vhd". When running with 10.5 the files are included.

To reproduce:
- Set environment variables to select Active-HDL 10.5a.
- Add the add_osvvm() call to your run.py.
- Run your run.py file

[2019-11-11 11:44] LarsAsplund commented on #584
I don't have both versions but does it works for you if you change the identified regexp to `_version_re = re.compile(r"(?P<major>\d+)\.(?P<minor>\d+)[a-zA-Z]?\.\d+\.\d+")`?

[2019-11-11 14:26] aappl commented on #584
Yes, that does seem to fix it for 10.5a.

[2019-11-12 07:15] LarsAsplund commented on #584
Good. One more question before we can update the code. Is 10.5a a later release then 10.5 or the other way around?

[2019-11-12 07:18] aappl commented on #584
10.5a is the later version.

[2019-11-12 09:52] haggaie commented on #209
I have a question related to Vivado & Xsim. I'm trying to use a testbench that uses Vivado's AXI Verification IP libraries. I added the IP similarly to the example in the `examples/vhdl/vivado` dir (skipping the compilation of the Vivado library because this is only for 3rd party simulators as far as I can see). Now I'm getting errors when building the XCI's generated SystemVerilog file saying tha

[2019-11-16 18:33] #445 closed

[2019-11-16 18:33] #478 closed

[2019-11-16 18:33] #574 closed

[2019-11-18 02:18] bradleyharden commented on #583
@umarcor, sorry for the delay. I haven't had much free time lately. I wanted to go through your examples in more detail before responding, but I don't know how long it will be before I have the time. Instead, I think I will lay out my ideas and see what you think. If possible, I would also like feedback from @LarsAsplund and @kraigher, because I think my ideas are far-reaching and would require a

[2019-11-19 15:27] haggaie opened #587 "Verilog parser invalid handling of whitespace can miss newlines"
When parsing the `timescale command, the parser tries to skip until the end of the line. However, if the line ends with a whitespace, the tokenizer merges the whitespace and the new line, and consumes the next line. For example, this code can cause vunit to fail detecting the module:
[code]

[2019-11-19 18:11] kraigher commented on #587
Should be fixed on master now.

[2019-11-20 20:24] haggaie commented on #587
Works for me, thanks!

[2019-11-20 20:24] #587 closed

[2019-11-20 20:29] haggaie commented on #209
This was solved by adding `-L xilinx_vip` to the compiler command line.

[2019-11-21 21:27] eine opened #588 "Constraints on generic types"
---

This issue is related to using JSON to pass *complex* generics, as it is done in example `json2vhdl`. As commented in https://github.com/VUnit/vunit/commit/45870be9e7f5b81a98a2325e0a47b77139604cbb#r36112229, it might be desirable to split/extend the example to three separate tests:

- Pass path to a JSON file.
- Pass not-too-complex JSON string.
- Pass a complex JSON string.

[2019-11-22 09:11] haggaie opened #589 ".dat input files not found"
I'm trying to simulate Verilog modules that are generated automatically using Vivado HLS. Some of these modules refer to auxiliary input files that initialize arrays (using `$readmemh`). Usually, Vivado copies the files to the current directory of the simulator before running the simulator. Is there a standard way of doing this with vunit?

[2019-11-23 09:19] #584 closed

[2019-11-23 09:41] marph91 opened #590 "Run testbench with different parameter files"
I asked the question [here](https://stackoverflow.com/questions/58980752/run-same-testbench-with-different-parameter-files-in-vunit) already, but I guess it was the wrong channel. So here is a short summary.

I have a design with a toplevel file, which is parametrizable by `top_parameter.vhd`. Now I want to create multiple testcases with different `top_parameter.vhd` files. Basically, all other fi

[2019-11-23 09:53] kraigher commented on #590
VUnit does not support modifying the library hierarchy between running tests. It builds upon that there is *one* definition of which files belong in which library. Thus the pattern of compiling in another file for different test runs is not supported. This is a simplification that enables tests to be run in parallel and it matches well with good design practices that work well in for example Sigas

[2019-11-23 13:46] marph91 commented on #590
Thank you for the explanation and suggestions :)

I tried to elaborate the options for my usecase. For now point 3 is working for me, but I'm considering to rewrite the design in order to accept the parameters as generics.

[2019-11-23 13:46] #590 closed

[2019-11-24 08:17] LarsAsplund commented on #590
@marph91 Stackoverflow is not the fastest way to get feedback but I do go there and search for questions once in a while. Do you want to tick the box an answer your own question?

[2019-11-25 14:45] trailbound commented on #589
I concur! Would be nice if VUnit would provide a clean, standard way to copy files into the working directory of the simulation run prior to simulation start. Or at least provide the simulation working directory in the pre_config hook.

I've run into this issue as well using a Vivado+Questasim flow. There are multiple file types to load memories or coefficients that Vivado expects to be copied int

[2019-11-26 03:18] zhajio1988 opened #592 "How many python3 threads can open at the same time(-p switch)"
@go2sh hello,
could you please check how many python3 threads can open?  if i run with -p 30, total 2000 testcases, i found the simulation is hang. not the testcase issue, if i sim the testcase alone, it can pass.

[2019-11-26 03:35] 1138-4EB commented on #592
Could you please provide more info about the context? What happens with values between `-p 1` and `-p 30`? How many cores does the host have? What is the CPU/RAM usage?

[2019-11-26 04:20] 1138-4EB commented on #589
AFAIK, in VUnit there is no concept such as *the working directory of the simulation*. All the paths that are provided to the simulators are absolute paths, so that it is not relevant where is the simulator called from. For example, you can add `print(cmd)` in https://github.com/VUnit/vunit/blob/master/vunit/sim_if/ghdl.py#L292. Executing example `array_axis_vcs` will show:

[code]

I think that t

[2019-11-26 04:54] kraigher commented on #589
See this discussion for a solution: https://github.com/VUnit/vunit/issues/236

[2019-11-26 06:09] zhajio1988 commented on #592
@1138-4EB
when I use with -p 30 -q simulation is hang. and can't continue.but the hanged case， if i run them. they will pass.

cat /proc/cpuinfo | grep name | cut -f2 -d: | uniq -c
     72  Intel(R) Xeon(R) Gold 6240 CPU @ 2.60GHz
cat /proc/cpuinfo| grep "physical id"| sort| uniq| wc -l
2
cat /proc/cpuinfo| grep "cpu cores"| uniq
cpu cores	: 18
cat /proc/cpuinfo| grep "processor"| wc -l
72

I will

[2019-11-26 07:23] kraigher commented on #592
What simulator are you using? You might run out of licenses and be blocked because of it.

[2019-11-26 08:04] zhajio1988 commented on #592
synopsys VCS，not come across VCS out of license situation

[2019-11-26 08:28] kraigher commented on #592
Synopsys VCS is not offcially supported. Are you using a fork?

On Tue, Nov 26, 2019 at 9:04 AM Jude Zhang <notifications@github.com> wrote:

[2019-11-26 08:48] zhajio1988 commented on #592
i am not using a fork， just local modify.

[2019-11-26 08:56] kraigher commented on #592
Ok I would consider the possibility that you have a bug in your locally modified code.

[2019-11-26 12:41] haggaie commented on #589
Thanks everyone.

I prefer not to change the source Verilog files as they are auto-generated from HLS. I used a solution that copies in the pre_config function, even though I agree that passing a tb_path parameter would be cleaner.

[2019-11-26 12:41] #589 closed

[2019-11-27 01:26] zhajio1988 commented on #592
@kraigher all right, i will  check my modified code. thanks.

[2019-11-27 06:06] LarsAsplund commented on #592
@zhajio1988 Would you consider making your code public. Would allow people to review/spot the bug. Could also be the start of official support for VCS

[2019-11-27 06:57] LarsAsplund commented on #588
Using base32 would be even more safe since it only has alphanumericals. It takes more space but that shouldn't be a concern for our use case. We could even do base16 (hex) for easier implementation. I can have a go at this. I'll probably try to push the VHDL decoding part to the JSON4VHDL project. Any comments @paebbels?

[2019-11-27 07:34] 1138-4EB commented on #588
IIRC, the main limitation of the current implementation of JSON-for-VHDL is that it is synthesisable. For example, the maximum length of the file to be read is hardcoded. Precisely, constant `C_JSONFILE_INDEX_MAX` is used to allocate `variable Stream : STRING(1 to StrLength);`: https://github.com/Paebbels/JSON-for-VHDL/blob/master/vhdl/JSON.pkg.vhdl#L297-L309. For simulation, I believe that it wou

[2019-11-27 08:05] felixn commented on #588
I'm fine with base32 or base16, however I fear that the different simulator vendors all have different, arbitrary limits on lengths of generics that can be passed in via command line...
The data.json currently used in the tests is something like 272 characters, base64 is 364 chars, base32 is 440 chars, base16 is 554 chars.

[2019-11-27 14:03] ttobsen opened #594 "VUnit 4.1.0 breaks VHDL 2008 library settings for GHDL"
Since upgrading to VUnit 4.1.0, I've git problems using with GHDL.

For example, I add in my run.py

[code]

I get the following error when running run.py

[code]

It seems that the default VHDL standard label isn't working anymore.

[2019-11-27 14:18] kraigher commented on #594
Can you add prints to ghdl_interface.py printing every time a vhdl standard is added to the `set` in setup library mapping? Our automated tests run ghdl and they have worked so it must be related to something local on your side.

[2019-11-27 14:27] ttobsen commented on #594
Thanks a lot, you're absolutly right. I'm using a selfmade VUnit helper library which adds some VHDL libs using

[code]

Removing the vhdl_stabdard parameter fixes the workflow.

So the question is: What is the right syntax to specifiy the VHDL standard? It seems that the default parameter is `VHDLStandard('2008')` and the given `'2008'` parameter isn't resolved to the same result. Therefore the c

[2019-11-27 14:30] kraigher commented on #594
On public api a plain string should work. The VHDLStandard type is private implemention detail. Are you using any private methods? Maybe you have found a bug?

[2019-11-27 14:34] ttobsen commented on #594
Ok, some further tests. When using the `vhdl_standard="2008"` in the `add_library` method like

[code]

it is also working.

Can it be that the `vhdl_standard` isn't resolved within the `add_source_files` correctly?

[2019-11-27 14:40] kraigher commented on #594
I think you have found a bug. We have a test gap here it seems. The Public API argument is not converted to the private data type.

[2019-11-27 14:41] kraigher commented on #594
Which reminds me I miss a static type system in Python. We should really start to use mypy.

[2019-11-27 14:45] ttobsen commented on #594
Yes, the old discussion between static and dynamic typing. But I totally agree with you. :wink:

[2019-11-27 17:39] kraigher commented on #594
Using mypy I could prove that the bug exists and fix it.

[2019-11-27 20:29] kraigher commented on #594
It is fixed on master now.

[2019-11-27 23:11] 1138-4EB opened #598 "Status of Python branches"
This issue is just a quick reference to the official release schedules of Python versions:

- https://devguide.python.org/devcycle/#end-of-life-branches
- https://devguide.python.org/#status-of-python-branches

In the CI pipelines, we are currently testing the latest and newest supported Python 3 versions: 3.5 and 3.7/3.8 (depending on the service/context). We are also testing Python 2.7 until nex

[2019-11-27 23:22] ttobsen commented on #594
Thanks a lot!

[2019-11-27 23:24] 1138-4EB commented on #594
@ttobsen, shall we close this issue? Or do you want to test it first?

[2019-11-27 23:25] ttobsen commented on #594
I can test it. Gimme a few minutes and I'll provide some feedback.

[2019-11-27 23:38] ttobsen commented on #594
Alright, with the 4.2.0 release my example fails and upgrading to the latest master works as expected! Thanks a lot for the fast response and fix, this issue is solved. :smile:

[2019-11-27 23:43] #594 closed

[2019-11-28 11:04] 1138-4EB commented on #588
While working on #595, I found https://github.com/VUnit/vunit/blob/master/tests/acceptance/artificial/vhdl/tb_set_generic.vhd. If that test passes in all the supported simulators, generics of type real should be supported. Hence, I am curious about the comments by @dstadelm and @LarsAsplund that are quoted above. In which context do generics of type real fail?

[2019-11-30 11:53] umarcor commented on #494
Now both mcode and LLVM seem to fail:

- mcode: https://travis-ci.com/dbhi/vunit/jobs/261777045#L615
- llvm: https://travis-ci.com/dbhi/vunit/jobs/261777046#L615

@LarsAsplund, would you mind having a look at https://github.com/dbhi/vunit/commit/1d12db70a291cd6973155166d7f614bcc2ff3bc1? According to the comments above, it should limit boxes to 64 elements; hence, either of the loops, the UUT or tw

[2019-12-01 03:32] 1138-4EB commented on #539
We are hitting a similar issue when using `tox` on windows. See #536, tox-dev/tox#1468 and tartley/colorama#230.

[2019-12-02 00:06] bradleyharden opened #603 "Proposal for a more comprehensive approach to VUnit co-simulation"
@LarsAsplund, @kraiger and @umarcor,

I would like to propose a broad strategy for co-simulation with VUnit. I really like what @umarcor has been working on, but I think his approach leaves most of the implementation to users. If I understand #568 correctly, users have to manually synchronize between VHDL and C/Python using clock signals run through a `string_ptr`. That approach is extremely power

[2019-12-02 02:48] zhajio1988 commented on #592
@LarsAsplund  hi, my modified scripts is used to run systemverilog/UVM based testbench.
i will check if i can transplant code to vunit.

[2019-12-02 06:42] LarsAsplund commented on #603
@bradleyharden I'll read your proposal in detail later but enabling message passing over language boarders is certainly one of the goals with the work that has started.

Another statement of yours caught my eye

It's always interesting to hear inside stories about how VUnit is perceived. Could you elaborate on this? Why is this hard? What is the approach used instead?

[2019-12-02 08:31] alexg-k opened #604 "Console report shows passed, but Modelsim output.txt shows failed"
When invoking the test below, the console output shows that the test passed, although the test is supposed to fail. When using the option --gui or checking the output.txt of the simulator manually both indicate that the test does fail. Below see my example. The bug occured using vunit-hdl 4.2.0, Python 3.7.3 and QuestaSim -64 10.7a (Modelsim).

run.py:
[code]

Testbench:
[code]

The console output

[2019-12-02 12:37] kraigher commented on #604
The problem is that you are not following the VUnit design pattern resulting in undefined behavior.

The `run` call should be between `test_runner_setup` and `test_runner_cleanup` calls.
A single invocation of the `run("test_name")` indicates to VUnit that a new test named "test_name" has started.  Upon the next `run` call VUnit ends the current tests with status passed and starts a new test. It m

[2019-12-02 12:50] kraigher commented on #604
@LarsAsplund what do you think about detecting this situation and give an error for misuse of run?

[2019-12-02 13:15] umarcor commented on #603
@bradleyharden, overall the proposal sounds astonishingly well!

As a matter of fact, my initial objective was not to co-simulate Python and VHDL, but C and VHDL only. I made `cosim.py` and the VUnitCoSim prototype after talking with @LarsAsplund, since he was precisely interested on having actors in Python which are equivalent to the ones in VUnit's VHDL libs. What you propose is exactly that.

T

[2019-12-02 14:18] umarcor commented on #583
I'm the one who is sorry now. I completely overlooked your last comment.

I do partially agree, but there some corner cases. In the current example users must allocate two arrays to store the eid and length of each point, but the pointer does not need to be explicitly allocated, it might be given. For example, when using Octave + VUnit + GtkWave, data is allocated in Octave, and VUnit/C receives a

[2019-12-02 20:42] peshola commented on #603
@umarcor, the SAND Report you reference above is a bit dated.  It was updated for Xyce 6.11, in June 2019, as SAND Report SAND2019-6653 ("Application Note: Mixed Signal Simulation with Xyce 6.11 ").  There were various bug fixes done for Xyce 6.11.  In addition, some of the function signatures in the XyceClnterface class, and the corresponding Python methods, were modified to make them more compli

[2019-12-03 04:49] umarcor commented on #603
Hi @peshola! I assume that you are Peter, one of the authors of the articles and the related work on Xyce. Nice to meet you and thanks a lot for coming by!

I created an issue in ghdl/ghdl#1052 to avoid hijacking this thread, which is quite complex already. I will reply you there.

[2019-12-03 06:25] LarsAsplund commented on #603
While we could make the SW APIs a clone of what we have in VUnit we should also consider integrating ourselves with one of the open message passing frameworks out there. It would make it more accessible to many SW languages. I don't have any experience in this area, just know that they exist.

[2019-12-03 06:38] umarcor commented on #603
@LarsAsplund, I believe that it is essentially what I meant with *hooks* in the last two paragraphs of https://github.com/VUnit/vunit/issues/583#issuecomment-560415362. We can think of `ext_ptr` as an API, with a specific 'internal' implementation (Bradley's). I think that the main issue with not using an internal implementation, is that any general message passing framework might not provide all

[2019-12-05 02:58] bradleyharden commented on #603
@LarsAsplund, I don't want to get too sidetracked responding to your question, but I'll try to explain a little bit. In my case, I think there are a few different issues, but none of them are really the fault of VUnit. Maybe we can move the discussion to Gitter.

First, I gave a presetation on VUnit, but I realized afterwards that I tried to cram in WAY too much information. My objectives for the

[2019-12-05 09:57] abaebae opened #605 "Problem with VUNIT_TEST_OUTPUT_PATH_MARGIN and Riviera-Pro"
I tried to use the `VUNIT_TEST_OUTPUT_PATH_MARGIN` option to reduce the path length. The paths are shortened, but Riviera has a problem with the shortened path. It runs in loop and does not recover. Using `VUNIT_SHORT_TEST_OUTPUT_PATHS` works fine.

[2019-12-05 15:22] umarcor commented on #603
According to your description, it seems that you tried to fit (at least) three presentations in a single one. That never works. But I understand you perfectly. When you have so much info that you are excited about and you are willing to share it is so difficult to refrain yourself...

I guess that a possible approach is to replace a makefile or `testsuite.sh` script of one of the smallest test sui

[2019-12-05 15:56] kraigher commented on #605
Setting VUNIT_TEST_OUTPUT_PATH_MARGIN=0 would be equivalent with VUNIT_SHORT_TEST_OUTPUT_PATHS. Could you be more specific what case is not working? What is the name of the test you are trying to run?

[2019-12-05 20:14] LarsAsplund commented on #603
@bradleyharden

I've been there. Developers not used to creating self-checking testbenches may walk away from a presentation just being interested in a simple script for incremental compilation. But that's a start and it's actually well worth the time spent on a presentation.

Me neither but I did spend a few minutes trying to compile it to see how far I could get. If I remember correctly I found

[2019-12-05 20:28] LarsAsplund commented on #603
@bradleyharden

This is pretty much the way I see it as well. Our target audience all know VHDL and for the majority it is their main language. While they may recognize that VHDL has its limitations they rarely think that starting from the beginning and do everything in another language like Python, Scala or even SystemVerilog. Individuals certainly do some experiments but it's a long way from tha

[2019-12-05 20:45] LarsAsplund commented on #603
This is also something I think we need, There is a lot of work going on, information spread over many threads in dependencies. What I'd like is a map showing the end use cases on one side, our prototypes with instructions how to replicate the on the other side. In between are the tasks that takes us from one side to the other. Boxes and arrows showing functional growth and dependencies

The goals

[2019-12-06 09:04] abaebae commented on #605
I did some testing and I can't verify that setting `VUNIT_TEST_OUTPUT_PATH_MARGIN=0` leads to the same path as `VUNIT_SHORT_TEST_OUTPUT_PATHS`.
To get the same resulst as `VUNIT_SHORT_TEST_OUTPUT_PATHS (full_name = hash_name)` the margin has to be: `margin = max_path - prefix_len - len(hash_name)` . If `margin > max_path - prefix_len - len(hash_name)` the index gets negative and the path gets long

[2019-12-06 13:25] kraigher commented on #605
I do not think there is much VUnit can do in this situation. These parameters are for the user to tune the path lengths. The path length reduction works as specified in your case however it was still not enough for Riviera, which VUnit cannot know.

[2019-12-07 10:25] umarcor commented on #603
@bradleyharden, I asked Tristan in https://github.com/ghdl/ghdl/issues/1052#issuecomment-562265141. See ghdl/ghdl#1053 also.

[2019-12-07 18:23] alexg-k commented on #604
Thank you for pointing out my issue. I am starting just now to use VUnit for testing VHDL components. A warning for this misuse would be appreciated.

Usually when creating testbenches I like to seperate the Stimulus component and the ResponseChecker component into two processes. The Stimulus process determines what input values are tested and when the testbench is finished. The ResponseChecker ch

[2019-12-07 18:35] eine commented on #604
@alexg-k, see https://github.com/VUnit/vunit/blob/master/examples/vhdl/array/src/test/tb_sobel_x.vhd or https://github.com/VUnit/vunit/blob/master/examples/vhdl/array_axis_vcs/src/test/tb_axis_loop.vhd for examples of separated stimulus and check processes that fit the design pattern of VUnit.

[2019-12-09 07:07] abaebae commented on #605
I guess you are right

[2019-12-09 07:07] #605 closed

[2019-12-09 08:45] umarcor commented on #603
Work in progress to move cosimulation sources to a separate repo:

- https://github.com/umarcor/cosim
- #606

[2019-12-09 14:00] dstadelm commented on #588
If I use a real value for tb_axi_stream I get:

/usr/local/bin/ghdl:error: unhandled type for generic override of 'g_stall_master'
/usr/local/bin/ghdl:error: error during elaboration

[2019-12-09 14:47] eine commented on #588
@dstadelm, you are correct. It seems that GHDL does supports real values as generics of a top-level entity, as long as a default value is provided and it is not overwritten through CLI args. That's why: https://github.com/VUnit/vunit/blob/master/tests/acceptance/artificial/vhdl/run.py#L63-L66

[2019-12-11 22:53] bradleyharden commented on #604
@alexg-k, you can model your test benches off of those examples, but I would argue that they are very "RTL" in style. I think that style misses a huge opportunity to improve the structure of your test benches using the VUnit com library:

http://vunit.github.io/com/user_guide.html

If you are new to VUnit, I would suggest taking a look at it. In most cases, it's much easier to work with messages t

[2019-12-12 20:57] nfrancque commented on #577
Turns out parsing VHDL is indeed very, very hard.  I have most of this working locally - search all of file's referenced libraries for entities matching component declaration.  It improved things significantly, almost all of project compiles with -bindAtCompile enabled.

I can't cover the case of declaring a component and then in the instantiation simply saying

`U_NAME : component_name` and then

[2019-12-16 18:41] LarsAsplund commented on #603
@bradleyharden @umarcor One way to create that map I was talking about is to use [user story mapping](https://storiesonboard.com/user-story-mapping-intro.html). I've created a start [here](https://app.featmap.com/larsasplund/projects/ea0a1bfb-873a-4e8e-9ba9-50e69bb15067). If you hand [me](https://github.com/LarsAsplund) an email address I should be able to add you as editors to this map.

[2019-12-19 15:16] #604 closed

[2019-12-23 20:58] LarsAsplund commented on #212
The array package has been deprecated

[2019-12-23 20:58] #212 closed

[2019-12-23 21:06] LarsAsplund commented on #457
I'll close this now. We can't reproduce it and it sounds like a simulator problem rather than a VUnit problem.

[2019-12-23 21:06] #457 closed

[2019-12-23 21:14] LarsAsplund commented on #347
The Sigasi integration is mature enough that this issue can be closed.

[2019-12-23 21:14] #347 closed

[2019-12-29 07:27] anadigilogic opened #608 "feature request : I want to add a number to the list and run tests on that number"
When executing a test, it is troublesome to execute if the test case name is long. So, I want to be able to run a specific test just by specifying the number.

For example,

python run.py -l

1: project_lib.testsuite.testcase1
2: project_lib.testsuite.testcase2
3: project_lib.testsuite.testcase3

In this case, I want to run the test as follows:

python run 2

[2019-12-29 07:36] kraigher commented on #608
Wildcard pattern is not enough? In this case you would run *2

[2019-12-29 08:53] anadigilogic commented on #608
Actually, test cases are not the numbering but the content of the test.

lib.tb_A.config_A.AB Equal
lib.tb_A.config_B.AB Equal
lib.tb_A.config_C.BC Equal
lib.tb_B.config_A.AB Equal
lib.tb_B.config_B.AC Equal
...

In extreme cases, it's a bit tedious to find a pattern that points to the test case in question.

I thought that it would be more intuitive to assign a number when obtaining the list and

[2019-12-29 10:50] kraigher commented on #608
Yes maybe it is useful but you could also add a number to the name of your configurations to make it easier to select tests.

I am on thw fence on this. If more people find this useful I would accept a PR for it. We cannot add every small thing people want especially if it can be solved on the user side unless we make VUnit to bloated.

[2019-12-30 05:16] Dhananjay20 commented on #240
@aodling Can you tell me how you add glbl as a top module in script

[2020-01-02 01:54] bradleyharden commented on #603
@umarcor and @LarsAsplund, I haven't had a ton of time to work on this, but I have made _some_ progress recently. I've done a bit more prototyping, and I've encountered some design decisions that need to be made.

This post might end up being overly pedantic, but when I make design decisions, I like to trace my rationale from first principles. I thought it would be best to do that here, so that ot

[2020-01-05 17:54] chatziant opened #609 "parsing error on python3.8"
Recently my system (Manjaro Linux) updated to python 3.8 and since then, whenever I try to use Vunit for my tests, the following exception is raised:

/home/panos/.local/lib/python3.8/site-packages/vunit/builtins.py:136: Warning: 'array_t' is deprecated and it will removed in future releases;use 'integer_array_t' instead
  warn(arr_deprecation_note, Warning)
Traceback (most recent call last):
  Fi

[2020-01-05 18:21] felixn commented on #609
Can you post the offending lines from your modelsim.ini? I bet it looks like this:
[code]
The line with `arraymode` does not look like a valid line for an ini file, try replacing the `l` with a semicolon.

[2020-01-05 18:32] chatziant commented on #609
I can confirm that .ini file lines are exactly as you mentioned.
[code]
Even if I replace `l` with `;`, the same problem is triggered every time I try to run the vunit_run script.
`modelsim.ini` is produced when the script is executed, so this doesn't exactly solves the problem.

[2020-01-05 19:15] eine commented on #609
You should be able to provide your own `modelsim.ini`. So, let it create the file for you once, then edit/fix it, last set `VUNIT_MODELSIM_INI` (see http://vunit.github.io/cli.html#simulator-specific-environment-variables). Alternatively, as commented in the docs, you might want to modify it in the source (the installation folder of Modelsim), where it is copied from.

@felixn, any info about how

[2020-01-05 19:31] kraigher commented on #609
VUnit copies the installed modelsim.ini file from on every run do the root problem must be fixed there.

[2020-01-06 11:01] chatziant commented on #609
After considering what @kraigher mentioned, I figured out that `modelsim.ini` on modelsim installation directory had the same problematic line (line 1970). After editing the file and replacing with a semicolon vunit was able to run the test without complaining.

Thank you all for the help.

[2020-01-06 11:01] #609 closed

[2020-01-08 18:24] GlenNicholls commented on #603
@LarsAsplund I think this is needed. One of the things I struggled with when learning VUnit is beyond the simple examples, the only way to ask questions on Gitter and someone reponds with a more advanced feature or reading through the code and figuring out the underlying details behind the framework. I think that having these types of examples would be really good to add more advanced features/use

[2020-01-09 12:20] nfrancque commented on #168
Not sure why I didn't reply to this originally, found it while thinking about it again.

If it was GPL then yes I believe we can make whatever modifications we want as long as source is published.  Which it has to be, because this is open source.

Usage is always fine.

Also looks like your use of GPL v2 is okay, and [auto-upgrades](https://softwareengineering.stackexchange.com/questions/238748/ca

[2020-01-09 20:15] LarsAsplund commented on #603
@GlenNicholls We should probably move this discussion elsewhere. As a start, could you please make a list of features that you think would provide most value to your colleagues if they were properly understood through examples and documentation. Put it on Gitter as a start.

[2020-01-15 15:32] qarlosalberto commented on #209
I would like help with Xsim support.

@eine I am really interested in common VUnit functionalities and array library. My goal is to simulate a test as this https://github.com/qarlosalberto/cordicHDL/blob/develop/tb/cordic_top_tb.vhd with Xsim
What could I need?

[2020-01-15 22:44] eine commented on #209
@qarlosalberto, see https://github.com/VUnit/vunit/issues/209#issuecomment-545942699. I believe that the codebase didn't change significantly in that regard during the last couple of months.

[2020-01-16 10:47] qarlosalberto commented on #209
I'm working on with the setup:
- Vivado 2019.2
- 1138-4EB/petterssonmagnus-xsim
- VUNIT_VHDL_STANDARD=93

I have applied the change:

[code]

I have applied some changes and now I have this error:

[code]

[2020-01-16 11:01] qarlosalberto commented on #209
My fault, I have been a wrong change. But I have a error with:

[code]

[2020-01-16 11:03] eine commented on #209
See https://github.com/VUnit/vunit/issues/209#issuecomment-545942699.

[2020-01-16 11:20] qarlosalberto commented on #209
It is correct the change?

[code]

[2020-01-16 11:21] eine commented on #209
Worth a try.

[2020-01-16 11:52] qarlosalberto commented on #209
I have compiled all libraries :)

But I don't know why Vivado say that they aren't compiled in library vunit_lib...
[code]

[2020-01-16 12:18] qarlosalberto commented on #209
With this line I compile VUnit libraries into vunit_lib, but I have the same error:

https://github.com/eine/vunit/blob/petterssonmagnus-xsim/vunit/xsim_interface.py#L103

[code]

[code]

[2020-01-17 07:27] dsp20 opened #613 "Cannot find 'enabled_test_cases'"
While creating an environment in vunit with System Verilog testbench, my simulation fails with error showing "Internal error: Cannot find 'enabled_test_cases' key".
I checked everything and looks fine for me. Can you guess where could be the problem?
![image](https://user-images.githubusercontent.com/46738970/72592585-e44dcb00-3928-11ea-9348-14b5a2958468.png)

[2020-01-17 08:31] qarlosalberto commented on #209
@imd1 Did you get it to work?

[2020-01-20 05:54] movadaml commented on #504
I hit this exact issue recently while evaluating vunit.
The following failed with the same error:
- ./run.py
Note that irun_compile_vhdl_file_vunit_lib.args includes "-v200x"
- VUNIT_VHDL_STANDARD=93 ./run.py
Note that irun_compile_vhdl_file_vunit_lib.args includes "-v93"

I was able to work around this by commenting out the prototype for "procedure decode".  A permanent workaround might be to def

[2020-01-22 00:59] nfrancque opened #615 "GUI Wave Tcl"
I would like to improve the wave.do loading for vunit.  This is all from a modelsim background, please let me know if there's something that would be different in another simulator.

1)

Right now I have one run.py with many testbenches, some of which are not at the same hierarchy and therefore need different wave files.  I would prefer to keep this master run.py from being edited by individual bl

[2020-01-22 05:01] kraigher commented on #615
Sure sounds good. We try to keep the same feature set for both modelsim and riviera so it would be good if it can share implementation for both.

[2020-01-23 07:21] smenzel commented on #615
I wrote a wave_init.do script that does something similar to your request:
It doesn't load a wave from the location of the testbench but from a subfolder _waves_ in the vunit folder. Here I keep the waves of all my testbenches and name them {testbench_name}_wave.do.

[code]

[2020-01-23 12:35] nfrancque commented on #615
Thanks for the the example.

I believe that feature is as simple as this:

https://github.com/VUnit/vunit/blob/b06474f7758580e2a40e936017975ca0a1b26073/vunit/sim_if/vsim_simulator_mixin.py#L204

to

[code]

to support regular wave.do's as they are now.  Modelsim just ignores `add wave` commands from a wave.do when run on the command line.

To get the logging part done, maybe we can set a tcl varia

[2020-01-26 06:28] #529 closed

[2020-01-27 13:54] flyinged commented on #416
@kraigher , thanks for the answer, but the link points to a 404. Has the documentation been moved?
Thanks

[2020-01-27 14:03] eine commented on #416
@flyinged, the section was reorganised. It is now http://vunit.github.io/py/opts.html#simulation-options

[2020-01-27 14:12] nfrancque commented on #615
Just so it doesn't look like this is being abandoned - found out someone at my company already made something like this.  Finding out if it can be partially released, otherwise will write from scratch.

[2020-01-27 14:43] nfrancque opened #617 "add_manual_dependency has no effect"
Root issue is with a configuration of the following form:

[code]

Vunit does not recognize the need to have foo(rtl) compiled before the configuration and a compile error occurs.  Running with -k twice is a consistent workaround.  If we can resolve this that would be ideal for my use case, but you would expect the manual dependency to be a guaranteed failsafe.

So, after doing the following (semi

[2020-01-27 18:21] nfrancque commented on #617
Adding tree to make the configuration part make more sense.  Here is the directory structure/hierarchy.

├── bar
│   ├── bah
│   │   └── src
│   │       └── dsn
│   │           ├── bah-rtl.vhd
│   │           └── bah.vhd
│   └── src
│       └── dsn
│           ├── bar-rtl.vhd
│           └── bar.vhd
└── src
    ├── cfg
    │   └── foo_cfg_empty_bah.vhd
    ├── dsn
    │   ├── foo-rtl.vhd
    │   └

[2020-01-27 18:35] kraigher commented on #617
The feature is documented here. Seems the text is a bit wierd and should be updated.
http://vunit.github.io/py/vunit.html?highlight=add_dependency_on#vunit.ui.source.SourceFile.add_dependency_on

The configuration file should depend on the architecture file:
[code]

Does this correspond to you usage?

[2020-01-27 18:47] nfrancque commented on #617
It looks like `add_dependency_on` ends up calling `add_manual_dependency`.

https://github.com/VUnit/vunit/blob/b06474f7758580e2a40e936017975ca0a1b26073/vunit/ui/source.py#L149-L150

I hadn't seen this and am calling ui._project.add_manual_dependency directly.

But otherwise yes in concept that is my use case.

[2020-01-27 18:55] kraigher commented on #617
Are you not seeing the correct dependencies when running with `--log-level=debug`?

Btw:
The `_project` field is a private field which means end users should not call it directly. In python it is a convention to have names starting with `_` meaning private. Relying on private members can cause undefined behavior and breakage on future updates since we only make an effort to keep the Public API sta

[2020-01-28 12:25] nfrancque commented on #617
That's the odd part, I do see the dependency output with --log-level debug.  Just no impact.

It looks like some change has happened by switching to `add_dependency_on`.  Let me test that for a bit and get back to you, thanks for suggestion.

And yes I am acutely aware of that unfortunately.  Have had to mangle a few private fields on this particular project since they didn't want me to fork and t

[2020-01-28 22:08] nfrancque commented on #617
Ok.  With switching to add_dependency_on the compile order is changed as I expect and things work.

Do you have any interest in looking into the reason it didn't pick up on that particular configuration, or should we chalk that up as another need to switch parser type thing?  I am fine with either option personally.

[2020-01-29 04:56] kraigher commented on #617
Understanding that configuration is not something that would be nice to do with the current regex based parser. We would need a real parser.

One option we have would be to add support for declaring a dependency with a comment. It would be more convenient and local in this case.

[2020-01-29 13:08] nfrancque commented on #617
That's an interesting thought.  In this case I am having users create a yaml to specify everything and one of the fields is
[code]

However it does seem like it could be hard to find for someone coming along later to edit the code.

It would be nice to see the standardization of some sort of manifest like what you've done with rust_hdl.  That seems a more likely place to specify these things.  We

[2020-01-29 15:23] eine commented on #617
@nfrancque, refs #347, #352, #353, #577 and #529. [This](https://github.com/eine/vunit/commit/c94690848433f186305d8ee52b393af9a4db189a) is a proof of concept I wrote, to have a *default* `run.py` to read a JSON configuration file. The comments are all the features from the Python API that might potentially be supported.

Moreover, [ghdl-language-server](https://github.com/ghdl/ghdl-language-server

[2020-02-04 10:04] hcommin opened #618 "Can't automate Modelsim's set IterationLimit"
Using VUnit, I often find it necessary to increase Modelsim's IterationLimit beyond its default value. (For example, when checking a large memory).

To do this manually, I can enter `set IterationLimit 20000` in Modelsim. However, I can't find any way of automating this with VUnit, so my automated tests fail.

This is very similar to Issues #223 and #262. However, none of `modelsim.vsim_flags`, `m

[2020-02-04 17:27] kraigher commented on #618
You need to declare it as global first.

[code]

Another alternative is to see if there is a vsim flag to set it and use vsim_flags sim_option

[2020-02-04 20:39] LarsAsplund commented on #613
Can you provide a [minimal working example](https://en.wikipedia.org/wiki/Minimal_working_example) for this?

[2020-02-05 06:50] hcommin commented on #618
Thank you - this solves the issue. I created a new file named _init.do_, containing these lines:

[code]

Then I added this line to my _run.py_:

`lib.set_sim_option("modelsim.init_files.before_run",["init.do"])`

I would prefer a solution using a `vsim` flag (since then I don't need the extra _init.do_ file). However, I scanned through the Modelsim doc and the closest I could see was the `-do` op

[2020-02-05 06:50] #618 closed

[2020-02-05 09:38] milosreljin opened #619 "modelsim.ini parsing error"
I tried to make a test project with vunit and ModelSim, but when I run compile option, I get this error:

[code]
When I opened modelsim.ini, I saw this:

; Valid extensions are:
l   arraymode    - consider rand_mode of unpacked array field independently from its elements
;   deepcheck    - allow randomize(null) to recursively consider constraints from member rand class handles
;   forkjoinstab - p

[2020-02-05 10:28] milosreljin commented on #619
Nevermind, I realized that VUnit just copies modelsim.ini from tool's install path and file was corrupted there. When I fixed it manually in installation dir, compile passed.

[2020-02-05 10:28] #619 closed

[2020-02-05 17:56] eine commented on #619
Actually, this is dup of #609. I'm glad you found out so quick!

[2020-02-08 19:46] nfrancque commented on #615
@eine added you as a reviewer to #622
First pull request here so feel free to berate me if things are not as they should be :)

[2020-02-10 23:24] eine opened #623 "make AXI stream stall statistics available to users"
In #557, the possibility to configure random stalls was added to AXI Stream VCs. In the same PR, a *statistics* feature was added to the sources for testing. As commented in https://github.com/VUnit/vunit/pull/557#discussion_r334106132, it would be useful to make these *statistics* available for a regular usage of the VCs (a kind of monitor). This issue is a remainder, so that we don't forget that

[2020-02-13 13:51] talonmyburgh opened #625 "TypeError: 'PosixPath' object is not iterable"
Following the vivado example provided for vhdl (found at vunit/examples/vhdl/vivado), I run:

`python generate_vivado_project.py`

which launches vivado, runs without error and exits vivado. Then when I run:

`python run.py`

I get the following error:

`Traceback (most recent call last):
  File "run.py", line 24, in <module>
    VU.add_library("lib").add_source_files(SRC_PATH / "*.vhd")
  File "/

[2020-02-13 19:06] felixn commented on #625
VUnit was updated to support pathlib paths, and the examples were updated to use them in #612
So the issue is most likely that you have an older vunit installed (probably from pypi) but trying to run examples from a newer git revision. The issue should occur for all examples, even (for example) examples/vhdl/check/run.py.

Either use the examples from a git revision before the PR was merged, or in

[2020-02-13 21:13] eine commented on #625
As explained by @felixn, there is currently a mismatch between the status of examples in `master` and the lates stable codebase (`v4.3.0`). This can be *fixed* cloning VUnit from `master` and setting PYTHONPATH; or browsing the example of tag v.4.3.0: https://github.com/VUnit/vunit/tree/v4.3.0; apart from other install options as linked by @felixn.

I'm closing this issue, because it is an expecte

[2020-02-13 21:13] #625 closed

[2020-02-14 15:45] talonmyburgh commented on #625
Okay, I see my mistake. I've now gone and installed VUnit from the 4.3 release and removed the pip installed vunit etc as @felixn mentioned. Now I get the following error when running the run.py script:
`Compiling standard libraries into /home/talon/Desktop/vunit-4.3.0/examples/vhdl/vivado/vivado_libs/standard ...
Traceback (most recent call last):
  File "run.py", line 32, in <module>
    project

[2020-02-14 23:48] #588 closed

[2020-02-15 23:35] eine commented on #625
Installing release v4.3 is equivalent to using `pip install vunit_hdl`. This is because the latest stable release is precisely v4.3. In order to use it, you need to fetch the corresponding examples. I think that you are actually doing this, because of the paths in the error message. This is just a note to remember that the issue is not which version to use, but a mismatch between the version and t

[2020-02-17 10:07] qarlosalberto commented on #209
To use XSim with VUnit VHDL libraries isn't possible. XSim doesn't support variable access types, for example:

acc := new vav_t'(0 to acc'length + 2**16 => null);

This is a big problem, since it is used in the basic types of VUnit.

I'm woking in a very basic VUnit funcionalities in this repo:

https://github.com/softwareradiosystems/vunit

This is an example of VUnit with VHDL Xsim:

https://gi

[2020-02-20 08:16] umarcor commented on #579
Merged as part of #606.

[2020-02-20 08:16] #579 closed

[2020-02-25 17:03] GlenNicholls opened #628 "math_real `log()` confuses VUnit preprocessing"
I am seeing the following behavior after enabling location preprocessing (`vu.enable_location_preprocessing()`)

I'm getting an error in modelsim with this line of code:

[code]

[code]

Now, I open the file that VUnit saves to the `preprocessed` directory and that same line of code was changed to

[code]

I just enabled location preprocessing, but this is causing a standard function to break sinc

[2020-02-25 17:07] GlenNicholls opened #629 "VUnit `log()` conflicts with math_real `log()` when enabling location preprocessing"
I am seeing the following behavior after enabling location preprocessing (`vu.enable_location_preprocessing()`)

I'm getting an error in modelsim with this line of code:

[code]

[code]

Now, I open the file that VUnit saves to the `preprocessed` directory and that same line of code was changed to

[code]

I just enabled location preprocessing, but this is causing a standard function to break sinc

[2020-02-25 20:12] eine commented on #628
Closing, as #629 seems a copy with an additional sentence.

[2020-02-25 20:12] #628 closed

[2020-02-29 22:31] miguel9554 opened #630 "add_source_files not working with pathlib arguments"
All the examples use `pathlib` arguments for adding sources to the project with `add_source_files`. However, this doesen't work, as the library tries to iterate over the pattern, and PosixPath is not iterable. For example, when trying to run the tests for the check example,

[code]