[2014-11-25 21:50] LarsAsplund opened #1 "Fail on multiple test cases with the same name"
Copy/paste mistake that can cause a failing test cases to go undetected if there is a passing test case with the same name. Same test case in different test suites should be ok.

[2014-11-25 22:10] LarsAsplund opened #2 "Investigate feasibility of a preprocessor supported relation check"
Investigate if it is possible to have a check looking something like this

check(<expression1> <relation operator> <expression2>);

that would, through preprocessor support, expand into something like this

check(<expression1> <relation operator> <expression2>, "<expression1> <relation operator> <expression2> check failed! Left is " & to_string(<expression1>) & ". Right is " & to_string(<expressio

[2014-11-26 11:27] LarsAsplund opened #3 "The string_ops acceptance test fails on some ModelSim installations"
The string_ops acceptance test fails on some ModelSim installations. At least PE 10.1. The problem is probably that some pure functions are calling test mocks with side effects that ModelSim fails to detect in compilation. If so, the problem is isolated to the VUnit test suites and not present in normal use of the VUnit library.

[2014-11-27 08:54] #3 closed, assigned to LarsAsplund

[2014-11-28 18:36] #1 closed, assigned to nobody

[2014-12-01 08:10] MyliumFPGA opened #4 "Running uart example on Modelsim PE"
After running a test I got a following errors:

[code]

[2014-12-01 13:34] #4 closed, assigned to kraigher

[2014-12-09 08:40] kraigher opened #5 "check_equal error message radix mismatch"
For instance unsigned vs integer has different radix in the error message.

[code]

[2014-12-17 06:12] #5 closed, assigned to LarsAsplund

[2014-12-19 05:42] kraigher opened #6 "TestRunner._run_test_suite catch exception"
TestRunner._run_test_suite should catch exception occurring then trying to remove the output_path and only fail that test suite. Currently the entire test run crashes.

[2014-12-19 09:38] mikbro opened #7 "wlf output directory"
Suggestion:
Place .wlf file in test output directory instead of current working directory.

Benefit:
keep simulation files with respective test case.

[2014-12-19 11:06] tomasnilefrost opened #8 "Allow verilog files to be added through ui.py"
It should be possible to add verilog-files through the user interface method add_source_files.

The method add_source_file in Project contains the field file_type, one suggestion would be to expose this field also in the wrapper methods in ui.py but keep the default value set to 'vhdl' to keep compability with existing scripts.

[2014-12-19 19:36] #6 closed, assigned to kraigher

[2014-12-21 16:13] #2 closed, assigned to LarsAsplund

[2014-12-24 09:35] #8 closed, assigned to nobody

[2015-01-14 21:53] LarsAsplund opened #10 "Add support for other simulators"
The VUnit Python runner currently support Modelsim but it's designed to support multiple simulators. What other simulators would you like to see supported? Let's have some voting.

[2015-01-16 11:40] #7 closed

[2015-01-16 11:50] kraigher commented on #10
Aldec

[2015-01-16 16:24] tomasnilefrost commented on #10
Wouldn't it be wise to look into isim? This would lower the bar to using vunit for Xilinx users without a modelsim license.
I mean, both Altera and Microsemi ships with a limited version of modelsim and is already covered.

[2015-01-16 17:59] kraigher commented on #10
@tomasnilefrost I have looked into supporting xsim which is the new name for isim when shipped with Vivado.
It might be reasonable to support it in some form but there are limitations that must be handled.

A few major problems with xsim:
* It does not support setting the break severity level to other than failure such as error or warning.
In vunit we have chosen to have an error as the default br

[2015-01-19 20:32] tomasnilefrost commented on #10
Ah, I see!
Personally I haven't used xsim/isim more than sporadic a few years ago. My main idea behind the suggestion was that it could lower the bar for new users.

Perhaps it's better to start by supporting a more "compliant" simulator and use the insights from that implementation work to better support a more limited simulator without impacting the current vunit implementation extensively.

[2015-01-22 13:01] JorgenPalsson opened #12 "VUnit does not support space in path to project"
The Python implementation does not handle space in the path.
It just cuts the path at the space and then finds nothing.

[2015-01-22 15:41] #12 closed

[2015-01-26 09:51] barri opened #13 "Topical Videos"
I would like to see more presentations on YouTube. More specifically videos that are around five minutes long which cover specific use cases of VUnit. This would be very useful when you are trying to integrate VUnit into your current workflow or just not too familiar with the tool.

Keep up the good work!
Barri

[2015-01-26 09:55] LarsAsplund commented on #13
This work has started. First will be a short introduction to unit testing and then a short introduction to VUnit. Please provide suggestions on topics that you would like to see and subscribe to the YouTube channel to get posted when new videos are added.

[2015-01-28 08:22] LarsAsplund opened #14 "Redistribute OSVVM with VUnit"
The OSVVM functionality for random value generation and functional coverage is commonly used with VUnit and it has been suggested that it should be redistributed with VUnit for a more easy access of the latest version. OSVVM is often shipped with the simulators but to get the latest version you have to check the osvvm.org site for updates and signup to download. OSVVM already has a redistribution

[2015-02-02 16:11] kraigher opened #15 "Add check_match and check_expect"
The following code causes an infinite loop when converting the 'expected' value to decimal integer due to undefined bits:
[code]

By the way: Would we want the 'expected' value to contain 'dont care' bits meaning they should not be checked? Kind of like the std_match vhdl function defined in numeric_std: http://en.wikipedia.org/wiki/Numeric_std

[2015-02-02 22:59] LarsAsplund commented on #15
I fixed the bug. A metalogical value will now result in NaN (not a number) when printed as an integer. The suggestion to handle don't cares as in std_match seems like a reasonable enhancement. Let me think about this a bit more.

[2015-02-03 09:01] LarsAsplund commented on #15
Using std_match in check_equal instead of the "=" operator causes some problems, e.g.:
- x"ZZ" = x"ZZ" is true but std_match(x"ZZ", x"ZZ") is false which is not what you expect if you associate checking for equality with the "=" operator as the name suggests
- check_equal(9, "100-") type of calls make the implementation harder but is probably not the main use case
- The main use case is that you h

[2015-02-03 12:21] LarsAsplund commented on #14
OSVVM 2014_07a is now part of the VUnit distribution. OSVVM 2015_01 will be added once it becomes official.

[2015-02-03 18:12] kraigher commented on #14
I would be nice to add a ui.py:VUnit method such as 'add_osvvm' to conveniently add osvvm to the compile list.

[2015-02-03 20:03] LarsAsplund commented on #14
Yes, that's probably a good idea. It's not very many lines today, for example
[code]
The tricky thing to remember is the empty list at the end of the add_source_files call. Whithout that globally enabled preprocessors will be applied to OSVVM as well. Since OSVVM cointains its own log calls the location preprocessor will trigger which leads to compilation errors.

[2015-02-04 18:29] kraigher commented on #14
I added the method now.

[2015-02-04 21:14] LarsAsplund commented on #14
Good move to make the library name configurable. I prefer the osvvm default but I've seen both osvvm and synthworks being used in code.

[2015-02-06 08:03] LarsAsplund commented on #14
OSVVM 2015_1 was just released and I've updated our repo. I'm going to add an example on how their alerts (checks) can be used together with VUnit and then close this issue.

[2015-02-06 13:27] tomasnilefrost opened #16 "The flag -modelsimini is necessary on Modelsim Microsemi v10.3a"
The fix for Issue #12 (5917f349810b968dc8aac307eabf8429a40c1d01) breaks vunit for "Model Technology ModelSim Microsemi vsim 10.3a Simulator 2014.04 Apr 15 2014"

After the fix it is impossible to load a design since vsim cannot find the compiled libaries (cannot find the modelsim.ini-file)

By reintroducing the flag -modelsimini in vunit_load() the majority of the acceptance tests can be run succe

[2015-02-06 15:22] kraigher commented on #16
As you mentioned there seems to be no way to get Modelsim 10.3 to accept spaces in the argument to the -modelsimini flag of the vsim command. Unlike the -wlf flag which would accept an escaped path containing spaces. Thus I removed the -modelsimini flag beliveing that the MODELSIM environment variable would work for everyone. So you are saying you version does not respect the MODELSIM environent v

[2015-02-06 15:50] tomasnilefrost commented on #16
At first I thought that the version didn't respect the MODELSIM environment variable but I now rather think that it has something to do with how the variable is set.

If I rename the output "end to end out" to "end_to_end_out" and prefix the unittest-run with the correct modelsimini-path it still doesn't work.
$ MODELSIM="c:/dev/vunit/acceptance_test/end_to_end_out/modelsim.ini" python -m unittest

[2015-02-06 15:56] tomasnilefrost commented on #16
Adding os.environ["MODELSIM"] = fix_path(self._modelsim_ini)
to the simulate()-method seems to set the environment variable correcty.

Still issues with spaces in the path and that solution would break standalone execution of the user.do-files since set env(MODELSIM) has to be removed from the tcl-file.

[2015-02-06 16:03] kraigher commented on #16
@tomasnilefrost could you try the modelsimini branch?

[2015-02-06 16:08] tomasnilefrost commented on #16
Doesn't seem to do the trick.

I think that there might be some issues in my version of how the environment variable is treated when it is set from within the tcl script.

[2015-02-06 16:16] kraigher commented on #16
@tomasnilefrost
http://www.microsemi.com/document-portal/doc_view/134193-modelsim-me-v10-3a-release-notes

Compatibility Issues with Release 10.3a
User Interface Compatibility
 dvt64978 - (results) Setting the MODELSIM environment variable from within vsim or a
vsim [do] file, would not work correctly; the new setting would not take effect in all
cases. This has been fixed and will now update the

[2015-02-06 16:20] kraigher commented on #16
In the above document the bug is listed under "User Interface Defects Repaired in 10.3a".

[2015-02-06 16:45] tomasnilefrost commented on #16
Hmm, thats wierd.
It's strange that they say that this compatibility issue might affect existing do-scripts that utilize the functionally. I mean if the bug has been fixed in this version.

[2015-02-06 17:17] kraigher commented on #16
Does "setenv MODELSIM ..." work instead of "set env(MODELSIM) ..." ?

[2015-02-06 18:20] tomasnilefrost commented on #16
I'll try first thing Monday when I have access to the environment.

[2015-02-06 21:25] kraigher commented on #16
In summary there are three known bugs in different versions of modelsim in the handling of modelsim.ini:

### Bugs
* **B1** -modelsimini vsim flag not respected in some versions of modelsim, reported in issue #4

* **B2** -modelsimini vsim flag does not support spaces in path. Adding a correctly space-escaped or {}-wrapped argument simply causes modelsim to complain that the file does not exist. W

[2015-02-08 08:39] LarsAsplund commented on #10
Aldec expressed interest in having a VUnit webinar for their users. I wouldn't want to do that webinar unless I can show VUnit with one of their simulators. Let's see if we can get an evaluation license to make this happen.

[2015-02-09 06:55] tomasnilefrost commented on #16
It seems that setenv isn't working better at all. Microsemi has had a fair bit of buggy implementations for their fpga flow so I'm not that suprised that there are issues.

I think the solution with a --gui-flag to the ui would be quite beneficial. The user interface could look the same regardless of simulator and it is possible to use wildcards in the ui to quickly select which test bench that th

[2015-02-09 19:44] kraigher commented on #16
I will look into adding a --gui flag.

[2015-02-09 23:02] LarsAsplund commented on #14
Integration examples in examples/osvvm_integration.

[2015-02-09 23:02] #14 closed

[2015-02-12 19:29] #16 closed

[2015-02-12 19:34] LarsAsplund opened #17 "Add Aldec support"
Agreed with FirstEDA to create a webinar for VUnit with the Aldec simulators.

[2015-02-12 19:48] LarsAsplund opened #18 "Sigasi Integration"
Agreed with @philippefaes to setup Sigasi integration. This issue will be the placeholder for discussing and implementing initial ambition

[2015-02-14 20:40] LarsAsplund commented on #15
Changed my mind on check_expect. Unless there is a strong request for this check I think we should exclude it. The difference to check_match is rather subtle and I haven't find a good name to express that difference. Also, the use case with don't cares in the tested value is not very common and can be handled in other ways, e.g. `check_match(to_01x("1--1"), "1001")` would fail.

[2015-02-14 20:41] #15 closed

[2015-02-17 13:04] barri commented on #13
One use case that I would find interesting to see presented is the following. The DUT or a driver connected to the DUT is fed with data from a file. The resulting data output from the DUT is then compared to another file containing the expected/desired output. I will try to think of some other simple but common use cases.

Thanks!
Barri

[2015-02-17 15:50] kraigher commented on #13
@barri In my project we do this routinely. Should probably be an example in the example/ folder rather than a video though. Maybe I will extend the array-example to do this.

[2015-02-17 15:58] LarsAsplund commented on #13
Agree that it should be an example but one thing doesn't exclude the other... I'm just about to add two new videos tonight based on my presentation at FPGA Forum in Norway. The first is about why unit testing is useful, the other a short intro to VUnit. After that I would like to add a few different ways to approach VUnit, e.g.:
- Just using the automated compile support for any type of project
-

[2015-02-18 17:40] kraigher commented on #13
@barri I updated examples/array to also feature reading an input file and comparing the result with an output file.

[2015-02-18 19:35] kraigher opened #22 "Add ability to add configurations for single test case"
It is currently possible to configure a test bench to run for multiple values of its generics from Python:
[code]
I would be nice to be able to do 'add_config' for a single testcase within a test bench such as:
[code]
Resulting in the tests:
1. `lib.tb_foo.test_foo.a`
2. `lib.tb_foo.test_foo.b`
3. `lib.tb_foo.test_bar`

Instead of:
1. `lib.tb_foo.test_foo.a`
2. `lib.tb_foo.test_foo.b`
3. `lib.tb_f

[2015-02-18 22:07] LarsAsplund opened #23 "Add communication mechanism"
When I presented VUnit at FPGA Forum i Norway last week I showed a slide (2:40 into [this presentation](https://www.youtube.com/watch?v=D8s_VLD91tw)) with a VUnit testbench example. The example showed a testbench with mixed levels of complexity. The unit under test was partly controlled by pin-wiggling and partly controlled with more high-level transactions. The point was to show that VUnit does n

[2015-02-18 22:38] mschiller302 commented on #10
Aldec support would be HUGE.   I would suggest that you can get a "free" aldec license with Lattice parts, but since the free license doesn't support VSIMSA (their command-line tool) it might not allow full testing.    You should be able to use the Lattice-edition for testing vhdl based stuff though...

We use Aldec for all our simulations and I'm rather excited about the VUnit tool.   I've been r

[2015-02-19 05:06] kraigher commented on #10
@mschiller302 We have immediate plans to add Aldec support.

One problem has been that unlike ModelSim there is no "free" license available that supports the command line and tcl-batch flow (vsimsa). Even though you could use just the VHDL-part of VUnit to much benefit there is much more value in also having the VUnit Python runner flow.

One idea we had was to take a 30-day evaluation license for

[2015-02-19 05:12] kraigher commented on #23
**As a** |   **I want** |  **so that**
-------|-----------|-----------
testbench developer | The mechanism to be fast. | So that I can use it without paying a large runtime cost.
testbench developer | The mechanism to be easy to debug | So that I can debug my complicated testbench using much message passing.
testbench developer | One sender can broadcast information to many receivers | So that mor

[2015-02-19 07:57] LarsAsplund commented on #10
@mschiller302 There are licenses issues to be handled but we do not expect any major problems with the actual implementation. We did a quick prototype in October and it seems pretty straight-forward. Modelsim and Aldec interfaces are very similar. The VHDL code was also updated at that time to compile with Aldec as well.

[2015-02-19 13:46] mschiller302 commented on #10
I'm meeting with Aldec folks in 2 weeks I'll point them to this website to see if they can offer any support to your efforts [if they hear customers asking for it they may be more comfortable giving y'all a license].   Our software team already uses Jenkins, so I'm expecting to be able to convince the folks responsible for that serverfarm to install a free version of modelsim and Aldec active-hdl

[2015-02-19 14:21] PerePala commented on #10
I haven't tried yet, but being able to work with GHDL would definitely be a plus! GHDL is a nice, free simulator...

[2015-02-19 14:39] LarsAsplund commented on #10
@PerePala That would be the second vote. VUnit and GHDL was also discussed in this [thread](https://groups.google.com/forum/#!topic/comp.lang.vhdl/aZ5X5QpjTxQ)

[2015-02-19 14:55] LarsAsplund commented on #10
@mschiller302 Very good, we have good connections with the European side of Aldec so I'm not worried that this will be any problem in the long run. However, I'd appreciate if you would share your interest in VUnit with them and that we can use you as a backup for testing of new releases.

We currently have some Verilog support, see issue #8.

[2015-02-19 15:30] kraigher commented on #10
@mschiller302 In my project we pre-compile FPGA vendor IP:s into a separate library and add them to vunit with 'add_external_library'. Typically the FPGA vendor IP:s are recompiled much more seldom and outside of the modify-compile-test loop. We also have limited support for compiling Verilog files (only without dependency scanning).

In the long term we have the ambition to add full Verilog / Sys

[2015-02-19 15:59] kraigher commented on #10
@PerePala One problem with GHDL is that it does not allow setting top level generics from the command line. We rely on this feature quite a lot to pass information from the Python-runner to the test bench. We could try to contact the author of GHDL and see if this feature could be implemented.

[2015-02-19 16:02] LarsAsplund commented on #10
@kraigher I had a discussion with one of the GHDL maintainers [here](https://groups.google.com/forum/#!topic/comp.lang.vhdl/aZ5X5QpjTxQ). I'll point him to this thread.

[2015-02-19 16:16] PerePala commented on #10
On 02/19/2015 04:59 PM, kraigher wrote:

Ok, let's see if it is possible to implement this feature! It would be
nice to have a full free testing chain.

[2015-02-19 18:32] kraigher opened #24 "Add GHDL simulator support"
We would like to add support for GHDL. There are some blockers though:

1. GHDL does not allow setting top level generics during elaboration from the command line. We rely on this feature quite a lot to pass information from the Python-runner to the test bench. Just being able to set 'string' generics would cover our basic needs. Having support for integer, boolean and real would be nice though si

[2015-02-19 18:34] kraigher commented on #10
@PerePala @LarsAsplund I have made a separate issue for GHDL (Add GHDL simulator support #24) listing the limitations that are currently blocking us. I suggest GHDL specific discussions continue there.

[2015-02-20 12:02] LarsAsplund commented on #24
I've added a [ticket](https://sourceforge.net/p/ghdl-updates/tickets/37/) to the GHDL project.

[2015-02-20 22:48] LarsAsplund opened #25 "What is the advantage of VUnit when comparing with UVM verification approach?"
This a a question that I hear once in a while, recently on the [YouTube](https://www.youtube.com/channel/UCCPVCaeWkz6C95aRUTbIwdg) channel. It should be said that I don't have any practical experience with UVM but here is my view.

VUnit and UVM are mostly independent of each other. The focus of unit testing is to test early and often. The best measure of progress is that of working code so the mo

[2015-02-21 09:24] LarsAsplund commented on #23
Have we already covered the basic user stories? Maybe, from a software point of view we are already covering many of the common communication patterns:
- Command pattern (transactions)
- Client/server pattern
- Publisher/subscriber pattern (broadcasting)

Are there more such patterns that have VHDL relevance?

Anyway, here is another user story

As a | I want | so that
-------|-----------|--------

[2015-02-21 19:46] kraigher commented on #24
When they fix 1. as they promised I will have a go at adding GHDL support.

[2015-02-22 08:44] LarsAsplund commented on #23
Maybe it's time to start setting some of the vocabulary. Based on the user stories above I suggest the following
- Communication is based on __actors__ exchanging __messages__.
- A message has a __sender__ and one or more __receivers__. Senders and receivers are actors.
- If we want to decouple actors from the details of message transport we need a middle man taking care of that. The __messenger__

[2015-02-22 12:04] LarsAsplund commented on #23
As a | I want | so that
-------|-----------|-----------
testbench developer | all actors to have a unique __identifier__ | I can address other actors directly without having any other knowledge.
testbench developer | actors to be able to respond to incoming messages without a priori knowledge of the sender | I can implement patterns like client/server.

[2015-02-22 14:42] LarsAsplund commented on #23
Looking at some random code from opencores it seems like the most common communication pattern is the "trigger" pattern, i.e. ```trigger <= true;``` together with ```wait until trigger;```. This is often used because it's all that's needed and sometimes used because better mechanisms are missing. A more advanced communication mechanism may be overkill for the simple trigger but it maybe interestin

[2015-02-22 17:10] barri commented on #23
I see that you have touched upon most of the general needs. The collected mechanisms/patterns should probably cover the common cases. I don't have anything specific to add at the moment on the topic of mechanisms/patterns.
One of the strengths of the "trigger" pattern is the low amount of code needed to use it, so a similarly simple mechanism in VUnit should require less or the same amount of code

[2015-02-24 10:32] tomasnilefrost commented on #23
**As a** | **I want** | **so that**
------------ | -------------| -------
testbench developer | encoding/decoding methods for common data types (such as enums) | reinventing encoding of common types in every testbench is avoided

[2015-02-24 11:55] LarsAsplund commented on #23
Now that we have user stories from four people and a number of involved "objects" (sender, messenger, ...) I think we can take the next step. I'm suggesting that we start refining the user stories by talking about the activities that these objects are involved in. An activity can be expressed like this:

```result_of_activity = the_activity(inputs_to_the_activity)```

For example

```send_status =

[2015-02-24 15:46] KevinKes opened #27 "VUnit does not add dependency for component declarations"
When a component instantation is used in a VHDL design, it is not added to the dependency graph of VUnit.

I did some modification to the VHDL parser and the project builder of VUnit in my fork to include this.
Please tell me what you think.

In a next step I want to add also a function to the project.py to get the dependencies top-down from a selected top entity.

[2015-02-24 16:33] kraigher commented on #27
@KevinKes I added some comments to the commit. If you add some unit tests to vunit/test/test_project.py and vunit/test/test_vhdl_parser.py and make a pull request I will merge it.

[2015-02-24 16:36] kraigher commented on #23
It would be good to be able to create an unique actor without supplying a name for cases when the name is irrelevant such as a master that only sends messages.

[2015-02-24 17:03] kraigher commented on #23
Some thoughts on the API as pseudo-vhdl:

[code]

[2015-02-24 17:19] kraigher opened #28 "Better error messages when vhdl parsing fails due to syntax errors"
When our VHDL parser for dependency scanning encounters a syntax error it can sometimes lead to a crash.
This crash does not give any useful information to the user which will struggle to figure out the cause.
The actual simulator will not get the chance to compile the file to provide a better syntax error message.
We need to at least catch these exceptions and provide the filename of the file whi

[2015-02-24 17:59] #28 closed

[2015-02-24 20:24] LarsAsplund commented on #23
@kraigher Agree with your first post. I can embedded that variant in one of the upcoming activity sequences. Also agree with the second post, I had a ```message = receive(self, timeout)``` activity in mind but that doesn't imply that there must be a subprogram of the same format in the final implementation. In fact, we will probably end up having partly overlapping functionality of different granu

[2015-02-24 22:43] LarsAsplund commented on #23
Here comes a number of scenarios expressed with activities. I've excluded the messenger for clarity since it's more or less involved in every activity. The activity names are a bit verbose but we can work on that in the implementation phase.

#### Activities for the client/server communication pattern

Client | Server
-------|-------
`client_identifier = create_actor(client_name)` |  `server_ident

[2015-02-25 09:12] KevinKes commented on #27
Thanks for your comments, I will process your comments and update the testers.

[2015-02-25 17:39] LarsAsplund commented on #23
Added a communication-develop branch with empty files and an initial testbench with two defined test cases  (create/destroy actor).

[2015-02-25 17:47] kraigher commented on #23
@LarsAsplund One though I have is that we do not have a mechanism for synchronizing client creation.
When sending to a client the client must first be created. If all processes do this in the first delta cycle some will run before others.

[2015-02-25 18:19] kraigher commented on #23
@LarsAsplund I just pushed a message_passing branch with an initial implementation of the basic concept.

[2015-02-25 18:38] LarsAsplund commented on #23
@kraigher Yes we'll have to think about the use cases for actor creation. I guess that the most common use case is that everyone starts with create and then do get_identifier of others at time 0. We should handle this case without special measures from the user. This means that get_identifier will have to wait for new actors to be added. If it still can't find the other actor after resolution time

[2015-02-25 18:46] kraigher commented on #23
@LarsAsplund One idea I got on the actor creation synchronization was to create an actor as soon as it is mentioned by anyone even before someone did 'create_actor'. Such an handle could be marked as non-owning and would not be allowed to perform the same actions as a owning handle such as sending messages as it. One potential error case that would go undetected is when an incorrect handle is crea

[2015-02-25 22:29] LarsAsplund commented on #23
@kraigher I had a look at your code and it's almost identical in principles to the prototype that was the basis for my presentation in Norway. The only difference, naming excluded, is that I bundled the subprograms you have for message reception into one receive procedure but I have no strong opinion there. Once we have the  test cases i place we will know how much we have to split that functional

[2015-02-26 17:30] kraigher commented on #23
@LarsAsplund What makes you think it will be more tightly coupled?

[2015-02-26 20:41] #27 closed

[2015-03-01 20:39] LarsAsplund commented on #23
I think we should go for the deferred creation of actors since that makes the life of the user easier as long as he/she doesn't make mistakes. We can do a number of things to help the user avoid mistakes:
- Have the ability to search for an actor without performing deferred creation if it's not found
- Have the ability to ask if there are any remaining deferred creations. This question can be aske

[2015-03-02 15:12] kraigher opened #31 "Memory leaks in string_ops.vhd and others"
There are numerous occurrences in string_ops.vhd where the a 'write' is performed to a local 'line' variable. These operations allocate memory on the heap and the function must deallocate the 'line' before returning.

In my project the test bench with the most check_equal:s crash now before completion now due memory allocation errors. Each check_equal allocates memory by calling the to_nibble_stri

[2015-03-02 15:14] kraigher commented on #31
@LarsAsplund I assigned you since it is mostly your domain. Do you have the time to fix it or do you need help?

[2015-03-02 22:31] LarsAsplund commented on #31
@kraigher Yes, I've applied some lazy programming to avoid having to decide what a sufficiently long string is. I will set some max ranges so that you can avoid the crash. Maybe this should be configurable or we should have functions returning line rather than string?

[2015-03-03 04:53] kraigher commented on #31
@LarsAsplund Having a high max range is much better than having the memory leak. In many testbenches we do millions of check_equals. Also I think it should be possible to compute an exact or pessimistic string length in most cases (especially in to_nibble_string) completely removing the error-case:
[code]

By the way another minor issue also came to mind when looking at this. We actually do create

[2015-03-03 06:25] LarsAsplund commented on #31
@kraigher Totally agree that the leaks must be removed. The lazy style is only applicable in some closed projects. I'll scan the rest of the code for this. I know there are more places but I'm not sure if any of them have any practical implications today. I will also look at the suggested optimizations. All functions I fixed have upper bounds.

Could you test the current fix so that I can close th

[2015-03-03 06:32] kraigher commented on #31
@LarsAsplund I am running with the fix now while monitoring the memory consumption of the vsimk process and it does not increase over time as it did before. Thus the immediate problem is solved.

[2015-03-03 06:57] LarsAsplund commented on #31
@kraigher Good. I did the same analysis of a 10M iteration I ran.

[2015-03-03 06:57] #31 closed

[2015-03-03 20:03] LarsAsplund commented on #23
I've started to add test cases and implementation for creating, destroying, and finding actors. Deferred creation is included. Have a look at the communication-develop branch.

I will now start with test cases for the client/server communication test pattern based on the activities in one of the previous posts

[2015-03-06 20:40] LarsAsplund commented on #23
Added functionality for handling client/server/command/transaction/trigger communication patterns. Next is the publisher/subscriber pattern.

[2015-03-07 10:52] LarsAsplund commented on #23
Added functionality for the publisher/subscriber communication pattern. Next step is a more complete example to more easily evaluate performance and ease of debugging which were two other requirements

[2015-03-08 22:14] LarsAsplund commented on #23
@kraigher @barri @tomasnilefrost I've added an example for the communication mechanism. It's a card shuffler that takes a stream of input cards encoded into a std_logic_vector. Once 52 cards have been received a shuffled output stream is generated. At least that's the idea. So far I've only implemented a testbench.

The test runner publishes 52 transactions, one for each card. A driver subscribes

[2015-03-09 06:31] kraigher commented on #24
I see they have fixed 1 on their development branch. Now we just have until there is a binary release.

[2015-03-09 15:44] barri opened #32 "Check almost equal"
A neat feature when comparing different implementations of the same algorithm would be fault tolerant checkers. The checker would compare two values and allow for a user specified error tolerance. This would allow for easy comparison between different implementations vs some reference data or between each other. A bonus would be getting a report of minimum, maximum and average differences between

[2015-03-10 06:39] LarsAsplund commented on #32
The pure checker should be doable. It is a more generalised form of check_equal. However, I feel that collecting stats is something that should be done elsewhere.  Checks should be concerned with pass/fail. Stats would make it concerned with degrees of pass and fail. The question is how important this is to the user.  If that is important he/she would do the abs (measurement - value) calculations

[2015-03-10 09:43] barri commented on #32
I think the pure checker would be useful to have for the cases where you don't need the stats. For the use cases where the stats are needed you can use the check_relation in the manner you suggested.

[2015-03-10 09:47] LarsAsplund commented on #32
Another comment. Even though a statistics module doesn't belong to the checker functionality it may still have a place in VUnit. Unit testing support is at focus of VUnit but we have not excluded other reusable components for testbench development. The communication mechanism is one such example. Given that testbenches based on a reference model is a common design pattern I would expect that there

[2015-03-10 09:53] LarsAsplund commented on #32
@barri  Right now I will focus on getting the communication mechanism ready. Please comment the latest additions!

However, let's start with some inputs for the "within tolerances checker"
- Would tolerances be symmetrical, i.e is a == b in ref-a <= measurement <= ref+b?
- What datatypes are you considering?
- I haven't given it any thought but would the addition of a tolerance parameter to check_

[2015-03-10 10:36] barri commented on #32
Supporting the signed and unsigned datatypes with symmetrical tolerances would probably cover the basic need. Adding a tolerance parameter to check_equal would be a a simple solution but it might be clearer to have a new function.

(Will try to catch up on the communication mechanism tonight.)

[2015-03-10 17:40] kraigher commented on #32
I would prefer not to add any extra parameters to check_equal as to not over-complicate those functions. I think this is something users could implement themselves with a small increment of functionality over the existing check-functions we provide and thus I am reluctant to add built-in support for it. It is better to leave it up to the user to decide what is "almost equal". If someone comes up w

[2015-03-11 11:35] LarsAsplund commented on #32
Agree with @kraigher that a bit exact model is the preferred situation but I would guess that many (most?) VHDL developers doesn't have such a model and, for one reason or the other, doesn't feel comfortable doing the refinement in the high-level language being used. We also have the case where there is no model at all, e.g. if you want to develop square root functionality and verify that by check

[2015-03-12 17:28] tomasnilefrost commented on #23
@LarsAsplund seems like you are making great progress!
I'm sorry that I haven't had the time to contribute with feedback, my weeks have been quite hectic.
I'll try to look into the current work further next week and try to come up with some comments.

[2015-03-12 23:15] LarsAsplund commented on #23
Support for synchronous communication has now been added. Instead of doing like this in the example testbench

[code]

you can do like this to wait for the reply to the request (get_status(52)) with a specified message id (receipt.id). Out of order replies to the requests are handled

[code]

[2015-03-14 08:10] LarsAsplund commented on #23
@kraigher could you elaborate on the use cases for

[code]

[2015-03-14 15:13] kraigher commented on #23
@LarsAsplund I is useful in the scenario when the receiver consumes messages at a slow rate and the sender wants to adapt to this rate instead of creating a huge inbox.

[2015-03-15 11:23] LarsAsplund commented on #23
**As a** | **I want** | **so that**
------------ | -------------| -------
testbench developer | to limit the actor inbox size | memory usage and maximum message latency can be controlled

[2015-03-15 11:38] LarsAsplund commented on #23
@kraigher I made a new user story out of this. If we let the receiver create an actor with a bounded inbox we get a bit of slack when there is a temporary overload. The tradeoff would be the maximum latency we can handle. This would also handle multiple senders. The send command can simply block with an optional timeout when the receiving inbox is full. What is the desired behaviour for a publish

[2015-03-17 08:40] LarsAsplund commented on #23
Pushed support for limited inbox size. Reply and send will wait for a user defined time when the receiver inbox is full, default is wait "forever". Publish will never wait but rather skip sending to subscribers with full inboxes. The reason is that the publisher/subscriber pattern implies that subscribers aren't aware of each other and the publisher doesn't know who the subscribers are. If we bloc

[2015-03-19 15:18] philippefaes opened #33 "Incompatible packages?"
Hi, I'm working to set up the logging library; I will proceed to other parts later. I notice that several packages are declared in more than one file, and have incompatible declarations.

For example, some package declarations for "log_base_pkg" have the type "log_call_args_t", while others do not. Now some tests (tb_dictionary and test_support) use this type, which breaks the compilation.

Is it

[2015-03-19 22:09] LarsAsplund commented on #33
@philippefaes
The reason for having several declarations is partly to support all VHDL versions from 93 to 2008 and partly for the testing of VUnit. For some test suites we use mocks, e.g. when unit testing check we don't use the normal log package but a mock that will catch and verify the log calls we expect from the check package. When using the VUnit ui to compile it will only add the files rep

[2015-03-20 08:51] philippefaes commented on #33
Thanks Lars. I got the library to compile now. I'm choosing the 2008-compatible files, without mock. The only thing that doesn't work yet is the "test" files inside the vunit_lib (in the "vhdl/*/test" directories). It seems that these files can only be compiled against the "mock" versions of the library. Is that correct?

[2015-03-20 09:57] LarsAsplund commented on #33
That's correct @philippefaes . If you look at the acceptance test for the check package (test_check.py) you will see that that python script has a special line

[code]

That enables the log mock during that test. What simulator are you using? If using Modelsim I encourage you to use the scripting capabilities  in VUnit which makes all this much easier. Aldec and GHDL support is around the corner.

[2015-03-20 14:37] philippefaes commented on #18
As a first step, we want users to get easy access to the vunit_lib files. Ideally, they would just include one directory without the need to include/exclude too many other files. The file structure now takes a few minutes of extra work. Sadly, this causes user drop-off. Especially if users have their own compilation scripts, this might be important.

Is there any chance we can change the file stru

[2015-03-23 22:48] LarsAsplund commented on #23
Pushed encode and decode functions for 25 or so types that are native to VHDL or part of standardized IEEE packages. Didn't put any effort in making the encoding compact, I've used "plain text" style, e.g. a boolean becomes the string "true" or "false". This can be optimized later on. Instead I've put the effort on how codecs for custom types can be made out of these primitive codecs and/or custom

[2015-03-24 05:51] kraigher commented on #23
@LarsAsplund would it not be better to encode things as a sequence of bytes such that an integer is four characters and a boolean is one character. This way every type has a fixed size and there is no need for grouping. A record is simply serialized/deserialized as a sequence of its members. Additionally it is probably faster and requires less storage. Enums would be encoded/decoded as integers us

[2015-03-24 06:05] LarsAsplund commented on #23
@kraigher Yes, something like that would improve it just in the ways you mention but I started like this to make it easier to debug while developing since messages are humanly readable. Once the codec stuff is completed I think all functional user stories are covered (or at least addressed) and it's time to address the non-functional ones. That will hopefully take us to the right tradeoff between

[2015-03-27 21:06] LarsAsplund commented on #23
I've now pushed a first iteration of the codec generation support. More type parsing support, more tests, some restructuring etc are needed but the functionality is sufficient for the card shuffling example under examples/com  so now you can have a first glimpse of what I think the end product will look like. I currently support parsing of basic enums and records. For example, parsing

[code]

wil

[2015-04-01 18:39] kraigher commented on #13
@LarsAsplund @barri close this issue?

[2015-04-01 19:52] kraigher opened #36 "Report ModelSim bugs to Mentor Graphics"
# Bug 1
There is a bug in ModelSim setting the MODELSIM environment variable directly within TCL before executing a vsim command. The bug has been found in at least Microsemi Modelsim 10.3a and Altera Modelsim 10.3c (Altera 14.1 toolchain).

Example of failure:
[code]
Interestingly it fails even if the MODELSIM environment variable is correctly set by the parent process of ModelSim. So the problem

[2015-04-01 20:08] kraigher commented on #36
Getting in contact with Mentor Graphics and report this seems harder than getting in contact with some letterbox company front but I will give it a try through my work related channels.

[2015-04-01 20:47] kraigher commented on #36
Removed setting of MODELSIM environment variable directly in TCL in commit 80fc4b5e8a9bb0e90b73c132cf2e5b7fb6eac8d7. The risk is just to high that this will cause problems for VUnit users and hurt the adoption. This effectively removes support for using the user.do TCL script stand-alone directly from modelsim but this is not documented or officially supported anyway. Using the --gui flag which is

[2015-04-01 21:16] LarsAsplund commented on #13
@kraigher Yes, I think so. Better to have specific issues for each requested video. An issue like this will never be closed

[2015-04-02 00:22] nathanaelhuffman commented on #36
Can you post a -modelsimini example of the error for bug2 as well?  I glanced around Mentor's supportnet site and didn't find examples of these.  I'm on 10.1a currently but I can install a newer version of modelsim tomorrow and if I can recreate will reach out to my FAE or create a service request.

[2015-04-02 04:12] kraigher commented on #36
@nathanaelhuffman I added some more details on the -modelsimini flag bug

[2015-04-02 19:20] nathanaelhuffman commented on #36
@kraigher For bug1 above, I can't reproduce in windows in ModelSim 10.4a SE. I ran the user_guide lib.tb_example by doing the following (after having used run.py 1x):
[code]
And it properly launches modelsim and I see the Hellow world! in the transcript

For bug2 above, I can reproduce in .  What I did notice is that using double quotes does seem to work though without any escaping:
[code]

I can

[2015-04-02 19:26] kraigher commented on #36
@nathanaelhuffman As I mentioned above double quotes also cause the same problem with the -modelsimini flag using Altera Starter Edition 10.3c so it is not a valid work-arround.

[2015-04-02 21:29] nathanaelhuffman commented on #36
@kraigher missed the comment about double quotes in the block above.  I have a better test case (user error last time) and bug2 can be reproduced in 10.4a and double quotes does not help.

Bug1 appears to be fixed in 10.4a but I did reproduce in 10.3c after installing that.  Reached out to my FAE, we'll see what he says.

[2015-04-02 21:39] kraigher commented on #36
@nathanaelhuffman Great, thank you!

[2015-04-03 20:40] nathanaelhuffman commented on #36
@kraigher Mentor support will be filing a bug for bug#2.  Apparently there is one way to make the -modelsimini flag work with spaces:
[code]
but vsim can't deal with nested -do arguments so my.do would need to have all of the simulator commands in it, and I'm deep enough into vunit to decide whether that's worth looking into or not, cursory look says that would affect the way the do files are stru

[2015-04-04 05:17] kraigher commented on #36
@nathanaelhuffman I think we can live with the current workarround since de .do files do not need to be stand-alone as of adding the --gui flag. When running from Python the environment variable is set correctly before launching the vsim process. It is good that they know about the bug though so that it can be an option to use -modelsimini flag in the future.

[2015-04-05 19:00] LarsAsplund commented on #23
I've now added codec generation for custom array types as well. There are other types to recognize and generate codecs for as well but I feel I should pause here and focus a bit on the non-functional user stories. The one addressing performance may very well require a change in the verbose, plain text, easy to debug encoding style I'm using right now so it's better to do some profiling before addi

[2015-04-08 05:57] #13 closed

[2015-04-08 06:01] kraigher commented on #18
@LarsAsplund what do you think about the suggestion made by @philippefaes ? I think it sounds good.

[2015-04-08 06:03] kraigher commented on #17
**Update:** We are still working with Aldec to get tool provider licenses.

[2015-04-08 06:49] LarsAsplund commented on #18
@philippefaes @kraigher Yes, I'm in favour of this as well. We would need a 2008 directory as well for the array package (or make it a 200x).

[2015-04-08 06:50] LarsAsplund commented on #17
I will fill out the requested paperwork today.

[2015-04-11 18:20] LarsAsplund commented on #23
I've now done a first iteration with performance enhancements
- Reduction of new/deallocate by recycling memory reduced execution time in my testbench by 25%
- Improving the internal event notification gave another 15%
- Improving the functionality for encoding composite types saved 6% more

So the execution time was almost halved with these modification. Now there is no obvious single point that

[2015-04-11 18:39] kraigher commented on #23
@LarsAsplund Have you thought about rebasing on master? The communication branch is quite far behind.

[2015-04-11 19:30] kraigher commented on #23
@LarsAsplund I have rebased the branch and pushed to communication-develop-rebased to save you some work. There are tons of pep8 and pylint warnings though.

[2015-04-11 19:41] kraigher commented on #23
@LarsAsplund I pushed a commit fixing the pep8 violations on the rebased branch.

[2015-04-11 19:42] kraigher commented on #23
@LarsAsplund There are still pylint warnings though. You should have a look at them yourself. Some are minor and easy to fix and others indicate that some functions are way to large and should be split up into multiple smaller functions.

[2015-04-12 05:56] LarsAsplund commented on #23
@kraigher Thanks Olof. I'm thinking the second iteration of performance enhancements will be sufficient to cover all user stories. After that I will do a cleaning/refactoring pass and then take everything to the master branch

[2015-04-12 06:16] kraigher commented on #23
@LarsAsplund Great. Could you create a "pull request" for it when you think it is ready for the master branch to give me and others a chance review it and write some comments. It is hard to comment when there is multiple commits and it is not ready.

[2015-04-23 12:42] LukasVik opened #38 "TestReport.to_junit_xml_str() crashes python when a test case lacks output.txt"
Stack trace (with paths censored):

[code]

[2015-04-24 17:40] #38 closed

[2015-04-25 20:13] KevinKes opened #39 "database can not be created"
I just downloaded the master tree, but when I ran the examples I got the following error. Tried on different locations, as well with a different user, but no effect.
using Python 2.7 on Win7

No errors with Python 3.4
[code]

[2015-04-25 20:41] kraigher commented on #39
@KevinKes Could you try the database_issue branch and see if it fixes the problem. It could be that a database is still open when a re-creation is attempted.

[2015-04-26 09:39] KevinKes commented on #39
@kraigher The database_issue branch fixes the problem for me.

[2015-04-26 10:26] #39 closed

[2015-04-26 18:26] gunnarstjernberg opened #40 "recursive logging of all signals in GUI-mode"
When invoking the simulation in GUI, it would be a nice feature to be able to submit an argument that is equivalent to the ModelSim/QuestaSim command "log -r /*"

That way I could run the simulation and on ly afterwards bring up the signals I might be interested in for visual debugging.

By making a VUnit argument I need not care what the syntax is in different simulators which makes it kind of us

[2015-04-26 19:25] kraigher commented on #40
@gunnarstjernberg It is already possible to do this in the Modelsim GUI mode which is currently the only supported simulator:

Just do:
[code]

Instead of:
[code]

The intention is to be able add logging of signals after the vunit_load command which is what I do all the time at work. To re-run the test there is no need to do vunit_load again just do:
[code]

Do you really think it is worth having

[2015-04-26 19:38] kraigher commented on #40
@gunnarstjernberg I added a section in the user guide about running test cases in the GUI:
https://github.com/LarsAsplund/vunit/blob/master/user_guide.md#running-a-test-case-in-the-modelsim-gui

[2015-04-26 19:59] kraigher commented on #40
@gunnarstjernberg Maybe a --gui-run flag that automatically does vunit_load, adds all signals to the log, did vunit_run and then stopped for inspection would be a time saver in many cases.

[2015-04-27 05:07] gunnarstjernberg commented on #40
Well, its no big issue. But having a simulator-independent (when more simulators are supported) way of doing it would save some time and increase easy-of-use imo.

Definitely not a requirement, but a "nice-to-have" feature.Just my 2 cents... :-)

[2015-04-27 06:08] kraigher commented on #40
@gunnarstjernberg What do you think about the --gui-run flag that I proposed above? That way there are two flags --gui and --gui-run where the first would just open the gui with the right configuration without running anything as it does today and the second would open the gui and automatically run the test after first adding all signals to the log.

[2015-04-27 06:31] gunnarstjernberg commented on #40
That would offer the capabilities that I'm requesting so yes, that is a good idea.

[2015-04-27 06:35] kraigher commented on #40
@gunnarstjernberg I will add that flag then.

[2015-04-27 17:19] kraigher commented on #40
@gunnarstjernberg I have added the functionality in 78df5ee9621c31090ce6f7c9fd94aa096de366b0:
https://github.com/LarsAsplund/vunit/blob/master/user_guide.md#running-a-test-case-in-the-modelsim-gui

Now you can do `--gui=load` which only launches the gui and loads the design awaiting manual configuration and run trigger by the user or `--gui=run` which automatically runs the test case logging all s

[2015-04-27 17:20] #40 closed

[2015-04-28 21:46] LarsAsplund commented on #23
I finally made a more optimized codec solution which removes another 20% from the execution time in my test (tb_card_shuffler under examples/com). The test is now three times faster compared to the version I had before the performance enhancements. The new codecs are based on the following principles
* Scalar types and bit and boolean-based arrays are translated to bit vectors which are split into

[2015-04-29 04:20] kraigher commented on #23
@LarsAsplund Nice performance improvements. I you rebase on master, squash it into one commit and make a pull request it will be easier for me and others to review it as a whole and give comments. One direct comment I have is that it does not feel very lean to have two implementations of the codecs which have to be maintained. Does the plain text variant really bring that much benefit? I would cut

[2015-04-29 04:58] kraigher commented on #23
@LarsAsplund I have rebased your branch on develop again and pushed to communication-develop-rebased. Please try to use this for any further work to avoid problems.

[2015-04-29 15:03] LarsAsplund commented on #23
@kraigher
1. Agree on --debug. The idea was to have one flag that would enable all debug features but as long as we only have one feature it's better to be explicit on what that is.
2. I will continue on the rebased branch
3. I would like to evaluate the need for two codecs for a while but the reasons I see now are
  * If you debug using trace messages you tend to add one, compile, debug some more

[2015-04-30 14:40] KevinKes opened #41 "VUnit crashes on 'é' in source file comments with Python 2.7"
using Python 2.7 VUnit crashes if the character 'é' is found in the comments of the VHDL file.
When Python 3.4 is used, everything works fine.

For example when I run the user_guide example with a modified tb_example.vhd to include the char é on line 4, I get the following error:
[code]

[2015-04-30 17:24] kraigher commented on #41
@KevinKes One of the major differences between Python 2.x and Python 3.x is the handling of strings, unicode and bytes. It is one of the pain points of maintaining a Python application that has to support both. Anyway I added a acceptance test for this and added a special case for Python 2.x so I believe it is fixed now. I pushed this to the `issue_41` branch. Could you please verify that this fix

[2015-05-01 07:16] KevinKes commented on #41
@kraigher This fixes my problems. Thanks! Keep up the good work.

[2015-05-01 07:28] #41 closed

[2015-05-01 07:29] kraigher commented on #41
@KevinKes I pushed the fix to the master branch.

[2015-05-04 22:19] LarsAsplund commented on #23
@kraigher, @barri, @tomasnilefrost
I've now completed an iteration of refactoring, PEP8 and pylint cleanup. I've also improved encoding of std_ulogic_vector-based types by encoding two bits in every character. I've also made it possible to have different msg_type enumeration types in different records while still being able to read the message type at the receiver with a single command.

Now is th

[2015-05-05 06:44] kraigher commented on #23
@LarsAsplund It would look nicer and be easier to review if it was squashed into a single commit or a logical sequence of commits.

[2015-05-05 06:50] kraigher commented on #23
@LarsAsplund I does not go clean through PEP8 and pylint.

[2015-05-05 06:56] kraigher commented on #23
@LarsAsplund If you make an actual GitHub "pull request" it is much easier to make comments on the individual code through the GitHub GUI.

[2015-05-05 07:06] kraigher commented on #23
@LarsAsplund Also not all parts of the code work with Python 2.7.

[2015-05-05 07:52] LarsAsplund commented on #23
@kraigher I will squash it. I have a look at PEP8 and pylint again. The warnings I saw was part of code not changed on this branch so I didn't touch that. Where did it break in 2.7? I got all test to pass. I will run on this computer as well to see if things are different.

[2015-05-05 08:11] kraigher commented on #23
@LarsAsplund There are no PEP8 or pylint warnings on master currently. I am running pep8 and pylint from my python 2.7 installation.
Running the com example fails in Python 2.7 due to non-backwards compatible use of super() in com.py. Pylint also finds this error by static analysis (when running 2.7 pylint).

[2015-05-05 08:14] kraigher commented on #23
@LarsAsplund I have some other comments as well but I will wait until there is a proper pull request so that I can annotate them in the GitHub GUI. With a pull request you can just click on a line of code that has changed and make a comment.

[2015-05-05 08:45] LarsAsplund commented on #23
@kraigher Ok, I ran from my 3.4 installation and super() was actually introduced to remove a number of warnings. I'll run under 2.7 as well and see what the differences are. Maybe I will just suppress the original warning which was minor anyway. I'll fix that, make a squash and then a pull request

[2015-05-05 09:24] kraigher commented on #23
@LarsAsplund I just pushed two commits to master so that the test_pep8 and test_pylint invoke the tools from the same toolchain as the calling python executable. Thus one can easily run them both with python and python3 executables. I also made sure that master is pep8 and pylint clean under both 2.7 and 3.x.

[2015-05-05 11:59] LarsAsplund commented on #23
@kraigher I still get two pep8 warnings on master. My executable has version 1.6.2. What version do you have?:

[code]

[2015-05-05 12:07] kraigher commented on #23
@LarsAsplund I had 1.4.6. I upgraded to 1.6.2 and I also see the errors now.

[2015-05-05 12:09] kraigher commented on #23
@LarsAsplund I fixed those two errors on master. Now runs clean with pep8 1.6.2.

[2015-05-05 12:14] LarsAsplund commented on #23
@kraigher  Great. What about your pylint versions? I have

[code]

[2015-05-05 12:16] kraigher commented on #23
Also 1.3.6

[2015-05-05 22:16] LarsAsplund commented on #23
@kraigher Now I think I've got all the peps and pylints fixed so I made a pull request. I do have some problems with tests related to the encoding but that's not specific to this branch so I think we should fix that separately

[2015-05-06 06:27] kraigher commented on #23
@LarsAsplund What test are you having problems with? All test pass for me on both Python 2.7 and Python 3.x as they should.

[2015-05-06 06:48] LarsAsplund commented on #23
@kraigher It seems to be related to that unicode issue you been working on. Works under Python 2.7 but not under 3.4 (Windows):

[code]

[2015-05-06 06:55] kraigher commented on #23
@LarsAsplund Strange, the guy I fixed it for was running Windows. I see if I can reproduce it on my machine.

[2015-05-06 07:57] kraigher commented on #23
@LarsAsplund I reproduced the fix on my Windows machine. I pushed a fix to master for this.
Please let me know if you see any failures in the test suites, they should all run clean on master.

[2015-05-06 12:09] LarsAsplund commented on #23
@kraigher One step closer. test_ui works but the licence check still fails.
[code]

[2015-05-06 12:34] kraigher commented on #23
@LarsAsplund I just pushed a fix for it to master. Try it.

[2015-05-06 15:44] LarsAsplund commented on #23
@kraigher I had a quick test at my work computer before I left and test_ui as well as the licence test pass (on master). However, I also started a complete acceptance test and everything failed. Normally I would suspect some dead ModelSim process but the error message was very specific. A negative value on line 283 in string_ops:

[code]
This line is in the replace function which is called from te

[2015-05-06 15:49] kraigher commented on #23
@LarsAsplund The python traceback does not say anything more than that the test report contained an unexpected test status. In other words the test failed. The errors from modelsim are more interesting. Anyway better create a separate issue for so we do not spam this thread any more.

[2015-05-06 15:51] LarsAsplund commented on #23
@kraigher Agree, start a thread and I will provide some more detailed output.

[2015-05-07 10:58] barri opened #43 "Ignored Python Runner Exception"
When using the python runner to run test cases this ignored exception will sometimes appear:

[code]

This trace was generated using the newest commit on the master branch but has been appearing for a few weeks. There was no vunit_out folder generated when the script was ran but it can appear even though there already is a vunit_out folder generated. The number of test cases ran seem to have no im

[2015-05-07 13:49] barri commented on #32
I apologize for the late answer.
I don't expect much smartness at all when it comes to the checker. The assertAlmostEqual with just a delta was what I was looking for when I wrote this issue. Supporting fixed point would be a cool feature but not really a necessary one.

[2015-05-08 10:28] kraigher commented on #43
@barri We are using the `shelve` Python library for the persistent database of VHDL parse results. This is to speed up run.py since VHDL parsing in Python is slow. On Windows the database backend used for `shelve` seems a bit fishy, it is even called dumbdbm. From dumbdbm code documentation:

   **Note** The dumbdbm module is intended as a last resort fallback for the anydbm module when no more ro

[2015-05-08 10:29] kraigher commented on #43
@barri And do not forget to do `--clean` the first time.

[2015-05-08 12:21] barri commented on #43
Seems to work fine.

[2015-05-08 12:48] #43 closed

[2015-05-09 16:36] kraigher commented on #24
I have managed to build ghdl from the latest commit using the LLVM backed and started ironing out the problems of supporting it. I have found a bug in ghdl when compiling the VUnit code: http://sourceforge.net/p/ghdl-updates/tickets/41/

[2015-05-09 16:37] kraigher opened #44 "Add NVC simulator support"
I am in progress of adding support for the [NVC simulator](https://github.com/nickg/nvc). There are still some bugs and features to be fixed be before we can add support for it but the author is very cooperative and is making great progress.

[2015-05-10 18:42] kraigher commented on #24
I have successfully run a modified user_guide example using VUnit and GHDL now with just a few work-arrounds.

[2015-05-11 06:31] kraigher commented on #24
The test_run.py acceptance test works with GHDL now.

[2015-05-11 10:43] BjornOlsson opened #45 "Adding waveform generation"
It would be nice if it was possible to start a simulation and pass along a (pre defined) waveform set (<wave.do>) flaga and attritbue to modelsim, like:

python <test_case>.py --wave-gen <wave.do>

This would make modelsim generate a .wlf file för the simulation and the signals defined in wave.do, and put this file under /msim in the test case lib. If needed, these wave forms could then be analyze

[2015-05-11 15:04] kraigher commented on #24
I have pushed my work in progress to the `ghdl` branch. It only works with GHDL built from the latest source. I have tested it using the LLVM backed on Ubuntu 14.04 LTS. There are some issues and work-arrounds still but many things work such as uart example, array example, osvvm_integration example, generate_tests example etc. It will only work with VHDL 2008 since for the other standards we have

[2015-05-11 17:48] LarsAsplund commented on #24
@kraigher Nice progress! I'll take a look at the non-protected shared variables to see if they can be easily removed. Have you spoken to the GHDL team about context support? It's very convenient to have that.

[2015-05-11 17:53] LarsAsplund commented on #23
@kraigher @tomasnilefrost Now there's a new commit addressing your comments. I've also added a user guide and made some additional refactoring of the codec generation code.

[2015-05-11 17:53] kraigher commented on #24
@LarsAsplund Yes I have submitted a feature request for it. You can look at their [Tickets](https://sourceforge.net/p/ghdl-updates/tickets/) many of the latest ones are mine. Some of the recently closed tickets are bugs I found in ghdl on using subprogram aliases and ambiguity checks which they quickly fixed. At first our code would not even compile on ghdl but now it does.

I am actually quite im

[2015-05-11 19:24] kraigher commented on #24
They just fixed https://sourceforge.net/p/ghdl-updates/tickets/47/ so that generics without default values will not cause error even though they were specified by the `-g`flag. I have force pushed the `ghdl` branch where I have removed the work arround of having default values on all generics in the examples.

[2015-05-11 19:45] kraigher commented on #24
They just fixed https://sourceforge.net/p/ghdl-updates/tickets/51/ which prevented the output binary generated by ghdl from being an absolute path. I have removed our work around for it and force pushed the `ghdl` branch.

[2015-05-11 20:52] #23 closed

[2015-05-12 06:42] kraigher commented on #24
I have rebased the `ghdl` branch on master after com was added and applied work the required workarounds. It crashes when with a failing assert of msg_codecs_pkg.vhd and I will investigate why and send a reproducer to the GHDL team. They are usually quick to fix such things.

[2015-05-12 07:33] kraigher commented on #24
I have found the problem with msg_codecs_pkg.vhd and condensed it into a ticket:
https://sourceforge.net/p/ghdl-updates/tickets/55/

[2015-05-12 08:14] kraigher commented on #44
I have pushed the work in progress to the `nvc` branch. The currently blocking bug is https://github.com/nickg/nvc/issues/185 which is triggered by `test_runner_cleanup`. Otherwise it is able to compile and run the user_guide example up until `test_runner_cleanup`.

[2015-05-12 18:52] kraigher commented on #24
They have now added support for context clauses so I have force pushed an updated `ghdl` branch with those workarounds removed.

[2015-05-12 18:59] kraigher commented on #24
They have fixed https://sourceforge.net/p/ghdl-updates/tickets/55/ which was caused by msg_codecs_pkg.vhd. Now there is a problem with scoreboard.vhd which I will investigate.

[2015-05-13 06:44] kraigher commented on #24
I have located the bug which causes scoreboard.vhd to fail:
https://sourceforge.net/p/ghdl-updates/tickets/59/
They have now fixed it.

They have also used to have an error when a the timestamp of an already analyzed file had changed.
This caused problems with git since it will often change timestamps as well as with preprocessed and generated codec files. They now check the sha1 hash of the file

[2015-05-13 06:50] LarsAsplund commented on #24
How many of the acceptance tests have successfully run with GHDL. What's left?

[2015-05-13 07:51] kraigher commented on #24
@LarsAsplund Some work at least. I need to refactor the acceptance test code to handle multiple simulators. Also at least initially I think we can only support GHDL with VHDL-2008 since there is no stop mechanism available otherwise. In modelsim we use the wait on test_runner_exit to not rely on stop. A future enhancement might be to add a report with severity failure as a possibility for GHDL < 2

[2015-05-15 07:03] LarsAsplund commented on #24
@kraigher I push an update to master which removes unprotected shared variables

[2015-05-15 07:22] kraigher commented on #24
@LarsAsplund They have added the option of turning shared variable error into a warning with `-frelaxed-rules` yesterday. Tank you anyway. By the way I think we should seriously consider dropping support for 93 and even 2002, it costs alot of extra code especially for 93 and it makes the interface worse than it could have been. If we cannot support Vivado xsim then there are no simulators which we

[2015-05-15 19:57] kraigher commented on #24
@LarsAsplund One of the acceptance test to fail is `tb_logging.vhd` where the exact contents of log messages are compared. Log messages with times in them fail due to ModelSim time`image formatting with `ps` whereas ghdl formats with `fs`. time'image will return values with the unit defined by the current simulator resolution which we have set to ps in Modelsim. Maybe we have to set it to fs in Mo

[2015-05-17 15:47] LarsAsplund commented on #24
@kraigher Yes, 93 support is adding quite a lot of work. I'm not too concerned with the lack of xsim support. I know that Xilinx has been talking about supporting VHDL 2008 as well, not sure when though. There's also a question about corporate standards. I know some major companies have restrictions but it's unclear to me whether those restrictions apply to testbenches as well. I will try to find

[2015-05-17 15:55] LarsAsplund commented on #24
@kraigher I'll have a look at the logging testbench. I guess I could allow any unit as long as the string represent the expected time.

[2015-05-18 03:37] kraigher commented on #24
@LarsAsplund Any restriction on using VHDL-2008 in test benches would fall apart quite quickly if questioned. There is just no good reason. There might be some good reasons to use 93 only for the code intended to be used by the synthesis tool but even this it is becoming less so. I think it costs us a lot to support 93 for no good reason.

[2015-05-18 18:17] kraigher commented on #24
@LarsAsplund The com example fails due to the impure `split_group` procedure from `com_debug_codec_builder.vhd` being called in pure decode functions. The `split_group` function is impure since it uses `check` which uses a shared variable.

[2015-05-19 05:21] LarsAsplund commented on #24
@kraigher I removed the checks.

[2015-05-19 06:32] kraigher commented on #24
The com example runs with GHDL now.

[2015-05-19 08:11] kraigher commented on #24
tb_logging.vhd runs with both GHDL and ModelSim now as I use `time'image` to create the reference strings instead of hardcoding it making it more independent of simulator resolution and `time'image` format.

[2015-05-19 10:43] kraigher commented on #24
@LarsAsplund com had some problems with reading `out` parameters. I fixed it in 6d1a9ef532db62723945a260a661f2bc22278e92 on the `ghdl` branch. What do you think?

[2015-05-19 11:15] kraigher commented on #24
@LarsAsplund `tb_check_stable` failed with GHDL. It seems it dependend on process execution order. The log count was verified in the same delta-cycle as it was set and on GHDL the proceses executed in different order from modelsim. I have fixed this in the `ghdl` branch by commit 11541981d264d6cd13d09453cf89417a131fc45c. Seems reasonable, or could it hide some problem?

[2015-05-19 11:21] kraigher commented on #24
Now all acceptance test pass except `test_com_debug_vhdl_2008` and `test_com_vhdl_2008`. I have skipped all tests on 2002 and 93 standards since the current GHDL interface does not support them. I have also skipped the `test_end_to_end.py` since most test there depend on the `vunit_finished` signal to stop which GHDL cannot support. I will refactor tests using `vunit_finished` signal to instead ca

[2015-05-19 14:48] LarsAsplund commented on #24
@kraigher I haven't looked at the details but where is a variable like receipt read? Logically it's an output and it would be better if the interface reflect that. Something that can be solved with local temporary variables?

[2015-05-19 14:53] kraigher commented on #24
@LarsAsplund com.vhd:652-658 for instance:
[code]

Could also be solved with a local variable.

[2015-05-19 14:59] LarsAsplund commented on #24
@kraigher Ok, in that case I would prefer the local variable. Another question regarding ticket 72 and 73. Have I used

proc(s(4 to 15) => "Hello world!");

in com?

proc(s => (4 to 15 => "Hello World"));

seems more clear to me.

[2015-05-19 15:02] kraigher commented on #24
It looks like this in tb_com_codecs.vhd:
[code]

The other cases I found while investigating and so I reported them as well.

[2015-05-19 15:19] kraigher commented on #24
@LarsAsplund I fixed the com reading output violations by using local variables and pushed to master.

[2015-05-19 15:36] kraigher commented on #24
@LarsAsplund On line 53 of com_types.vhd there is a comment about modelsim not being able to handle `time'high`. I tried it on my machine and it works. The problem is `1000 hr` will overflow in GHDL. I printed `time'high` in modelsim and it was `9223372036854775807 ps` in GHDL it was `9223372036854775807 fs`. It would be a nice solution. Otherwise a negative time can be used as well to denote no t

[2015-05-19 15:46] LarsAsplund commented on #24
@kraigher I can't remember exactly why I had a problem with time'high, it was some time ago. Maybe there was another problem.... Let me try again later on tonight. If I can't see any problems I will change back. If there is a problem a negative time is a better solution.

[2015-05-19 16:01] LarsAsplund commented on #24
@kraigher I made a quick test. My com example gets a fatal error when I use time'high. Windows + Modelsim Altera Edition 10.1d. Get back when I have some more details but here is the output

[code]

[2015-05-19 16:33] LarsAsplund commented on #24
@kraigher The wait statement in the wait_for_messages procedure in com.vhd is timing out immediately despite receive_timeout = 9223372036854775807 ps. The fatal error is because my tb doesn't check message.status and tries to decode a null payload. A negative timeout doesn't help us, we still need a very large timeout for the wait statement. I guess 1 hour would be large enough and it wouldn't ove

[2015-05-19 17:58] kraigher commented on #24
@LarsAsplund The idea was not to simply pass the negative time onto the wait statement but rather to have an `if` statement surrounding the `wait` statement where if the timeout was negative the `for timeout` part would be removed from the `wait` statement. Anyway `1 hr` works for GHDL. That is what i have pushed to the branch.

[2015-05-19 20:36] kraigher commented on #24
Seems `(15 downto 4 => "Hello world!")` is a vhdl 2008 construct which GHDL does not support yet.
https://sourceforge.net/p/ghdl-updates/tickets/72/

I will rewrite the code.

[2015-05-19 20:40] kraigher commented on #24
@LarsAsplund It seems time'low in GHDL is -2^63 instead of -2^63+1 as modelsim. You claim in a comment that the standard says it must be the symmetric range [-2^63+1, 2^63-1]. I cannot find this claim in the 2008 LRM.

guaranteed to include the range –2147483647 to +2147483647.

Thus the encoding method does not work for `time'low` since the sign is flipped when it is negative.

[2015-05-20 04:43] LarsAsplund commented on #24
@kraigher Will your handling of the unsupported ranges affect the codecs ability to maintain the array range(s)?

My comment is badly phrased. What i meant was that Modelsim's position with a fixed integer range and a variable resolution is ok.

[2015-05-20 04:53] kraigher commented on #24
@LarsAsplund missing ticket 72 only affects the test bench: 22b0ef97dce866178e5c8e900bf40a70daeadea0

[2015-05-20 04:55] LarsAsplund commented on #24
@kraigher Ok, I don't mind those changes.

[2015-05-20 09:53] kraigher commented on #24
@LarsAsplund Found some more violations which caused GHDL errors and ModelSim warnings: e5810094777165a1ae6f8e8e343971ebc7b0935e
Using for example `bit'value("0")` is not valid it should be `bit'value("'0'")`.

[2015-05-20 10:03] kraigher commented on #24
@LarsAsplund There are failures with GHDL in `com_string.vhd` when data is range 3 downto -3:
[code]

Modelsim also fails though not always:
[code]

[code]

[2015-05-20 10:08] kraigher commented on #24
I fixed the above with: fe2d854a4ecd0e7959c9f7950416399c2926ed81

[2015-05-20 10:09] kraigher commented on #24
Now the only failure in the com acceptance test is the encoding/decoding of `time'low`.

[2015-05-20 10:45] LarsAsplund commented on #24
Ok with the changes. Maybe a special case for time'low is the easiest solution? Or maybe the encoder can be built around the negative range rather than the positive range as it is today. Are you making those changes or do you want me to do it?

[2015-05-20 10:46] kraigher commented on #24
I will rewrite it.

[2015-05-20 12:41] kraigher commented on #24
@LarsAsplund I rewrote it to support non-symmetric time range. I still assumes time is 8 bytes though, one could compute a package constants based on time'high and time'low to decide how many bytes to use for time. I let I be since it works with both modelsim and ghdl . Here is the commi: 4e01cdddd03e8969362690c32cbca78a6683115a

[2015-05-20 12:41] kraigher commented on #24
Now everything works with GHDL except test_end_to_end.py were I will need to refator away the use of `vunit_finished`.

[2015-05-20 15:03] LarsAsplund commented on #24
@kraigher From the looks of it you made the effort to encode the 2's complement number (modulos of negative number always confuse me). If that's the case we should be able to handle 32 bit simulators (if they exist) and for those with wider ranges our test cases should fail so we wouldn't forget to fix it.

[2015-05-20 16:28] kraigher commented on #24
GHDL is now able to run all acceptance tests.  So we are very close at adding official support for it.

There is one last [bug]((https://sourceforge.net/p/ghdl-updates/tickets/77/) ) with std.env.stop that I have reported to them but which could be worked around. Hopefully they will fix it soon and the workaround can be removed.

Other than that the only workaround left is the fixes in the OSVVM c

[2015-05-20 17:11] LarsAsplund commented on #24
Great work! I think we should avoid a modified version of OSVVM on master but I think it would be okay to have the GHDL support on master without supporting OSVVM yet. After all, it's an add-on. However, the best would be if we can have synchronized releases. Have you discussed when the next binary of GHDL will be released? Maybe we can await that?

Btw, have you built and tested GHDL+VUnit under

[2015-05-20 18:39] kraigher commented on #24
I have not asken when their next binary release arrives. It should be orthogonal to us having it on master. We say it works with GHDL built from latest development branch and which OS and backend we have tested with until we have an official release to test with or some other news to declare.

As for OSVVM Jim Lewis replied and said he has fixed the GHDL errors so hopefully there will be an offici

[2015-05-21 07:06] kraigher commented on #10
@PerePala We have successfully added support for GHDL on the `ghdl` branch. It can run all our acceptance tests now. It only works with GHDL built from source from today basically. In the future the changes and bugfixes we needed will have gone into an official binary release of GHDL. Anyway if you have the ability to build GHDL from source you can use VUnit with it from the `ghdl` branch. I have

[2015-05-22 07:11] kraigher commented on #24
I have managed to build GHDL mcode version on 32-bit Windows in VirtualBox using cygwin.
It runs everything except encode/decode of time with debug codecs. Seems there was an overflow in the decode function. I fixed it in b850c6121e5dced4346afe95b939478d53ae9a5d. The debug decode functions for time seems to be a workaround for modelsim not being able to do `time'value(time'image(time'low))` which

[2015-05-22 14:21] kraigher commented on #24
I added support for launching GTKWave and viewing the result after simulating with GHDL:
https://github.com/LarsAsplund/vunit/blob/ghdl/user_guide.md

[2015-05-22 18:14] kraigher commented on #24
@LarsAsplund I feel ready to merge `ghdl` into the master branch now.
The only question is what to do with OSVVM. It would annoy me not to make minor the modifications required to make it run with GHDL. If we do not have OSVVM we loose the uart, array and com examples. Jim Lewis has already agreed to making those modifications himself for the next version. Reading the about the [license OSVVM uses

[2015-05-22 18:35] kraigher commented on #24
I modified the readme.md on the `ghdl` branch mentioning GHDL and the OSVVM modifications. https://github.com/LarsAsplund/vunit/blob/ghdl/README.md

I have sent an email to Jim asking for his explicit permission to re-distribute the modifications. If he says yes I merge it.

[2015-05-22 20:20] LarsAsplund commented on #24
@kraigher Agree with your approach to merging GHDL.

[2015-05-23 16:19] imd1 opened #46 "Add dependency scanning of configurations"
When I use the python script method for a VHDL testbench, sometimes it compiles, sometimes it errors, both starting from the same clean and identical directory conditions!

Any clues why?

[2015-05-23 16:21] kraigher commented on #46
Could you provide some more details such as command line output? run.py contents?

[2015-05-23 16:22] kraigher commented on #46
Also which commit on the master branch are you using?

[2015-05-24 07:26] imd1 commented on #46
I'm using release 0.14.0
I don't have access to the code a the moment so I cannot post anything in detail, but in general terms I have modules of VHDL and a standard looking run.py from the examples, and sometimes itcompiles, runs and the tests pass, and changing nothing and starting from exactly the same conditions, the code fails to compile due to not finding items in the library, as if the code

[2015-05-24 08:34] kraigher commented on #46
Could you try 0.15.0 which I just added.
Also could you give me the result of running run.py with --log-level=debug both after --clean as well as after it worked and after it failed.

[2015-05-25 08:28] imd1 commented on #46
When I have access to the code next week, I will follow your instructions

[2015-05-26 06:53] kraigher commented on #24
@LarsAsplund I have noticed the following warnings when compiling check.vhd with GHDL:
[code]

[2015-05-26 07:36] LarsAsplund commented on #24
@kraigher Seems like I forget to make a number of check_relation public which should be public to support different variants of matching relational operators. The to_string functions on the other hand are obsolete and have been replaced by to_nibble_string functions. I'll make the updates tonight.

[2015-05-26 09:14] kraigher commented on #24
@LarsAsplund Also get these warnings when compiling the `com` package:
[code]

[2015-05-30 08:30] #22 closed

[2015-05-30 12:58] kraigher commented on #36
@nathanaelhuffman Have you got any more feedback from Mentor regarding these bugs such as if they were fixed or not?

[2015-05-30 12:58] kraigher commented on #17
@LarsAsplund Any update on the tool provider licenses?

[2015-05-30 13:22] kraigher commented on #45
### What we already have
A `.wlf` file is already saved into `vunit_out/tests/lib.entity.test_name/msim/vsim.wlf`
There is already a `--gui=load` flag for launching a GUI with the design loaded.

There are two ways to achieve what you want with the existing functionality:
#### Method 1
Start with the `--gui=load` flag and do:
[code]
After this manually launch ModelSim GUI to view `vunit_out/tests/

[2015-06-01 12:01] kraigher commented on #24
I merged this to the master branch and also added the OSVVM fixes. I have not got any answer from Jim about publishing it though but my patience ran out. The license he uses permits making and redistributing modifications. Also it must be better to have things working rather than not working anyway.

[2015-06-01 12:01] #24 closed

[2015-06-01 12:42] LarsAsplund commented on #17
@kraigher No, no more info. I will get in touch with them after DAC again.

[2015-06-03 11:48] kraigher opened #48 "Parallel test execution"
Support parallel test execution with a `-p <num>` flag. Continuous output such as with the `-v` flag would not be possible when running in parallel.

[2015-06-03 13:27] nathanaelhuffman commented on #36
@kraigher No update. I can see the issue in Mentor's supportnet site but it's still "Not scheduled" for a planned release.  The defect number is DVT-76776.
Here is the list of possible workarounds provided from Mentor, you can see if one of these can be shoe-horned to work in vunit:
1.       Setting the MODELSIM environment variable in the OS before launching ModelSim. For some reason this inherit

[2015-06-03 17:19] kraigher commented on #36
@nathanaelhuffman We use 1. which works fine. With the bugs reported such that mentor can improve their tool this issue can now be closed. Thank you for your help.

[2015-06-03 17:19] #36 closed

[2015-06-04 09:01] imd1 commented on #46
I have made some progress on this.
I've upgraded to 0.18.0 with no effect.
The intermittent behaviour is due to an incomplete dependency tree i.e. the compilation order is not fully defined, so sometimes the order is correct by chance, other times not.
The dependency problem involves VHDL containing configurations - I wonder whether VUnit supports configurations fully?
The work around is to refact

[2015-06-04 09:20] kraigher commented on #46
The dependency scanner does not yet support configurations. If you post examples spanning your different usage of configurations I can add support for it.

[2015-06-04 15:31] imd1 commented on #46
I cannot easily post specific examples, but all forms of configuration are used in my code, namely:

1. Configuration declaration (primary library unit) - whole hierarchy using "use entity" clauses.
2. As 1, except using a tree of configurations, each one corresponding to a point in the hierarchy.
3. Configuration specification (used in architecture) - using a "use entity" clause
4. As 3, except u

[2015-06-05 09:11] imd1 commented on #46
An alternative approach would be for VUnit running a --clean build to have an additional option to create a compile order based on the order of library additions.  I currently perform clean builds on a Jenkins box and am retro-fitting VUnit to unit tests based on .do scripts with a complete and ordered set of vcom/vlib/vmap statements. Allowing VUnit to mimic this would be a great feature and woul

[2015-06-05 17:21] kraigher commented on #46
@imd1 I will prioritize adding support for configurations. A second feature request issue candidate would be to allow the user to manually specify dependencies. Having support for configurations would make that unnecessary though.

Would you still need support for manual compile order if the dependency scanner had support for configurations? A manual compile order as you suggest does not work as w

[2015-06-05 18:19] imd1 commented on #46
My compile order suggestion was an alternative to configuration scanning - happy if only the scanner is upgraded. Agree with your comments.

[2015-06-05 21:55] kraigher commented on #46
@imd1 I have added support for scanning "configuration declarations" and "block configurations":

**configuration declarations**
[code]

**block configurations:**
[code]

Could you try it and report back? I will wait on closing this issue until you report sucess.

[2015-06-06 15:18] imd1 commented on #46
Thank you for the prompt response. Just to clarify, do you think the upgrade will support more complicated combinations, for example?:

--injects dependency between cfg with lib.ent (all architectures) AND lib.ent2
configuration cfg of ent is
..
for foo : bar use entity lib.ent2;
..
end configuration

[2015-06-06 15:42] kraigher commented on #46
@imd1 yes it will handle that case as well.

[2015-06-06 16:59] imd1 commented on #46
Is there a new release to try?

[2015-06-06 17:23] kraigher commented on #46
Just use the latest master to try it. I make a release after you verified it works.

[2015-06-08 10:16] kraigher commented on #48
Parallel test execution works well now on the `parallel` branch. I ran into a lot of Windows specific issues reminding me why it is such a crappy operating system from a programmers perspective. There seems to be some deadlock left to debug when pressing Ctrl-C on Windows but it is very rare.

I also accidentally found out that using Git Bash (MSYS Bash) on windows will [hard kill the process when

[2015-06-08 10:36] kraigher commented on #48
There is also a race condition with ghdl when running multiple simulations in parallel with the same top level due to temporary files it creates. https://sourceforge.net/p/ghdl-updates/tickets/87/

[2015-06-08 12:53] LarsAsplund commented on #48
Agree on merging this despite the problems you mention. This is a very nice
feature for anyone not affected by the exceptions.

On 8 June 2015 at 12:36, kraigher <notifications@github.com> wrote:

[2015-06-09 16:30] kraigher commented on #46
@imd1 did the dependency scanner update solve your problem?

[2015-06-09 16:42] imd1 commented on #46
I've just completed Jenkins soak testing on the 3 modules I've chosen to prototype VUnit with, and they always pass unit tests, both individually and as a group, so I'm happy

I have a number of other modules waiting for a VUnit upgrade that use configurations more extensively, but it will take time to do this, so I suggest closing this issue and creating a new release

[2015-06-09 16:46] kraigher commented on #46
I just created a new release including this

[2015-06-09 16:46] #46 closed

[2015-06-10 09:29] kraigher commented on #48
The GHDL issue has now been fixed so that one can use parallel execution without race conditions.

[2015-06-10 09:29] #48 closed

[2015-06-10 12:27] kraigher opened #49 "Add SystemVerilog support."
All off the benefits provided by VUnit for VHDL would apply equally well to SystemVerilog.
I would surely miss the VUnit features when working in SystemVerilog project.
There is actually not that much work that needs to be done to add basic SystemVerilog support.
Here are some work items I have identifier:
* Verilog/SystemVerilog dependency scanning
  * Manual dependency specification can be added

[2015-06-10 14:26] LarsAsplund commented on #49
Sounds good! Just adding dependency scanning would improve the situation for those doing mixed-language. `add_external_library` helps a bit but for those actively developing their Verilog code the scanner would be an improvement

[2015-06-10 14:27] LarsAsplund commented on #10
I will close this since we have separate issues for Aldec and nvc

[2015-06-10 14:27] #10 closed

[2015-06-10 14:40] LarsAsplund commented on #25
I'll put this to the archive since this issue doesn't seem to be a major one concerning the lack of activity on this thread. A few changes since it was written though

 * One UVM type of enhancement has been added: Message passing with `com`.
 * The newly added issue on adding Verilog support means that VUnit will probably have that in the near future.

[2015-06-10 14:40] #25 closed

[2015-06-11 09:55] LarsAsplund commented on #32
@barri I started to look at this but think I'm about to change my mind. With `check_equal` we support comparison between different types which results in 70 different checks to support "all" combinations. Now that we want a third delta input parameter the number of combinations explodes. We also need two subprograms for each combination (check_almost_equal and check_not_almost_equal). I could limi

[2015-06-11 09:57] LarsAsplund commented on #33
The questions have been answered and the discussions have ended so I'll put this in the archive.

[2015-06-11 09:57] #33 closed

[2015-06-12 18:09] kraigher commented on #49
I have made an initial prototype on the `systemverilog` branch. The verilog code is found in the [verilog](https://github.com/LarsAsplund/vunit/blob/systemverilog/verilog/) folder. An example of how a test bench would look can be found in [tb_example.sv](https://github.com/LarsAsplund/vunit/blob/systemverilog/verilog/tb_example.sv).

The runner concept is very similar to that of the VHDL runner an

[2015-06-15 19:32] imd1 opened #50 "Incomplete dependency scanning for configuration"
Using V0.20.0

When a configuration has a "use entity lib.ent(arch)" statement, the file containing the configuration currently correctly depends on the file containing ent.  However, the configuration may continue with "for arch" statements containing "for all:arch_comp" statements which requires that the configuration file to also depend on the file contain arch, otherwise vcom errors about arch

[2015-06-15 19:48] kraigher commented on #50
I am pretty sure that "use entity lib.ent(arch)" will insert dependency between both the file containing ent and the file containing arch. Could you provide a small VHDL example to pinpoint exactly the problem?

[2015-06-15 20:40] imd1 commented on #50
I'm away from the code, so I'll try and write some (pseudo) code for now:

File A.vhd:
configuration cfgA of A
   for all: bar use entity lib.B(archB)
      for archB
          for all: archB_comp use ....
      end for;
end configuration;

File B.vhd:
entity B
end entity;

File C.vhd:
architecture archB of B
component archB_comp;
begin
foo: archB_comp;
end architecture;

A.vhd correctly depends o

[2015-06-16 05:14] kraigher commented on #50
I tested your exact example (minus some syntax errors) and `A.vhd` depends on both `B.vhd` and `C.vhd` as I already assumed it would based on how I know this is implemented.

I added the following test to verify and it passed:
[code]

There must be something more to it than what you have posted.

[2015-06-16 05:50] imd1 commented on #50
Thanks very much - I will look into this further when I have access to the code later

[2015-06-16 19:01] imd1 commented on #50
I've mocked up the example I gave you and agree that the scanning is OK for this example.  I've also studied the real example and still think there's an issue.  The real example is more complicated, so I will try and create a mock that exhibits the issue in the same way - this may take some time as this is very much a part time activity - so please bear with me.

[2015-06-17 08:59] barri commented on #32
Valid points, might as well close this issue. Thanks for your time
considering my suggestion.

2015-06-11 11:55 GMT+02:00 Lars Asplund <notifications@github.com>:

[2015-06-17 13:14] imd1 commented on #50
I have taken the real code, pruned it to a reasonable number and complexity of files, and maintained the issue - please let me know how I can send you the ZIP file so you can work on this further

[2015-06-17 13:55] kraigher commented on #50
You can email it to me. My email is listed in my github profile.

[2015-06-17 14:37] kraigher commented on #50
@imd1 I found the problem. The dependency scanner regexp did not handle a space between the entity and architecture names. `work.Register_fifo (Rtl)` did not work but `work.Register_fifo(Rtl)` worked. I will fix it and make a new release.

[2015-06-17 14:41] #50 closed

[2015-06-17 14:43] kraigher commented on #50
In release v0.23.0
https://github.com/LarsAsplund/vunit/releases/tag/v0.23.0

[2015-06-18 21:38] LarsAsplund commented on #18
@philippefaes @kraigher

Today the structure is

[code]

If we should be clear about where the user source files and the developer test files are we should move src and test to the top, then we have the VHDL version libraries to easily identify the subset to compile, and finally we have the module directories to keep things modular by function. Mocks should be moved to test, shouldn't have been un

[2015-06-20 07:51] imd1 opened #51 "Automatically execute each test in parallel"
The recently added parallel test execution feature is great - thanks - and I tend to set the number equal to the number of tests.  Is there a way to do this automatically so the number changes as tests are added?

[2015-06-20 08:34] imd1 commented on #51
Apologies for the heading error!

[2015-06-20 08:44] LarsAsplund commented on #51
Let's look into that. Just out of curiosity, what performance gain do you see? With what simulator, OS, hardware, and so on?

[2015-06-20 09:04] kraigher commented on #51
You can change the heading by pressing the edit button to the right of the issue heading.

Regarding the subject matter. Are you sure it makes sense to set the number of threads equal to the number of tests? Setting it to the number of processor cores or slightly higher is probably the best performance option and that is regardless of how many tests you run.

[2015-06-20 09:54] imd1 commented on #51
I'm running 8 tests on a Jenkins server.

My knowledge of its capabilities is limited at this moment. It runs Win7 and has 32GB of memory. I can find out more this week.

So far, I am seeing a linear benefit in setting the number of threads equal to the number of tests. I am happy to continue manually setting this parameter. I am no expert in this field. Is it not possible to achieve performance b

[2015-06-20 10:05] LarsAsplund commented on #51
It's possible but there's a limit, see https://groups.google.com/forum/?nomobile=true#!topic/comp.lang.vhdl/mJhz5kBvZlA so i agree with Olof on this

[2015-06-20 10:37] #51 closed

[2015-06-20 10:48] kraigher commented on #51
Be careful when looking at the total vs elapsed time printed by VUnit to make any speedup conclusions. The ratio with high P will always approach P but when the actual speedup stops it will be due to the total time increasing where as the elapsed time stays the same. The number optimal number of cores will really only depend on the machine rather than the number of tests.

[2015-06-23 16:55] kraigher opened #52 "Make mocking of Log/Check a run-time option instead of compile time."
When writing a library that depends on the log and check libraries it would be more convenient to be able to mix positive with negative tests by being able to control mocking at run-time rather than compile time.
Also it would remove some redundancy between the mock and production code.

[2015-06-23 16:57] kraigher commented on #18
@LarsAsplund seems ok. I would prefer if there were no compile-time mocking though. See issue: #52 52

[2015-06-24 17:23] philippefaes commented on #18
Sounds good.

[2015-06-26 18:50] kraigher commented on #49
With the last updates the SystemVerilog support is very usable.
Package imports and module instances are handled by the dependency scanning as well as including files. Dependency scanning performs verilog pre-processing to find dependencies hidden behind macro expansions such as the import of vunit_pkg hidden behind our TEST_SUITE macro.
I have added a verilog user_guide and uart_tx example. I wil

[2015-06-30 11:35] LarsAsplund opened #53 "Positive Acknowledge of Each Check"
Some test libraries like BVUL and OSVVM provide a way to have a postive acknowledge on each passed check and not just a negative acknowledge when it fails. Is this something you would like to see in VUnit as well or is positive acknowledge of the test cases sufficient level of details? Provide your use cases for why we should have it or the reasons for why we shouldn't. See also https://groups.goo

[2015-06-30 13:48] LarsAsplund opened #54 "Improve Integration with the Bitvis Utility Library"
Coexistence with BVUL has been discussed on [comp.lang.vhd](https://groups.google.com/forum/#!topic/comp.lang.vhdl/t7BmFSUiNpg). In a first iteration a separate run context should be added to avoid the name collision between VUnit and BVUL log procedures. A thoroughly documented examples on how coexistence is achieved should also be added.

[2015-07-01 05:38] kraigher opened #55 "Generate check_equal and to_string for records within package."
We should do this similarly to the code generation for com. I think this case is the most common and useful one for code generation.

In run.py it could look like:
[code]

I think the user should optionally be able to decide were the file is placed.

[2015-07-01 16:01] LarsAsplund commented on #55
Yes, that seems like a reasonable enhancement now that we have the com code to build upon. I guess that we should expose the "=" function as well if we expose to_string. We should also look at the possibility of adding other relations as well. Equal will be the most commonly used relation but I guess others like not_equal would come almost for free.

[2015-07-01 16:07] kraigher commented on #55
"=" is already automatically defined for new types in vhdl.

[2015-07-01 16:13] kraigher commented on #55
Actually I think the run.py code should look like this:
[code]

I think the code generation for com should be converted to follow a similar style. That keeps them separate from the main API and prevents the main API from growing to many methods.

[2015-07-06 19:20] rndhro opened #56 "user_guide example on linux/modelsim"
Hi,

there's probably something wrong with my environment but I can't spot it - can you give advice?

[code]

[code]

[code]

[2015-07-06 19:30] kraigher commented on #56
Could you try to open a modelsim gui and run one of the vsim commands above to see what it says?

[2015-07-06 19:41] kraigher commented on #56
More specifically could you open a modelsim gui and issue the following commands in the same working directory as you ran run.py.

[code]

[2015-07-06 19:47] kraigher commented on #56
You could also do `run.py --gui=load` which will launch a modelsim gui and see if there is more info about the error in red text in the transcript window..

[2015-07-07 04:26] rndhro commented on #56
run.py --gui=load: vsim opens up, also prints:
[code]
(unrelated: after closing vsim, each test is shown as 'passed')

from vsim gui:
[code]
so this looks good... note that I had to remove the "{*}" to make it work.

this time with the vsim command from the error string:
[code]

[2015-07-07 05:44] kraigher commented on #56
The {\*} TCL operator was something that we recently introduced. Without it the `vsim_extra_args` parameter to `vunit_load` cannot contain multiple separate flags. The operator splits a variable into multiple arguments before calling the parent command. I was worried that it might cause problems since it is a newer TCL feature. I removed the {\*} operator in the `issue56` branch using `eval` inste

[2015-07-07 06:18] rndhro commented on #56
branch issue56 works!
Modelsim 10.1 comes with tcl 8.4 (if this is of any help...)

On vsim gui closing: indeed, I closed it with quit -f so return code is 0 - thanks for the clarification.

[2015-07-07 06:26] kraigher commented on #56
I have merged this to master and made a new release. Thank you for reporting.

[2015-07-07 06:26] #56 closed

[2015-07-08 08:07] rndhro opened #57 "Support for Modelsim vlog include dirs"
Verilog include directories have to be specified with ```+incdir+[dirname]``` in the ```vlog``` command - are there plans to support this?
For the moment I modified the call to ```vlog``` in modelsim_interface.py for my needs, but this is obviously not portable. However it seems a clean implementation requires some work...
Maybe providing the ```config``` object already to ```compile_project()```

[2015-07-08 08:21] kraigher commented on #57
We are working on adding full support for SystemVerilog in the systemverilog branch, issue #49. The goal is to make VUnit a testing tool also for SystemVerilog projects. In this branch we have already added support for setting include directories. It is still a work in progress though.

[2015-07-08 08:23] kraigher commented on #57
In the systemverilog branch the add_source_files method has an include_dirs argument. Remember that this is not official and still a work in progress.

[2015-07-08 08:30] rndhro commented on #57
Thanks for the pointer, I'll give it a try. Having include_dirs on a per-file basis is indeed better than on project level!

[2015-07-08 08:30] #57 closed

[2015-07-08 10:19] rndhro opened #58 "vhdl_parser depends on coding style to find ports/generics"
works:
[code]
works:
[code]

**does not work**:
[code]

VHDL does not require a newline before ```generic``` or ```port``` but vhdl_parser.py:387 /:413 currently implement it this way.

[2015-07-08 15:59] kraigher commented on #58
I have fixed the problem and added some other corner case tests.

[2015-07-08 15:59] #58 closed

[2015-07-08 16:02] kraigher commented on #58
Some time in the future I plan to rewrite the VHDL parser to be based on tokens by first tokenizing the input instead of the current raw regex approach. This will scale better and be more maintainable. The Verilog parser that I started working on in the systemverilog branch is already token based.

[2015-07-08 16:27] rndhro commented on #58
thanks for the fix - that was fast...again!
Parsing VHDL can be really tricky...I think there are a few more possible pitfalls in the current implementation, but in 99% of the cases probably not worth the effort...

[2015-07-08 16:31] kraigher commented on #58
Yes the current raw regexp implementation can be tricked by cleverly crafted input as it is a weak method of parsing. That is why I want to rewrite it to use proper tokenization. It has worked well in practice for the parsing needs of VUnit though.

[2015-07-15 20:42] amartinray opened #59 "Parsing Error"
When I try to compile my library, I get this error:

Traceback (most recent call last):
  File "/home/user/path/scripts/vunit-master/vunit/project.py", line 379, in __init__
    design_file = vhdl_parser.parse(code, name)
  File "/home/user/path/scripts/vunit-master/vunit/vhdl_parser.py", line 60, in parse
    design_file = VHDLDesignFile.parse(code)
  File "/home/user/path/scripts/vunit-master/vu

[2015-07-16 07:53] kraigher commented on #59
Should be fixed in release v0.26.0

[2015-07-16 07:53] #59 closed

[2015-07-16 07:53] kraigher commented on #59
Thank you for reporting.

[2015-07-16 15:35] amartinray opened #60 "Change VHDL Standard Per Library"
Loving this tool so far.  I have a question or request if it doesn't exist.

My design has multiple libraries.  Most require VHDL-2008 but one requires VHDL-1993.  Is there a way to specify which to use on a per library basis?

Thanks.

[2015-07-16 16:20] kraigher commented on #60
It is not possible to individually set the VHDL standard. It is globally set. We have in some early non-public version allowed users to set it per file but we later simplified it. While it would be technically possible for us to allow individually setting the VHDL standard without much work I would first like to understand if it is necessary. My belief is that there is no good reason to not compil

[2015-07-16 16:32] amartinray commented on #60
Thanks for the reply.  I have an IP library that I don't have control over that uses the "default" reserved word in one of it's files.  They have updated their library and will be getting me a fix soon but I don't have it yet.  If this request is a hassle, then spend your time in other areas.  I'll get the fix from the IP creator.  It is not worth changing your priorities.

I've given a star.

[2015-07-16 17:32] kraigher commented on #60
Ok based on this information I will put this on the waitlist for now. Thank you for your feedback.

[2015-07-27 09:34] vermaete opened #62 "simulations with SDF"
For doing postlayout simulations with Modelsim I'm using the 'set_sim_option' to pass the sdf file.

E.g.:
vu.set_sim_option("vsim_extra_args", "-sdfmax /dut=../implementation/libero/designer/{0}/{0}_ba.sdf".format(COMPONENT))

It's working fine.  But should there not be a solution that is simulator independent?

[2015-07-27 16:16] kraigher commented on #62
The vsim_extra_args options exists so that we do not have to create a simulator independent interface for every conceivable type of option that is similar among simulators. Just doing `vsim -h | grep sdf` shows many different SDF related options:
[code]
There is a balance between if something should have its own simulator independent interface or if the user has to provide the simulator specific f

[2015-07-28 07:35] vermaete commented on #62
Thanks for the answer.  My goal was to spare our limited number of Modelsim licenses and keep them for development and debugging only.  And use the reborn ghdl for massive regression runs and CI. Not having any compiler/simulator specific code in the 'run.py' makes this a bit easier for the user.  But I do understand that having everything generic is not possible.

[2015-07-28 08:56] kraigher commented on #62
Sounds like a good approach, GHDL has become very good lately. Do you also want to use SDF when simulating with GHDL? We have no similar hook to vsim_extra_args for GHDL currently.
You can set the vsim_extra_args hook regardless of what simulator you are using, when using GHDL it will be ignored.

[2015-07-28 08:58] vermaete commented on #62
ghdl is a plan, but not yet planned :-)  So, at the moment we don't use it
yet.

On Tue, Jul 28, 2015 at 10:56 AM, kraigher <notifications@github.com> wrote:

--
Jan Vermaete
"For every complex problem there is an answer that is clear, simple, and
wrong." - H.L. Mencken

[2015-07-28 09:22] kraigher commented on #62
I would recommend the LLVM backend of GHDL. It is easy to build from source and runs fast. The GHDL folks are planning on making a binary release soon. The current binary release is quite old and lacks many improvements and bug fixes required to work with VUnit. That is why you have to build from source at the moment.

[2015-07-28 09:57] #62 closed

[2015-07-29 09:24] vermaete opened #63 "set the output_path"
When setting the output_path like this:
vu = VUnit.from_argv(argv=["--output-path=vunit_out_postlayout"])

It's working but I'm not longer able to do things like:
python run.py --gui load

So, I specify the output_path now:
vu._output_path="vunit_out_postsynth"

But that's not the most beautiful thing to do (a protected member in Python).

Is there a 'setter' for the output_path member?

[2015-07-29 11:05] kraigher commented on #63
The `argv` argument of the `from_argv` method overrides the `argv` provided from the command line and was added to simplify testing of VUnit itself. It will not be possible to set the `output_path` on an already initialized instance of VUnit since it performs operations on the `output_path` at initialization.

What you can do is use the `from_args` method together with the `VUnitCLI` class to chan

[2015-07-29 13:45] vermaete commented on #63
works perfect, thanks

[2015-07-29 13:45] #63 closed

[2015-07-30 16:14] vermaete opened #65 "set_generic + set_sim_options is not working"
If I take the examples/vhdl/user_guide and do this sequence:

1. just run it, as it is: OK (*)
2. add the line `ui.set_sim_option("vsim_extra_args", "-quiet")`: OK
3. add the line `ui.set_generic("g_test", 1)` (before the one in 2.): FAILS

$ python run.py --clean
Traceback (most recent call last):
  File "run.py", line 17, in <module>
    ui.set_sim_option("vsim_extra_args", "-quiet")
  File "c:\

[2015-07-30 16:53] kraigher commented on #65
Fixed it now. Thank you for reporting.

[2015-07-30 16:53] #65 closed

[2015-08-24 05:26] kraigher commented on #17
@LarsAsplund Any update on the licensing front?

[2015-08-25 18:32] LarsAsplund commented on #54
Added an [example](/LarsAsplund/vunit/tree/bitvis-utility-library-integration/examples/vhdl/bvul_integration) and posted back to [comp.lang.vhdl](https://groups.google.com/forum/#!topic/comp.lang.vhdl/t7BmFSUiNpg). I will leave it for public review for a while and then merge to master.

[2015-08-26 11:14] LarsAsplund opened #66 "Add Aldec support"

[2015-08-26 23:41] joshrsmith commented on #17
As a user of Aldec tools, I am also interested in support for Riviera and Active HDL.

After poking around in the code I am going to wager a guess that Riviera support will be extremely similar to Modelsim, since the Riviera interface is almost identical: `vsim, vlib, vcom`, etc all operate in a similar manner.

One difference is Riviera doesn't use *modelsim.ini*, but uses *library.cfg* instead.

[2015-08-27 01:22] joshrsmith opened #67 "Dependency generation and output"
VUnit already has baked in support for managing VHDL projects (collections of files), as well as parsing VHDL enough to generate dependency graphs. It would be useful to be able to obtain a compile-order dependency tree from VUnit, without taking further action (compilation, simulation, etc). It would be reasonable to assume that you don't need a simulator at all to do this. All the functionality

[2015-08-27 04:32] LarsAsplund commented on #66
Not sure how this happened... Duplicate of #17

[2015-08-27 04:32] #66 closed

[2015-08-27 04:44] LarsAsplund commented on #67
I've thought about this as well. Seeing a dependency graph can be a way to understand the structure of the code.  That can help you understand what needs to be improved, dependencies that can/should be removed and so on. What is your story? I'm interested too see if that story is something that VUnit should support rather than just the intermediate step.

[2015-08-27 05:27] kraigher commented on #67
I can agree that having a flag to dump the project hierarchy and dependencies as a means of debugging via the main VUnit command line interface would be useful. For more advanced uses I such as further scripting based on the dependency graph I would prefer users to use VUnit as a library. Using it as a library is already possible, the relevant module is vunit.project which has a Project class. I k

[2015-08-27 05:45] kraigher commented on #17
@joshrsmith Yes it should be straightforward. The main blocker is that none of the main authors of VUnit has access to any Aldec simulator. We have had talks with Aldec about us obtaining tool provider licenses at just a fraction of the cost of a normal license. We cannot motivate ourselves to pay the full price out of our own pockets. They indicated that we could have such licenses but the proces

[2015-08-27 09:09] LarsAsplund commented on #67
Maybe we can make the dump using some highly readable but yet defined graph format. An example is the [trivial graph format](https://en.wikipedia.org/wiki/Trivial_Graph_Format) looking like this.

    1 vhdl/foo/src/bar.vhd
    2 vhdl/spam/src/eggs.vhd
    3 vhdl/baz/src/qux.vhd
    #
    1 2 vhdl/foo/src/bar.vhd depends on vhdl/spam/src/eggs.vhd
    3 2 vhdl/baz/src/qux.vhd depends on vhdl/spam/s

[2015-08-27 09:48] joshrsmith commented on #67
My specific thought and use case, though I am sure there are others, is to be able to generate an ordered list of files for compilation. In the general case, you could have one VUnit project, which defines all the libraries and files in those libraries. Then you can either:
1) Generate a file which is an order list of what files you need to compile in what order, for all files in the project
2) Ge

[2015-08-27 11:54] LarsAsplund commented on #67
Sorry, my intention was to have a compile order list in the example.

I can see that the complete project compile order/dependency list is something that you can get from the command line. Getting information for one of the files in the project seems a bit more misplaced though. Is this what you really want or is it more that you want to know what needs to be recompiled given the file changes sinc

[2015-08-27 12:21] kraigher commented on #67
My opinion is that the main command line interface should be kept in line with its role.
There could be a purpose within that role to having a flag that visualizes project hierarchy and/or dependencies. If that output can be made easily machine readable it could be valuable.

A pure data dump that is not easily human readable would go against the interactive nature of the command line interface. I

[2015-08-27 12:25] kraigher commented on #67
It is already possible to "privately" access the underlying project.py:Project object via `ui._project`.
The `Project` object for instance has a "get_files_in_compile_order" method.

[2015-08-27 12:27] joshrsmith commented on #67
I agree that getting the dependency tree for a single file in the project
may be a bit misplaced, which is why I wasn't sure if this was a part of
the core functionality, or an ancillary tool.

What I really want is a way to figure out the minimal dependencies to
compile, in order, given a "top level source file" and a project (which is
really just a set of files and the libraries they belong to).

[2015-08-27 12:35] kraigher commented on #67
@joshrsmith We could unlike today avoid complaining that there is no simulator unless there is an action performed that would require it such as running tests and compiling. That way you could use your run.py file to build the project and then use the Python API to extract the information you want without having a simulator installed. While I can agree that this process would require some private

[2015-08-27 13:06] LarsAsplund commented on #67
@kraigher Do you have have an idea for what a more visual dependency output should look like?

[2015-08-27 13:31] kraigher commented on #67
@LarsAsplund What I have in mind as a useful output to debug project hierarchy and dependencies would be a listing of all files. For each file it could list; library name, design units within, if it contains a test bench as well as forward/backward dependencies with an annotated reason why they exist. Trying to visualize a "graph" with ascii arrows and similar stuff is not really useful in my opin

[2015-08-27 18:33] kraigher commented on #67
@joshrsmith I made a modification so that the no-simulator error is postponed until a simulator is actually required: 4bbd629b1ac86038c47715e0688a27c17631cc63

[2015-08-28 07:55] LarsAsplund commented on #67
We're really talking three different use cases here:

1. Compile order and dependency listings as a way to integrate VUnit dependency scanning with unsupported tool chains.
2. Dependency graphs as a way to guide refactoring of working code
3. Dependency graphs and other structural information as a way to support debug of failing test runs

I agree with you @kraigher that only the third use case is

[2015-08-28 15:05] jarickc opened #69 "Separate Entity and Architecture Files Fail Compilation"
While attempting to execute run.py the architecture cannot be compiled because it is looking for the entity in work instead of the test_lib. I think this is a compile order problem based on not properly recognizing dependencies of an architecture on an entity.

[2015-08-28 15:16] kraigher commented on #69
@jarickc Could you provide a minimal verifiable example? We have a test case for this scenario which passes:

from vunit/test/unit/test_project.py
[code]

[2015-08-28 15:28] kraigher commented on #67
@joshrsmith Does the functionality that was just merged to master fulfill your needs so that we can close this issue?

[2015-08-28 16:32] jarickc commented on #69
Sure let me make something stripped down and bland.

[2015-08-28 16:43] jarickc commented on #69
LIBRARY ieee;
USE ieee.std_logic_1164.ALL;
USE ieee.numeric_std.ALL;
USE ieee.numeric_std_unsigned.ALL;

LIBRARY osvvm;
--USE osvvm.tbutilpkg.ALL;
USE osvvm.transcriptpkg.ALL;
USE osvvm.alertlogpkg.ALL;
USE osvvm.randompkg.ALL;
USE osvvm.coveragepkg.ALL;

ENTITY TestCtrl IS
  PORT (
   CLK                 : IN    STD_LOGIC;
   RESET               : IN    STD_LOGIC;
);
END TestCtrl;

[2015-08-28 16:44] jarickc commented on #69
ARCHITECTURE verifiable OF TestCtrl IS
BEGIN
END verifiable;

[2015-08-28 16:44] jarickc commented on #69
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this file,
# You can obtain one at http://mozilla.org/MPL/2.0/.
#
# Copyright (c) 2014-2015, Lars Asplund lars.anders.asplund@gmail.com

from os.path import join, dirname
from vunit import VUnit

ui = VUnit.from_argv()
ui.add_osvvm()

source_path = join(dirname(__f

[2015-08-28 16:46] jarickc commented on #69
Sorry about the markdown. That is my entity architecture, and run.py. The former 2 are in the test directory

[2015-08-28 17:07] kraigher commented on #69
@jarickc I edited your comments to add proper code formatting using backticks. You can press edit to see what I did. The code must be enclosed in three backticks before and after. The language can be specified immediately after the first three backticks starting the code block. It is described [here](https://help.github.com/articles/github-flavored-markdown/#syntax-highlighting)

[2015-08-28 17:13] kraigher commented on #69
@jarickc There is a syntax error in the entity file which causes the file not to be correctly parsed by VUnit.
It should notify you of this error. At least it does for me:
[code]

Maybe this error was just caused by your simplifcation though?

[2015-08-28 17:14] kraigher commented on #69
Fixing the syntax error causes the dependencies to be correct when I try it.

[2015-08-28 17:40] jarickc commented on #69
I ripped about 500 lines of code out to get the stripped down code. Sorry I missed the syntax error. I received the same error with this code as with my original.

My original does compile in Modelsim so I know it isn't a syntax error there. I will make the correction and see if it works then. I will have to check it on Monday as it is on a work computer.

[2015-08-28 17:47] joshrsmith commented on #67
Yes, this gives me the basic access I need to resolve this issue.

On Fri, Aug 28, 2015 at 11:28 AM, kraigher <notifications@github.com> wrote:

[2015-08-28 17:48] #67 closed

[2015-08-28 17:54] kraigher commented on #69
@jarickc There must be some hidden corner case we are missing since I cannot reproduce it and we have tests which verifies this exact functionality. You could try to run `run.py` with `--log-level=debug` which will print out useful information when parsing the files such as:

[code]

If you scan your own debug output you can see if the `testctrl` and `verifiable` design units are even found. On po

[2015-08-29 16:10] LarsAsplund commented on #18
@philippefaes I've created a [branch](https://github.com/LarsAsplund/vunit/tree/restructure-vhdl-directories/vhdl) with the new structure. Still looking good?

[2015-08-31 06:58] kraigher commented on #18
I would prefer:
`vhdl/<module>/<src or test>/<93, 200x, 2008, or common>/`

instead of:
`vhdl/<src or test>/<93, 200x, 2008, or common>/<module>`

In that way independent modules are kept together under the same folder root and are not interleaved with other unrelated modules in some kind of global structure. Making this transformation would still solve the problem that the non-transformed structu

[2015-08-31 14:13] philippefaes commented on #18
@kraigher either way works for me, as long as the dir structure dictates in which library to compile things. I see your point about interleaving modules, though.

@LarsAsplund I seems that the directory names do not map 1-on-1 to library names. It would be highly appreciated if that were the case.

For example, I see library clauses that use `lib`, `shuffler_lib`, `tb_uart_com`, `SynthWorks` and i

[2015-08-31 21:46] LarsAsplund commented on #18
@kraigher @philippefaes

For libraries Iike VUnit I prefer using `work` for references to itself such that the user can decide a suitable name for the library, see http://stackoverflow.com/questions/31972810/how-to-make-the-library-work-work/31998749#31998749. For that reason I rather not have a directory structure indicating otherwise. We use `vunit_lib` as the default name (`vunit` became reserv

[2015-09-01 13:39] jarickc commented on #69
I made the correction and compiled in Quartus. Same failure occurs when running run.py.

C:\vunittest>python run.py --log-level debug
   INFO - Adding library vunit_lib with path C:\vunittest\vunit_out\modelsim\libraries\vunit_lib
   INFO - Adding source file C:\Python34\lib\site-packages\vhdl\vhdl\src\lang\lang.vhd to library vunit_lib
  DEBUG - Re-using cached VHDL parse results for C:\Python34\

[2015-09-01 13:48] kraigher commented on #69
@jarickc Judging from the debug output you have not added any file which contains a "testctrl" entity.
What is the name of the file that is supposed to contain it?

[2015-09-01 13:56] kraigher commented on #69
There is even a warning from VUnit itself that the entity referenced is not found.
[code]

[2015-09-01 14:34] jarickc commented on #69
This was run on the code from earlier in this post. There are two files both in the test folder. One is the entity the other is the architecture. The source code for both and the run.py is above.

[2015-09-01 14:42] kraigher commented on #69
@jarickc But what is the name of the file supposed to contain the entity? That I cannot figure out from your information. From looking at the debug log I can find that the `verifiable` architecture is found in `test_controller_axi_read_write.vhd`. But since there is no mention of any `testctrl` entity, expect the WARNING that it is not found, in the VUnit debug log my top guess is that the file co

[2015-09-01 14:44] kraigher commented on #69
@jarickc Actually looking at the debug log the only files I can see that you added is `test_controller_axi_read_write.vhd` into `tb_lib` and nothing into `src_lib`

[2015-09-01 15:11] jarickc commented on #69
I found my mistake.

The entity files extension was ".vhdl" Which explains why Quartus handled it.

[2015-09-01 15:11] #69 closed

[2015-09-01 15:14] kraigher commented on #69
Great! Problem solved.

[2015-09-04 14:51] nussbrot opened #71 "vunit overwrites default generics"
Hi,

i recently found a bug in vunit. It occurs when the testbench has a generic that you set via python script. The testbench instanciates an entity that has a generic of the same name, but uses the default value for that entity.
This default value then gets overwritten. I don't know if that description is very useful to the reader so i provide you with a test case. For me the expected behavior f

[2015-09-04 15:38] LarsAsplund commented on #71
@nussbrot  Yes, I see the same problem when running under ModelSim ALTERA STARTER EDITION 10.1d. What are you using? But I also get the problem when running from ModelSim itself without using VUnit so it seems like a bug.

[2015-09-04 15:50] nussbrot commented on #71
@LarsAsplund Oh so maybe it is a ModelSim bug? I have no access at the weekend so i will get back to you on monday, but it should be ModelSim 10.4. I will definitely run that test again without vunit.

[2015-09-04 15:55] LarsAsplund commented on #71
@nussbrot I had a look at the reference manual for the -g option we use when calling vsim. It says

_-g <Name>=<Value> …
(optional) Assigns a value to all specified VHDL generics and Verilog parameters that have
not received explicit values in generic maps, instantiations, or via defparams (such as toplevel
generics/parameters and generics/parameters that would otherwise receive their
default valu

[2015-09-04 16:17] LarsAsplund commented on #71
@nussbrot It seems to go even further. I made a test where I add another generic `g_val2` to the top-level testbench but not to `bool_driver`. I then created a new entity with the `g_val2` generic and set its default to `true`. This new entity was then instantiated in `bool_driver` without changing its default value for  `g_val2`. The generic set at the top-level with the `-g` option still found i

[2015-09-04 16:55] joshrsmith commented on #71
Is there a -G option instead?? I seem to remember a couple different options with the riviera simulator. It might have slightly different behavior.

Josh

[2015-09-04 17:05] LarsAsplund commented on #71
Yes, there is a -G but

_-G<Name>=<Value> …
(optional) Same as -g (see above) except that it will also override generics/parameters that
received explicit values in generic maps, instantiations, or from defparams._

It seems to be applied globally as well. @joshrsmith Do you know how Riviera behaves?

[2015-09-05 11:08] kraigher commented on #71
How very unexpected and undesirable behavior. Thankfully the reference manual mentions that a hierarchical reference could be used to pinpoint a specific generic such as -g/top/foo=bar instead of -gfoo=bar. Thus it could be resolved and I have pushed a fix.

[2015-09-05 11:08] #71 closed

[2015-09-05 11:15] kraigher commented on #71
The fix is part of v0.29.0 release. The problem affected only Modelsim and not GHDL.
GHDL has got the `-g` flag because we suggested it to them when adding support for GHDL to VUnit so it did not have the unexpected behavior.

[2015-09-05 16:46] LarsAsplund commented on #54
The example has been merged to master.

[2015-09-05 16:46] #54 closed

[2015-09-07 09:30] nussbrot commented on #71
Indeed strange behavior of ModelSim. I never expected that. Thank you for the quick fix!

[2015-09-08 20:36] LarsAsplund commented on #53
No online comments so far and the only offline use case I've heard is the ability to automatically check which requirements that have been tested and whether or not they passed or failed. This can be done if the check message is tagged with the requirement ID and then you do parsing of the test report. However, with test cases verifying a well-defined behavior there's a better mapping between the

[2015-09-09 09:51] LarsAsplund commented on #17
We now have our licenses!

[2015-09-09 12:27] joshrsmith commented on #17
Excellent!

[2015-09-09 16:38] kraigher commented on #17
I have started working on creating an Aldec interface. I have run into some problems though.
Apparently there should be a `breakassertlevel` variable which controls the VHDL severity level at which the tool breaks simulation:
https://www.aldec.com/en/support/resources/documentation/faq/1070
It does not seem to work though. There is no `breakassertlevel` variable defined and setting it to 2 will no

[2015-09-09 20:21] LarsAsplund commented on #17
I've opened a case in the customer portal and get back when I get an answer.

[2015-09-10 05:16] kraigher commented on #17
Active-HDL does not have this "problem" so I guess I will try to get that to work first. There seems to be quite a few differences between Riviera-Pro and Active-HDL with regards to the batch functionality. I have pushed the work in progress to the aldec branch.

[2015-09-10 11:07] LarsAsplund commented on #17
From Aldec support team:

For Riviera-PRO please use vhdlassert command instead i.e.:

vhdlassert.break error

[2015-09-10 18:45] kraigher commented on #17
@LarsAsplund Next bug I found in Active-HDL with the write procedure:
[code]
`file.txt` will contain 4 additional garbage bytes before `hello`. The contents of those 4 prefix bytes seems to depend on the choice of string. With modelsim or GHDL the file contains only 5 bytes for `hello` rather than 9 bytes with Active-HDL.

Could you report this to Aldec?

[2015-09-10 18:47] LarsAsplund commented on #17
@kraigher Will do

[2015-09-10 19:09] kraigher commented on #17
I got the artificial acceptance tests to work with Active-HDL now. Had to change -p4 to -p1 since I only have one license and it errors out if you try to use more licenses than you have rather than wait for a license.

[2015-09-11 10:56] LarsAsplund commented on #17
@kraigher Here is the answer from Aldec

Hi Lars,

In the sent example, the predefined function write() is used.
This function is not defined in std.TEXTIO package.
(see LRM 1076-2008 clause 16.4 - Package TEXTIO, page 269):
[code]

According to clause 5.5.2 File operations, page 55: human-readability is not guaranteed by predefined write functions.
If somebody want to write a human-readable file

[2015-09-11 15:50] kraigher commented on #17
Their suggestion is not equivalent since it also writes a newline.

[2015-09-11 15:52] kraigher commented on #17
I wonder in how many files we assume write works this way.

[2015-09-11 16:35] kraigher commented on #17
It seems Active-HDL requires that the dependants of a package are re-compiled when a package body has been recompiled.

[2015-09-11 16:48] kraigher commented on #17
@LarsAsplund My current focus is to get Active-HDL running then I will switch to Riviera-Pro.
When running the run.py files for our builtin code in vhdl/*/test/run.py there are some errors which is likely due to bugs in Active-HDL. Could you have a look at this and see if it can be worked around and maybe be reported to Aldec? Then I can continue with either `--gui` for Active-HDL or Riviera-Pro.

[2015-09-11 16:49] LarsAsplund commented on #17
Yes, I can have a look at that.
On 11 Sep 2015 18:48, "kraigher" <notifications@github.com> wrote:

[2015-09-11 16:51] kraigher commented on #17
Focus on the 2008 stuff since there is no stop mechanism implemented for aldec that works without 2008 std.env.stop.

[2015-09-11 16:53] kraigher commented on #17
My impression so far is that the fork that has been made with claimed aldec support could only have worked in a very superficial manner. But we are close now.

[2015-09-11 17:05] joshrsmith commented on #17
Is the intention to add Active HDL and Riviera support separately? That these would be two independently supported tool chains? I ask because I am seeing references to `aldec` in the source, which isn't very clear which simulator is being referenced -- `activehdl` or `riviera`. It would be similar to reference `modelsim` as `mentor` -- also potentially confusing.

[2015-09-11 17:13] kraigher commented on #17
@joshrsmith Initially I made the assumption that both Active-HDL and Riviera-Pro could be supported by the same type of interface and that the toolchain could be selected based on what was on your PATH environment variable. After trying out the tools I realize that they have subtle differences that prohibit this and I will probably need two partially overlapping implementations. Thus it will end u

[2015-09-11 17:18] joshrsmith commented on #17
This sounds like a good approach. Similar as possible with provisions in place for handling differences where necessary. From my experience they may have some similar features, but they each have their own quirks. Far as I can tell they care for Riviera first since it is the premium product.

[2015-09-11 18:57] kraigher commented on #17
I ran into some problems implementing a `--gui` flag for active HDL. It seems like the Active-HDL GUI is very different from running through VSimSA. I just want to open the GUI and simulate a top level I compiled on the command line just as I can in ModelSim. Apparently it seems this is not possible. In the GUI everything has to be a "design" or a "workspace". This is inconvenient to say the least

[2015-09-11 19:04] joshrsmith commented on #17
I am not surprised about that with Ahdl. Riviera offers both and line/batch and workspace based flows. I have never tied a pure batched based flow with active Hdl but it is certainly possible with riviera.

[2015-09-11 19:08] kraigher commented on #17
The batch based works now with Active-HDL. The problem is there is no gui capability with the batch based flow and we would like to have a `--gui` command to open the test preloaded in the gui. Unlike modelsim (and hopefully riviera) you cannot just simulate your batch-flow-compiled design in an open Active-HDL GUI.

[2015-09-11 19:09] kraigher commented on #17
I am wondering if one could generate a design/workspace also for the batch based flow such that they can be used to also simulate in the GUI.

[2015-09-12 08:22] kraigher commented on #17
It seems that it is possible to open a batch compiled design in Riviera-Pro GUI and simulate it unlike Active-HDL. The problem is that it will not allow any single stepping through the code. Running `step` just runs the entire simulation until the end. Even though you can navigate the batch compiled libraries in the and find your source files you cannot set breakpoints on them. Maybe I have to aba

[2015-09-12 08:26] kraigher commented on #17
Adding the `-dbg` switch when compiling enabled me to single step the files with the batch flow in the gui.

[2015-09-12 08:36] kraigher commented on #17
@LarsAsplund Riviera-Pro triggers the same simulation bugs as Active-HDL. It is probably easier for you to debug using Riviera-Pro with `--gui` flag.

[2015-09-12 08:53] LarsAsplund commented on #17
Ok. I'll test that this evening. I had a quick look yesterday and found
some issues.  Some are easy to work around but some I rather wouldn't. I
will try to create some simple examples of these issues and discuss them
with Aldec.
On 12 Sep 2015 10:36, "kraigher" <notifications@github.com> wrote:

[2015-09-12 09:08] LarsAsplund commented on #17
I also used the debug flag to manually recompile the top-level testbench when I tested yesterday and that seemed to remove some problems so there may be some optimisation issues.

[2015-09-12 09:46] LarsAsplund commented on #17
I also used the debug flag to manually recompile the top-level testbench when I tested yesterday and that seemed to remove some problems so there may be some optimisation issues.

[2015-09-12 17:03] kraigher commented on #17
The Riviera-Pro interface is turning out well now once I understand the tool. Opening the Hieararchy and Objects panels really helps making it feel familiar to what I am used to.

One remaining task is to investigate if riviera pro also needs extra package body dependencies.
I will create some general acceptance test where a package body is modified and the design is recompiled to flush out simula

[2015-09-13 10:26] kraigher commented on #49
I have pushed hidden system verilog support to master now. It is almost ready and It was just to much code to have one a branch.

[2015-09-13 20:31] LarsAsplund commented on #17
@kraigher I had a look at the VHDL tests and found a number of issues. Some easy to work around, some not so much. I also found that the path and directory tests failed because of spaces in the test case names. Maybe you can have a look at that. I will list the things I found to see if someone has a comment. I was able to create most of them in simpler examples so I will send that to Aldec.

[2015-09-13 21:00] LarsAsplund commented on #17
This is an example of a problem frequently occurring when doing a check where the boolean expression is an equality with a function call on one side. If the same function call is used to create the error message string then the equality fails although it shouldn't. The problem disappears when debug compiling so that's the workaround to use for now.

[code]

This will be reported to Aldec

[2015-09-13 21:11] LarsAsplund commented on #17
Here is example where Active-HDL fails to compile with an error. It fails to associate `foo` in the assignment to `v2` with the function of that name. The other assignments are fine.

[code]

This will be reported to Aldec

[2015-09-13 21:25] LarsAsplund commented on #17
Another problem which I haven't been able to recreate in a simple example such as this.

[code]

The problem I've seen is that `v1` is all `false` values after the assignment. The workaround is to use a temporary variable in between such that `v1`isn't assigned to itself. This has not been reported to Aldec, Anyone seen this?

[2015-09-13 21:37] LarsAsplund commented on #17
This is a division problem that affects our ability to print long (>32 bits) unsigned values as integers. In this case the last assert fails.

[code]

This has been reported to Aldec. I have no workaround for this problem.

[2015-09-13 21:45] LarsAsplund commented on #17
This is a problem for our com package which means that an encoded character `a` becomes `A` when decoded. This doesn't happen all the time, only in the second assert in this example.

[code]

This has been reported to Aldec and I have no workaoround.

[2015-09-13 21:54] LarsAsplund commented on #17
Another problem with I haven't been able to recreate with a simple example. When I run this code everything is ok but in the com package code the `v1` range created from the range attribute would typically become a null range while the `v2` range is ok. Any idea?

[code]

This has not been reported to Aldec. There are workarounds but they mean that I have to change in many places.

[2015-09-14 21:00] LarsAsplund commented on #17
@kraigher 9ef20e36a6a5259fe3f0d33e7671a3b5a067c960 seems to break vhdl/logging/run.py. Could you have a look?

[2015-09-15 05:11] kraigher commented on #17
@LarsAsplund I can run it without problems on `master` using modelsim/ghdl? What is broken for you?

[2015-09-15 05:16] LarsAsplund commented on #17
@kraigher This is what I'm seeing. I was rather quick making that assumption. I just looked at the last method being and didn't make any investigation of my own.

[code]

[2015-09-15 05:22] kraigher commented on #17
@LarsAsplund Are you missing some file? Do you have a clean repository? I would have seen the same problem here as well but I do not.

[2015-09-15 05:25] kraigher commented on #17
@LarsAsplund I think the problem is that `lang_mock_types_pkg` does not have a package body. But you only notice this when running with Riviera Pro since with modelsim package user to package body depdendencies are disabled.

[2015-09-15 05:38] kraigher commented on #17
@LarsAsplund I have fixed the problem now. By the way I saw that you pushed stuff to the `aldec` branch. Since I often force push history changing stuff to that branch you might not always be able to do `pull` but rather have to do interactive rebase.

[2015-09-15 06:43] LarsAsplund commented on #17
@kraigher I'll try your fix later today.

On 15 September 2015 at 07:38, kraigher <notifications@github.com> wrote:

[2015-09-15 14:53] LarsAsplund commented on #17
@kraigher The fix works.

[2015-09-15 14:57] LarsAsplund commented on #17
@kraigher The problem with running test cases with names containing spaces is solved if the file name in `do -tcl <file name>` is enclosed in double double quotes (""). I just tried it so that solution is not based on any documentation I found.

[2015-09-15 16:22] kraigher commented on #17
@LarsAsplund What problems are you seeing with space in test name? I have run the `path` and `dictionary` tests with Riviera Pro and they all pass.

[2015-09-15 16:37] LarsAsplund commented on #17
@kraigher The fix I did was under Acitve-HDL but I see the same problem when switching to Riviera-PRO

[code]

[2015-09-15 16:48] kraigher commented on #17
@LarsAsplund I have put Active-HDL on ice and have focused on Riviera-Pro. The Active-HDL interface is not anything I would recommend you using at the moment. My suggestion is that we focus on Riviera-Pro only for the time being. Are you sure you are using Riviera-Pro the printout you added looks like it was from Active-HDL. You need to ensure that Riviera-Pro is first on your PATH otherwise you r

[2015-09-15 16:50] kraigher commented on #17
When I trick the riverapro_interface.py to use Active-HDL binaries like this I can reproduce your errors.
[code]

[2015-09-15 18:20] joshrsmith opened #73 "Unhandled exception, KeyError, when referencing non-existant architecture in a configuration"
Not sure what the intended functionality is for Vunit, but consider the following case.

[code]

[code]

In the foo_tb.vhd file, foo(foo2_arch) is called out instead of foo_arch. But foo(foo2_arch) has not been analyzed anywhere. The result is a dictionary KeyError.

The stack trace is similar to follows:
[code]

The work-around is to not attempt to reference/use an architecture that has not been

[2015-09-15 18:24] kraigher commented on #73
Yes it would be better if it was a warning and not an unhandled exception. I will fix it.

[2015-09-15 18:42] LarsAsplund commented on #17
@kraigher Yes, you're right. My path wasn't updated. I've been trying AHDL and RPRO, debug and no debug back and forth but I can stick with RPRO. Switching between debug and no debug is more interesting to get the VHDL code working. I still have issues with the run test cases that works with debug but not with no debug so I will work on that.

[2015-09-15 18:46] kraigher commented on #73
Fixed and released in v0.32.0.

[2015-09-15 18:46] #73 closed

[2015-09-15 18:48] kraigher commented on #17
Yes lets stick with Riviera-Pro until it is done.

[2015-09-15 19:42] joshrsmith opened #74 "False warning generated for use clause: use libraryname.all"
Consider the following file, compiled into the testcase library. Assume that `foo` has also been compiled into the testcase library.

[code]

The following warning is falsely issued:
[code]

`all` is not a design unit, but rather it is bringing all design units in testcase library into scope. In this case you can directly reference `entity foo` instead of `entity testcase.foo` or `entity work.foo`

[2015-09-16 05:15] kraigher commented on #74
Yes this case is missing from our dependency scanner. The case is a bit trickier since it requires deeper analysis to figure out the implicit dependencies that `foo` was an entity in the `testcase` library. I also suspect there are more complex cases when packages are used implying we need to parse every identifier in the file to see if it was a `packagename.name` where `packagename` was exposed b

[2015-09-16 16:35] LarsAsplund commented on #17
Managed to create a simple example of one of the bugs I mentioned in a previous post.

[code]

This will fail with

[code]

where line 14 is the string variable declaration.

I use this type of code in the com package where the `get_range` function takes an encoded array of some type as input (everything is encoded to strings so the input is a string) and returns an array of a fix type (bit_vector

[2015-09-16 17:20] kraigher commented on #17
@LarsAsplund Have you tried making `ret_val` a constant instead to see if avoids the bug? They way you use it it might as well be a constant.

[2015-09-16 18:18] kraigher commented on #18
I have added a small [recipe](https://github.com/LarsAsplund/vunit/blob/master/user_guide.md#creating-sigasi-projects) of how to create a Sigasi project from a VUnit project. For me this is the ideal integration and what I use at work. The script uses [SigasiProjectCreator](https://github.com/sigasi/SigasiProjectCreator) which is a Python library provided by Sigasi to generate a project.

[2015-09-16 19:24] LarsAsplund commented on #17
@kraigher `ret_val` in `get_range` can be a constant but that doesn't make a difference. `ret_val` in `foo`must be a variable in the real code since that function also modifies `ret_val`. However, your idea led me to something that does work. If I initialize the variable in `foo` it does work!

[code]

I'll continue and see how far this gets me. Thanks!

[2015-09-16 21:54] LarsAsplund commented on #17
Managed to get the com tests to work now except for encoding of a character when using the debug codecs. Since it's only affecting the debug codecs I think we can live with that for now. I also had a problem with another test but it seems that what I was doing isn't legal according to LRM although ModelSim and GHDL can handle it.

[2015-09-18 05:04] LarsAsplund commented on #17
I've worked around the character encoding issue which means that the com testbench pass. I've also implemented a division by 10 algorithm to make the string_ops testbench work. I see that there are issues in the example files as well so that's the next thing to look at.

[2015-09-18 11:39] amollberg opened #75 "Duplicated entities should cause warning/error message"
If two different .vhd files contain the same entity name, then this of course causes conflicts in compiled behavior. VUnit should therefore warn that such a situation has occurred, instead of proceeding silently and causing confusion.

[2015-09-18 16:20] kraigher commented on #75
Fixed and released in v.0.33.0

[2015-09-18 16:20] #75 closed

[2015-09-18 21:25] LarsAsplund commented on #17
The acceptance tests are now green. A few limitations with the workarounds have been noted in the com user guide.

[2015-09-19 08:53] kraigher commented on #17
@LarsAsplund I still get the following errors when running the acceptance tests:

[code]

[2015-09-19 09:50] kraigher commented on #17
I have added a more advanced toolchain detection mechanism such that ModelSim/Riviera-PRO/Active-HDL cannot be mistaken for one another.

[2015-09-19 13:07] LarsAsplund commented on #17
@kraigher Strange, I don't see your errors. Are you running on the aldec branch or the new activehdl? Linux?

[2015-09-19 13:18] kraigher commented on #17
Windows on aldec branch with riviera pro.
Den 19 sep 2015 15:07 skrev "Lars Asplund" <notifications@github.com>:

[2015-09-19 14:44] LarsAsplund commented on #17
@kraigher Ok, so that's same as me. I made a fresh clone and there is still no difference. Could you zoom in on what the failing test case/check is?

[2015-09-19 16:09] kraigher commented on #17
@LarsAsplund The following tests fail.

Non-debug-codecs:
[code]
debug_codecs:
[code]

[2015-09-19 16:12] kraigher commented on #17
[code]

[code]

[2015-09-19 16:14] kraigher commented on #17
I have `Riviera-PRO-2015.06-x64`

[2015-09-19 16:23] kraigher commented on #17
I do not think we should hold back official support to long because of those errors. The `com` package is not part of the core functionality and will not be used by the vast majority of users. We can just disable the tests for Riviera-PRO and document that there are problems using it with Riviera-PRO.

[2015-09-19 16:24] LarsAsplund commented on #17
Let me look at this tonight. The magic word is 64 bit.
On 19 Sep 2015 18:23, "kraigher" <notifications@github.com> wrote:

[2015-09-19 20:16] LarsAsplund commented on #17
@kraigher I pushed a fix that makes the 64-bit version of Riviera-PRO work.

[2015-09-20 06:41] kraigher commented on #17
I merged to `master` and added official support for Riviera-PRO. Now we can start to look at Active-HDL.

[2015-09-20 08:27] LarsAsplund commented on #17
Great! I made a quick check of the VHDL acceptance tests for Active-HDL and after I made the double double quote fix I told you abouty and activated one of the Riviera-PRO workarounds for Active-HDL I still have failures for the `com` package tests (this package seems to be a challenge) and the OSVVM integration tests. I'll look at this tonight. I've pushed the double double quote fix but its not

[2015-09-20 19:44] LarsAsplund commented on #17
@kraigher All VHDL acceptance tests are now working with Active-HDL. I've removed one test which causes the simulator to crash. I will investigate it further but not let it delay a release. It's about encoding/decoding custom arrays indexed with an enumerated type rather than an integer range. Not very common so I think it can be excluded for now.

[2015-09-21 16:24] #45 closed

[2015-09-21 18:13] kraigher commented on #17
@LarsAsplund I get this failure with Active-HDL.
[code]

[2015-09-21 19:22] kraigher commented on #17
I think I cracked the concept for the `--gui` flag in Active-HDL now.

[2015-09-22 06:41] LarsAsplund commented on #17
@kraigher Yes, there seems to be differences between the 32 and 64 bit versions of Active-HDL as well. I have a workaround locally but there are a few things I want to investigate further before I push that. I'll do that tonight.

[2015-09-22 12:41] vermaete opened #76 "ImportError: No module named 'vunit.parsing'"
after a 'git pull' (commit c7bcae20df4b88bce9bb722e722a1baebfa13c03) I got the following error when running the 'run.py' script.

    python run.py --compile
    Traceback (most recent call last):
      File "run.py", line 3, in <module>
        from vunit import VUnit
      File "C:\Python34\lib\site-packages\vunit\__init__.py", line 11, in <module>
        from vunit.ui import VUnit
      File "

[2015-09-22 13:08] kraigher commented on #76
Very likely just an omission in setup.py.

[2015-09-22 13:15] vermaete commented on #76
directory 'vunit/parser' is missing in setup.py ?

[2015-09-22 13:33] vermaete commented on #76
Removing the vunit from the Python installation path (c:\Python34\Lib\site-packages) and setting the PYTHONPATH to the git clone directory did the trick.  So: yes, it is the setup.py script.

[2015-09-22 15:26] #76 closed

[2015-09-22 15:30] kraigher commented on #76
Yes I was immediately convinced it was the setup.py file. Neither me nor Lars really use the setup.py file and we perform quite exhaustive testing so such an error could not come from anywhere else. We should do some testing also with the setup.py file when adding new modules in the future.

[2015-09-22 16:39] LarsAsplund commented on #17
@kraigher I pushed a new version for which I tested the VHDL test cases with Modelsim and both 32 and 64 bit versions of Aldec's simulators. Could you do a test with GHDL? Hopefully they can all agree on this subset of VHDL.

[2015-09-22 17:10] kraigher commented on #17
It works with GHDL. Just got to clean up the `--gui` mode a bit then it is done.

[2015-09-22 18:37] kraigher commented on #17
We now also have Active-HDL support. Guess we can close this issue.

[2015-09-22 18:37] #17 closed

[2015-09-22 18:38] kraigher commented on #10
@mschiller302 We now have support for both Active-HDL and Riviera-PRO.

[2015-09-28 17:52] kraigher commented on #74
Supporting this in a non ugly way would require some refactoring to our current parser. It has some limitations which we run into for this case. I would like to support this eventually but I estimate it will take some time. I would therefore recommend not using `use libraryname.all` for now. I hope it is not that big of a deal since it is trivial to re-write the VHDL code to not run into this limi

[2015-09-28 18:05] joshrsmith commented on #74
Understood -- I typically don't use it, and the work-around is
straightforward.
There are a few spots in the code base that I work on that do it, which is
why I discovered this bug/limitation in the first place.

[2015-10-02 16:50] joshrsmith opened #77 "Generics capitalization issue"
I am using Riviera/Active HDL. Not sure if this affects other simulators.

When generating testcases for a testbench by assigning generic values, if the generic has capitals in it, the generic will not be assigned to the simulation successfully.

For example, if the "generate_tests" example is modified such that:
[code]
and the run.py is updated accordingly, the simulator will complain that "No va

[2015-10-02 17:12] kraigher commented on #77
@joshrsmith I can reproduce the problem and it is not simulator specific.

The VUnit parser converts everything to lower case since VHDL is not case sensitive. Thus a Data_width generic is called data_width by VUnit internally. The add_config and set_generic methods of the VUnit Python class however does not transform the generic name provided by the user into lower case when checking against the

[2015-10-02 17:36] joshrsmith commented on #77
The work-around you suggested worked for me.

A fix would be appreciated in order to avoid this issue in the future--I thought I was losing my mind with an example nearly identical to the one provided with vunit.

[2015-10-02 17:39] kraigher commented on #77
I will push a fix just about any minute now. I also added a warning message when the user specifies a generic that is not present in the entity so that would have triggered in this case and made the VUnit bug easier to locate.

[2015-10-02 17:49] #77 closed

[2015-10-02 17:53] kraigher commented on #77
Fixed and released in v0.38.0. Thank you for reporting it.

[2015-10-02 21:05] joshrsmith commented on #77
Confirm as fixed.

[2015-10-15 10:44] danielblomkvistbitvis opened #78 "Compiling source files from a single directory to two separate libraries"
Hi,

I'm attempting to compile source files from a single directory into two separate libraries. I've added the source files in my run.py, but during compilation only one of the two libraries are successfully compiled.

The directory structure is as follows:

ModuleA:
- ModuleAFile1.vhd
- ModuleAFile2.vhd
- CommonFile1.vhd
- CommonFile2.vhd

ModuleB:
- ModuleBFile1.vhd

ModuleC:
- ModuleCFile1.vhd

[2015-10-15 11:19] kraigher commented on #78
Yes this is a bug. I will hopefully fix it this evening. Thank you for reporting.

[2015-10-15 18:49] #78 closed

[2015-10-15 18:51] kraigher commented on #78
Fixed and released in v0.39.0.

[2015-10-16 08:40] danielblomkvistbitvis commented on #78
Thank you! :)

[2015-10-19 07:23] jonasalowersson opened #79 "VUnit support for code coverage"
A few additions are needed in order to make it possible to collect code coverage in Modelsim.
- Modelsim specific flag --coverage to enable the features below
- coverage arguments to vcom and vsim
- "coverage save" command in the scripts that are run in Modelsim
- merge of coverage databases from all test cases after finished simulation

[2015-10-19 08:14] vermaete commented on #79
When using a Modelsim that does not support coverage (e.g. OEM versions) should not set those coverage options.  They would fail the simulations.

Although it would be good to be able to run the simulation with the same python scripts (run.py) with two kind of Modelsims (a version with coverage and a version without coverage).  E.g. When running at the CI build server, the full blown Modelsim is s

[2015-10-19 09:43] danielblomkvistbitvis opened #80 "A workaround for a bug in the Modelsim vmap command on some Linux hosts"
Hi,

There is a bug in the Modelsim 'vmap' command that results in Modelsim incorrectly reporting that the 'modelsim.ini' file has been successfully modified, when in fact 'modelsim.ini' has not been modified. The result is compilation failure.

This bug only occurs on some Linux hosts. Specifically, I'm now experiencing it when running Modelsim Altera on CentOS 7 (also on CentOS 6.5).

It would b

[2015-10-19 13:23] danielblomkvistbitvis opened #81 "vUnit support for encrypted VHDL source files (.vhdp)"
Hi,

I'm attempting to compile a project that includes some encrypted source files with file ending .vhdp.

I'm getting the following error:

RuntimeError: Unknown file ending '.vhdp'

I would like to have the possibility of using encrypted source files with vUnit. I realize that whether or not the project will run successfully depends on what parts that are encrypted, but it would be nice with fi

[2015-10-19 14:22] LarsAsplund commented on #79
From time to time we get requests for features not supported by the free licenses we use to do the ModelSim integration. We recently got a partner type of license from Aldec and I think it's time to see if we can have something similar from Mentor Graphics. I found something called the OpenDoor program but I'm not sure if that is what we're looking for. Anyway, that program requires that we have c

[2015-10-19 14:24] LarsAsplund opened #82 "Join Mentor Graphics Partnership Program"
From time to time we get requests for features not supported by the free licenses we use to do the ModelSim integration. We recently got a partner type of license from Aldec and I think it's time to see if we can have something similar from Mentor Graphics. This issue is to keep you informed on the progress of that.

[2015-10-19 16:16] kraigher commented on #81
Dependency scanning will never work with encrypted files since VUnit cannot decrypt them.
We would need to add a mechanism to add files without dependency scanning where the dependency is specified manually by the user. This is something we could easily do in the near future.

It still possible to use VUnit in a project containing encrypted files and I have done so in at least two projects. Typica

[2015-10-19 16:26] kraigher commented on #80
Maybe it modifies some other modelsim.ini? We use `vmap` with the `-modelsimini` flag, maybe that does not work on your system? We have had some problems with modelsim.ini bugs and inconsistencies between versions.

I have made a possible fix in the [issue_80](https://github.com/LarsAsplund/vunit/tree/issue_80) branch were I change the current working directory before calling `vmap` rather than re

[2015-10-19 16:34] kraigher commented on #79
@jonasalowersson I know you have already done some work on this. Could you publish a Fork with those initial changes so that I can review them and figure out the best way to integrate them?

@vermaete Yes the coverage specific flags/tcl should only be present when the `--coverage` flag is set. We should not assume all users have coverage licenses. It is possible to run the same run.py file with tw

[2015-10-20 07:23] danielblomkvistbitvis commented on #80
I don't know exactly what the problem is, but it occurs in our own scripts even though we do not use the `-modelsimini` flag. I will try the issue_80 branch later today and get back to you.

[2015-10-20 07:24] danielblomkvistbitvis commented on #81
Alright. Thanks for the help. The `add_external_library` method is probably sufficient to solve my problem for now.

[2015-10-20 15:06] danielblomkvistbitvis commented on #80
I've tried the new branch. Unfortunately it did not help.

I tried to find out if any other modelsim.ini had been edited, but there is only one other modelsim.ini in our case. It resides in ./opt/altera/14.0/modelsim_ase/modelsim.ini, and it had not been edited.

As I mentioned this happens when we call vmap with our own scripts as well, so it's not a problem with vUnit itself. But it would be nic

[2015-10-20 15:29] kraigher commented on #80
Is it bug present both if you run `vmap.exe` as a stand alone binary as well as run `vmap` as part of a Modelsim .do TCL script?

[2015-10-20 15:53] kraigher commented on #80
I have removed the use of vmap completely on the issue_80 branch. Instead the modelsim.ini file is manipulated directly from Python. Could you give it a try?

[2015-10-21 07:04] danielblomkvistbitvis commented on #80
The issue_80 branch now works for me. I can confirm that the bug is present even when I run vmap as a stand alone binary.

[2015-10-21 11:32] go2sh opened #83 "Add VUnit to PIP index"
Hello there,

I just tried to package vunit for debian for myself, but setup.py file has some errors. The version does not reflect the current tag and the version needs to start with a number e.g. "0.39.0".
And maybe you can upload it into the index. :)

Regards,
Chris

[2015-10-21 16:25] kraigher commented on #83
I would like to fix the @TODO in the setup.py with the data folder ending up outside the package in the python library root before adding it to the PIP index.

[2015-10-21 18:06] kraigher commented on #79
@jonasalowersson I have made some changes to your commit that I thought was necessary. I pushed the changes to the [codecov](https://github.com/LarsAsplund/vunit/tree/codecov) branch in the main VUnit repostory. Could you check it out and see that it still works?

[2015-10-21 18:17] kraigher commented on #80
I have integrated the issue_80 branch into master and made a new release.

[2015-10-21 18:17] #80 closed

[2015-10-22 07:24] kraigher commented on #83
@LarsAsplund I have moved the `vhdl` and `verilog` folders into `vunit/hdl` to be compatible with the setuptools package concept where data files cannot be outside of the package. Check out the [move_data_files](https://github.com/LarsAsplund/vunit/tree/move_data_files) branch and see if you have any comments.

[2015-10-22 10:48] kraigher commented on #83
@LarsAsplund I renamed the folder `vunit/data` instead of `vunit/hdl` to make it more future proof for whatever data we want to ship with the python package.

[2015-10-22 10:52] kraigher commented on #83
@LarsAsplund have you made an account at PyPI such that you can be the "Owner" of VUnit there? I guess I also need an account there and you can set me as "Maintainer" such that I also can make new releases there.

[2015-10-22 11:45] jonasalowersson commented on #79
It works fine.
However, I have noticed that Modelsim seems to collect all coverage types ('bcestf') that was specified during compile even if only a subset of them are specified for simulation. Therefore, I have added a few lines to include the coverage types also in the compile functions, and committed this to my fork after updating it to reflect your changes.
Please also note that I have not bee

[2015-10-22 13:20] go2sh commented on #83
@kraigher  I tested your branch with some of my projects. Works well.

[2015-10-22 17:28] kraigher commented on #79
@jonasalowersson I have had a look at your changes and added some myself in the codecov branch of the main VUnit repository. If you are happy with this and it works I am ready to integrate it into the VUnit master branch.

[2015-10-23 09:01] jonasalowersson commented on #79
I have made some further tests, and found a problem, which was there already in my first commit and has not gone away. The coverage.ucdb file from the last simulation has not yet been written when the merge operation begins. It looks like if _run_test(...) at line 358 in ui.py returns as soon as the last vsim process is started, not when it is finished. Somehow the start of post_process() must be

[2015-10-23 10:15] kraigher commented on #79
I can have a look at this. You should be able to use --new-vsim flag to run a new vsim process for each test as a work arround.

[2015-10-23 10:43] jonasalowersson commented on #79
I tried the workaround, and it solves the problem, but of course it would be better if you could find a way to make it work without the workaround.

[2015-10-23 12:11] vermaete commented on #79
Having default options to the coverage argument?
--coverage [options]

[2015-10-23 20:45] LarsAsplund commented on #83
@kraigher My only comment is that we should use descriptive names for files and directories so I suggest we use `vunit/hdl` or remove the `hdl` directory level altogether. If we add some other files in the future they should be placed in equally descriptive directories.

I have an account on PyPI but I haven't registered anything yet. `vunit_hdl` is still free.

[2015-10-25 14:20] kraigher commented on #83
@LarsAsplund could you register vunit_hdl?

[2015-10-25 14:32] kraigher commented on #79
@vermaete I have fixed it such that everything is enabled when using the flag without any argument.

[2015-10-25 14:47] kraigher commented on #79
@jonasalowersson I have pushed a fix that will probably solve your problem of missing ucdb-files without running with `--new-vsim`. I have also added a warning when an ucdb file is missing. Could you try it?

[2015-10-25 22:06] LarsAsplund commented on #83
@kraigher I've registered it now and set you as a maintainer as well. I few things caught my attention but I haven't figured out the all the details:
- I might be possible to redirect pip installs to the release on Github. Seems natural to have all traffic to one place but maybe there are some drawbacks?
- Currently a number of files are ignored when you register. Typically .md files and run.py fi

[2015-10-26 12:33] jonasalowersson commented on #79
I have tried your latest commit, and it works fine, thanks! As far as I'm concerned, this functionality is sufficient, and I would be happy if you could integrate it in the VUnit master branch.

[2015-10-26 18:10] kraigher commented on #83
@LarsAsplund
* I ignored the files to reduce the disk size of the Python package by not having pdf:s and png:s in there. Maybe it is better to not care about disk size and just add all files.
* Having two packages with different names on PyPI but with the same actual Python package name cause name conflicts when both packages are installed. For instance the users of the current `vunit` package cou

[2015-10-26 18:14] kraigher commented on #79
I have integrated it into master and released 0.42.0

[2015-10-26 18:14] #79 closed

[2015-10-27 21:36] LarsAsplund commented on #83
@kraigher With the current size of the distribution I think the risk of someone missing documentation is higher than the risk of someone being annoyed by a few extra MBs so we should probably just keep everything. We should also have a way of verifying this type of distribution such that we don't forget to include some file. Not necessary to fix right now though. Another thing is that the OSVVM li

[2015-10-28 06:33] kraigher commented on #83
@LarsAsplund I am fine with adding everything and disregard size. We should however not think anyone will read the documentation in the form of .md and .pdf files when it is part of the Python package. The Python package is unpacked into a global Python install folder which no average user will look at to find documentation. Users installing the package via PyPI would still have to read their docu

[2015-10-28 07:16] LarsAsplund commented on #83
@kraigher Agree, it's not very likely. Hopefully, we can have the README shown on PyPI or we can simply add a link to the description field. Once OSVVM supports GHDL natively we can also remove the special notes on a the modified OSVVM distribution (assuming we include their PDFs).

[2015-10-28 23:04] LarsAsplund commented on #83
@go2sh  @kraigher  I changed our README.md to README.rst using reStructuredText markup which both PyPI and Github can render. I've uploaded it to [testpypi](https://testpypi.python.org/pypi/vunit_hdl/0.42.0). Could you give it a try and install it from there (ignore the version number, it will be 0.43.0 when I upload it to the official PyPI)?

[code]

If it works I will go ahead and upload it offi

[2015-10-29 05:34] kraigher commented on #83
It works.

[2015-10-29 10:26] vermaete opened #85 "generic packages"
Could it be the VHDL parser can not handle the new/2008 generic packages?

[2015-10-29 12:01] go2sh commented on #83
Works for me.

[2015-10-29 15:17] LarsAsplund commented on #83
There's now a v0.43.0 on PyPI.

[2015-10-29 15:17] #83 closed

[2015-10-30 17:56] kraigher commented on #85
The VUnit parser is lazy and only parses what it needs. Generic packages is not something we try to recognize specifically and they should be considered as regular packages. The generic part of them should be ignored. Are you seeing some crash or incorrect dependency or what lead up to this question?

[2015-10-31 21:09] LarsAsplund commented on #82
I've made an inquiry to Mentor Graphics about their OpenDoor program to see if that is suited for an open source project like ours. They've acknowledged that they are processing my request .

[2015-11-06 12:05] danielblomkvistbitvis commented on #81
Closing this issue since the work-around was OK.

[2015-11-06 12:05] #81 closed

[2015-11-18 06:44] gunnarstjernberg opened #86 "Is is possible to set generics of type "TIME"?"
If I use a generic of type TIME in my testbench, it seems I cannot alter the value of said generic from the python script.

Example:

Defintiion at the TB top level design
g_clk_axi                         : TIME   := 4 ns;

The python script statement:
tc_debug_0.set_generic("g_clk_axi", "4ns")

vsim message:
# ** Warning: (vsim-3351) Invalid value ""4ns"" for generic "g_clk_axi".  Not using this

[2015-11-18 08:17] kraigher commented on #86
I can see if I can make it work. In the meantime you could make it a string generic and use `time'value` to convert to a time value in VHDL.

[2015-11-18 08:55] gunnarstjernberg commented on #86
Sounds good. I can us this work-around for the time being.  Thanks!

[2015-11-19 08:23] pStefanNilsson commented on #85
The VUnit parser seams to crash if you declare a package as a generic to an entity. The same is probably true for type and function generics too.

<pre>
entity generic_comp is
  generic (package generic_comp_pkg is new work.generic_pkg generic map (<>));
end generic_comp;
</pre>

[2015-11-19 08:42] BjornOlsson opened #87 "Using array_pkg with std_logic_vectors and unsigned"
At this point, when using vunit's array_pkg, it only supports integers as values. I think it would be a good thing to expand this to support other datatypes as well, such as std_logic, std_logic_vector, unsigned etc.
It would also be great if the array_pkg could support records of these data types as values.

[2015-11-19 08:47] kraigher commented on #85
Thank you pStefanNilsson for you problem description. It would be helpful if you also could provide explicit examples for other cases that you know do not work as well.

[2015-11-19 08:51] kraigher commented on #87
Expanding to std_logic_vector/signed/unsigned of more than 32 bits is possible and I will fix that. Arbitrary records would only be possible using VHDL-2008 generic packages, I will investigate.

[2015-11-21 12:15] kraigher commented on #86
You should be able to set generics of type time now. Expect if you use GHDL.

[2015-11-21 12:15] #86 closed

[2015-11-22 16:28] kraigher commented on #85
@pStefanNilsson, @vermaete and others... I have pushed a commit which causes package generics to be ignored rather than produce a crash. Could you verify that this solves your problems? If it does I will create a new VUnit release including the fix.

[2015-11-23 08:45] pStefanNilsson commented on #85
Thanks kraigher. I tried your fix and it works for me.
Sorry for a late answer on your previous question but below is a few more examples of new odd generics that I think the Vunit parser can't handle.

[code]

[2015-11-24 12:13] kraigher commented on #85
@pStefanNilsson I have also added ignoring of type and function/procedure generics. Let me know if this is enough to close this issue.

[2015-11-24 12:59] pStefanNilsson commented on #85
Works fine!

Thanks,

Stefan

Från: kraigher [mailto:notifications@github.com]
Skickat: Tuesday, November 24, 2015 1:13 PM
Till: LarsAsplund/vunit <vunit@noreply.github.com>
Kopia: pStefanNilsson <p.stefan.nilsson@gmail.com>
Ämne: Re: [vunit] generic packages (#85)

@pStefanNilsson <https://github.com/pStefanNilsson>  I have also added ignoring of type and function/procedure generics. Let me know

[2015-11-24 13:01] #85 closed

[2015-11-26 19:24] vermaete opened #88 "pre_config"
There is a 'post_check', as shown in the example 'vunit/examples/vhdl/generate_tests'.
But I'm missing a 'pre_simulate' kind of thing to do, in Python, a few things before starting a test of the suite.  Stuff like: generating stimuli, ...

[2015-11-27 06:20] kraigher commented on #88
Yes it would make sense. I will add it.

[2015-11-28 17:03] kraigher commented on #88
I have added a `pre_config` now.

[2015-11-28 17:03] #88 closed

[2015-11-28 19:30] #60 closed

[2015-12-18 13:19] webermann opened #90 "Usage of parallel threads not stable - ghdl (gcc backend)"
Some tests failed if I use the -p option. Without this option all tests are OK. I tried some variants for NUM_THREADS and there where no working option.

**Here is my console output for -p 4**

python run.py -p 4
Starting test.tb_test_lib.test_function_log2
Starting test.tb_test_lib.test_function_log2ceil
Starting test.tb_test_lib.test_function_ibo
Starting test.tb_test_lib.test_function_byteswap

[2015-12-18 17:08] kraigher commented on #90
What version of GHDL are you using? When adding support for GHDL to VUnit we discovered this problem with parallel test execution using the same top level. This problem was [reported](https://sourceforge.net/p/ghdl-updates/tickets/87/) to the GHDL team and they fixed before we added official support of GHDL to VUnit.

[2015-12-18 17:10] kraigher commented on #90
Also what backend are you using? It could be that this problem exists for GCC backend which we (the VUnit developers) have not tested that much with. The LLVM backend is the one I mainly test with.

[2015-12-18 17:12] webermann commented on #90
Here is the ghdl output:

ghdl --version
GHDL 0.33 (20150921) [Dunoon edition]
 Compiled with GNAT Version: GPL 2014 (20140331)
 GCC back-end code generator
Written by Tristan Gingold.

Copyright (C) 2003 - 2015 Tristan Gingold.
GHDL is free software, covered by the GNU General Public License.  There is NO
warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.

[2015-12-18 17:14] kraigher commented on #90
I will see if I can try the GCC backend to reproduce this. Do you have the opportunity to try the LLVM version?

[2015-12-18 17:20] webermann commented on #90
Not at the moment... may I can try to install it on monday together with our IT.

[2015-12-18 17:30] kraigher commented on #90
I have reported the problem to the GHDL maintainer: https://github.com/tgingold/ghdl/issues/8

[2015-12-18 17:41] kraigher commented on #90
@webermann Also a pro-tip for VUnit:
When testing stuff that does not have much state so that you do not get much convenience from starting a new simulation for each test in a test bench you can tell VUnit to run all tests in a test bench in the same simulation which will go often go faster. That is what we often use for testing function/procedures/packages rather than entities. Just add the follo

[2015-12-18 18:03] webermann commented on #90
Uuhh, thanks for the tip, thats much faster!

[2015-12-20 08:03] #90 closed

[2015-12-20 08:06] kraigher commented on #90
@webermann I found the problem in VUnit. We did not provide the `-o` flag to GHDL with the GCC backend only with LLVM backend. This is fixed in v0.48.2.

[2015-12-21 09:28] webermann commented on #90
Thanks a lot!!

[2015-12-21 11:57] imd1 opened #91 "GHDL needs –no-vital-checks option to compile Xilinx library"
I have code using the Xilinx Unisim library and must patch VUnit to include the –no-vital-checks option in all GHDL invocations. Is there a way to avoid patching VUnit and provide this option? I'm using GHDL 0.33, windows mcode.

[2015-12-21 15:36] kraigher commented on #91
Is is a compile time or run-time option or both? I have planned to add the ability to set tool specific compile flags on individual files and simulation related flags on test benches but not gotten around to it yet.

[2015-12-21 20:40] imd1 commented on #91
As it's every invocation, I assume both.

[2015-12-22 12:05] LarsAsplund opened #92 "Support for Cadence NCSim?"
Recently I had a question if it would be possible to support  NCSim from Cadence. Before looking more into this I'd like to see if there are others out there looking for this support. If so, comment this question.

[2015-12-23 08:28] kraigher commented on #91
I have made this possible using a combination of `set_sim_option` and `set_compile_option` in release *v0.49.0*.
See:
https://github.com/LarsAsplund/vunit/blob/master/user_guide.md#setting-custom-simulation-options
https://github.com/LarsAsplund/vunit/blob/master/user_guide.md#setting-custom-compilation-options

Just add this to the end of your `run.py` after adding all files:
[code]

Merry Christ

[2015-12-23 08:28] #91 closed

[2016-01-06 15:22] mark-newsam commented on #92
I would be interested in this support

[2016-01-06 16:03] LarsAsplund commented on #92
Hi Mark

I guess that you're using NCSim yourself. Any connections with Cadence that would give us an evaluation license to make this happen? In the long run we would like some sort of tool provider license to enable continuous testing with NCSim but an evaluation is a good starting point such that we can deliver a proof of concept and hopefully show for Cadence that their is genuine interest amon

[2016-01-06 16:33] mark-newsam commented on #92
Hi Lars,
We use both NCSim and Modelsim in our company I mainly use Modelsim but was looking at your software as we are starting to use Jenkins and you have support for it.  Unfortunately I don't have much contact with Cadence so not sure I can help with an evaluation license.  I could try out the odd build on NCSim if that helps.

[2016-01-06 17:01] LarsAsplund commented on #92
Thanks Mark,

Porting to a new simulator has not been very difficult so far but it requires that we create a new Python interface class which means that we'll need an evaluation license to do that efficiently. It usually involves some work on the VHDL packages as well due to simulator bugs and differences in the interpretation of the VHDL standards. If we succeed with that but do not get a tool pr

[2016-01-07 10:01] mark-newsam opened #93 "Missing files not reported"
Hi,
While trying to set up my own design I made a mistake with path names, rather than getting a file not found error/warning I would get either:
   WARNING - otp_main.vhd: failed to find a primary design unit 'jtag_pkg' in library 'jtag'
Got this for getting the package file path wrong.

OR:
   # ** Warning: otp_main.vhd(130): (vopt-3473) Component instance "/tb_otp/i_otp_main/i_jtag_otp_tdr : jt

[2016-01-07 10:23] kraigher commented on #93
Good suggestion. The reason why no error is reported is due to the semantics of the `add_source_files` method. The argument is not a file name but a pattern which may contain wildcards. A single file name is also a pattern than can only match one thing. No files matching the pattern is currently not an error, even in the underlying Python standard library function.

We could add an error when ther

[2016-01-07 16:43] kraigher commented on #93
Fixed in release v0.50.0

[2016-01-07 16:43] #93 closed

[2016-01-07 17:20] mark-newsam commented on #92
Hi Lars,

NCSim (Now called Incisive by Cadence) does support 2008 although a little selective.

It was a bit of a mission but I can compile the vunit_lib with only a couple of issues.
  1. Don't seem to have support for "context" keyword
  2. Function "srl" in check.vhd, removing it I was able to compile the file.

To compile I used the following:
irun -prep -compile +overwrite -64bit -extv200x -

[2016-01-07 18:03] kraigher commented on #92
@mark-newsam We would really need to have a license for NCSim ourselves to be able to add official support for it. Without the simulator at hand to experiment and no documentation it is not really feasible to attempt it. There are many subtle things to get wrong without trying it out for real.

We have a set of acceptance tests that we want to be able to work on a given simulator back-end for us t

[2016-01-08 17:29] LarsAsplund commented on #92
@mark-newsam Strange that context isn't supported. It's very useful and doesn't seem to be something that would be hard to support.

What was the error message for srl? Does it work if you make that a function instead?

Anyway, I found a tool provider alliance program with Cadence and I will contact them to see if that is something that would help us with the license we need. This is a promising s

[2016-01-11 02:24] willkamp opened #94 "string length miss-match when using debug messages in comm package with integer_vector"
It appears that the maximum string length is too short when the integers in the integer_vector are all large negative numbers (or undefined).

Possible fix in function to_detailed_string, in vhdl/com/src/com_string.vhd, line 137

- variable element : string(1 to 2 + data'length * 11);
+ variable element : string(1 to 2 + data'length * 12);

maximum integer is -2**31 = -2147483648, which has 10 num

[2016-01-11 02:52] willkamp opened #95 "Use package ignored by codec generator"
Within com/codec_generator.py at line 38 the "if '.' in used_package:" check looks like it should have an else clause.
It appears that line 41,42,43 are indented once too often.

[2016-01-11 16:57] LarsAsplund commented on #94
@willkamp Yes, this is a bug and you've found the root cause. I will commit a fix and some test cases.

[2016-01-11 16:57] LarsAsplund commented on #95
@willkamp Yes, this is a bug and you've found the root cause. I will commit a fix and some test cases.

[2016-01-11 16:58] #94 closed

[2016-01-11 16:58] #95 closed

[2016-01-16 10:57] igmar opened #96 "VUnit fails to detect ModelSim"
Hi,

VUnit fails to detect modelsim, which is in my path :

igmar@cad:~$ which vsim
/usr/local/bin/vsim

If I run it from the shell, it opens up the ModelSim GUI. This is the Altera Starter Edition in case that is relevant. I suspect it can't find the modelsim.ini file, but that is located in the install dir. It might have an issue finding it, since the vsim in /usr/local/bin is a symlink to a loc

[2016-01-16 11:59] kraigher commented on #96
The simulator install detection mechanism became slightly more complicated when we added support for Active-HDL and Riviera-Pro. Before we just checked for vsim on the PATH. But people have both installed and then we need to tell the difference so we also check for modelsim.ini to detect modelsim. I think the problem could be solved by following the symlink to the target file and check for modelsi

[2016-01-16 12:06] kraigher commented on #96
I will make a fix for this. In the meantime a work-around would be to add the original modelsim install directory to the PATH before /usr/local/bin. For instance on my machine I have `/opt/altera/14.1/modelsim_ase/bin/` in the PATH.

[2016-01-16 14:07] igmar commented on #96
Fixing the path indeed fixed the issue.

[2016-01-17 10:37] kraigher commented on #96
@igmar Was the symbolic link in `/usr/local/bin` the result of an official install process or something you created yourself?

[2016-01-18 15:59] igmar commented on #96
I created that myself. I usually have a tools linked in /usr/local/bin, since I prefer a prompt over a click in some gui. Modelsim itself seems find with that, vunit then fails to discover the modelsim.ini file.

[2016-01-18 20:26] kraigher commented on #96
@igmar You can check the issue_96 branch. It should try to detect the modelsim toolchain path even in your case now. Do not forget to remove the PATH modification you made when testing if it works.

[2016-01-20 10:29] swattor opened #97 "mixed mode simulations"
I am trying to run a mixed-mode (SV and VHDL) simulation on modelsim through vunit.

I have certain VHDL packages that need to be compiled with the -mixedsvvh flag to allow systemverilog testbench to look at contents - but there doesn't appear to be an easy way of adding a "per file" compilation option.

[2016-01-20 10:40] kraigher commented on #97
We do have a concept for per file based compilation options. See `set_compile_option` in the user guide. We have only added hooks for GHDL though but I will also add one for Modelsim vcom to solve your needs.

So you are running SystemVerilog testbenches through VUnit? You must like to be on the bleeding edge. SV support is not something we even officially have yet and the hidden support we do hav

[2016-01-20 11:04] swattor commented on #97
@kraigher funny enough - have just made the same mod - having discovered the set_compile_option!

[2016-01-20 15:43] kraigher commented on #97
Added `modelsim_vcom_flags` and `modelsim_vlog_flags` and released `v0.51.0`

[2016-01-20 15:43] #97 closed

[2016-01-20 15:54] swattor commented on #97
That's great. I've noticed that the dependency checking has some issues as well - i.e. if a verilog file requires a VHDL package... I'm looking into it now, but is this something that you already have some ideas on?

[2016-01-20 16:55] kraigher commented on #97
There is no dependency checking between VHDL and Verilog at the moment.
Only dependencies internally in the individual VHDL and Verilog domains.
The reason is that this has not been added yet is the assumption that people either use only VHDL or only Verilog. Maybe you can create a new issue where you suggest suitable rules for dependencies between VHDL and Verilog?  Sometime in the future I also

[2016-01-20 17:28] swattor commented on #97
Sure, I can do that - no problem.

[2016-01-21 19:38] LarsAsplund commented on #82
It seems like we would need a more personal contact to make this happen.

_Due to no interest or response from the division, this request has been closed._

I'll close this issue for now.

[2016-01-21 19:38] #82 closed

[2016-01-21 19:46] swattor opened #98 "tcl comparison issue - verilog tests"
I've noticed on modelsim that the following line of TCL code fails with vunit when trying to run in verilog mode

invalid character "'"
in expression "32'h00000001!=1"

i've traced this to line 395 in modelsim_interface.py:
set failed [expr [examine -internal ${status_boolean}]!=${true_value}]

The addition of - radix unsigned to the examine command resolves this... e.g.

set failed [expr [examine

[2016-01-22 17:41] kraigher commented on #98
Thank you. I will modify it.

[2016-01-22 18:09] #98 closed

[2016-01-24 13:07] kraigher commented on #97
@swattor I have added a way to specify manual dependencies.

[2016-01-27 11:31] cmarqu commented on #92
Please consider me interested.

[2016-01-27 11:55] cmarqu commented on #92
@LarsAsplund I can answer the questions for @mark-newsam:

[code]

With a function, I get:

[code]

It works when I use an extended identifier: `function \srl\`.

This is with IUS 14.20-s014.

[2016-01-27 16:03] LarsAsplund commented on #92
Thanks @cmarqu. It seems like overloading of `srl` doesn't work and when you make a normal function it fails since `srl` is a reserved word. That would explain why an extended identifier works. It might still be my fault though. I just realized that standard `srl` operators take an integer as the second operand so maybe it doesn't consider this as an overload attempt. Could you test changing natur

[2016-01-27 16:22] cmarqu commented on #92
Unfortunately, replacing natural with integer doesn't work either.

[2016-01-27 16:37] LarsAsplund commented on #92
@cmarqu Ok, it was worth a try. I will just go ahead and create a function with a non-reserved identifier. Next step would be to try to get that license. Hopefully the interest expressed here and offline is sufficient. I'll keep you posted.

[2016-01-28 15:33] vermaete opened #99 "tb_filter"
A warning when no testbench that match the tb_filter (^tb_.* | *._tb$) is found would be nice.
Now we saw a message that no testcases where found with the './run.py --list' cmd.

[2016-01-28 17:21] cmarqu commented on #92
It looks like the SystemVerilog flavour from #49 works in Cadence NCSim (or rather call it "Cadence Incisive"). Maybe we could already add an `incisive_interface.py` to allow for easier experimentation?
Actually, I have already played with it a bit, but I'm unsure about the approach. Incisive has two ways of starting a simulation: the "legacy" three-step way consisting of "ncvlog/ncvhdl"+"ncelab"+

[2016-01-28 17:22] kraigher commented on #99
I agree a warning is reasonable in all cases except when invoking VUnit with `--compile` option. If not just to help users remember the criteria for what defines a test bench.

[2016-01-28 17:35] kraigher commented on #92
@cmarqu If you are interested in getting Cadence Incisive to run by helping create an `incisive_interface.py` I could support you. You could have a look at `ghdl_interface.py` since it is the least complex simulator interface we have with less other noise for you to cipher through.

VUnit has a incremental compilation which means that if you have 100 files and you change 1 it only re-compiles the

[2016-01-28 17:58] cmarqu commented on #92
@kraigher Thanks! I have indeed started by taking `ghdl_interface.py` because you mentioned it somewhere else before.
Incremental compilation is also handled by `irun` internally, but it's probably easier to not rely on that and just follow the way the other tool support does it. Let me work on this a little bit more and get back to you with more specific questions if needed.

A bit unrelated: unl

[2016-01-28 18:04] kraigher commented on #92
@cmarqu If you want to start experimenting you could just do a GitHub Fork of VUnit. Thus your efforts would be visible to us and we can comment on them and support you.

Well SystemVerilog support is still experimental... `vunit_pkg.sv` is compiled into `vunit_lib` which is different from `tb_uart_lib`. SystemVerilog does not really have good support for libraries in the same way as VHDL does. Fo

[2016-01-28 18:04] kraigher commented on #92
[code]

[2016-01-28 18:06] kraigher commented on #92
Since SystemVerilog support is still experimental one future outcome could be that we do not have things in different libraries for SystemVerilog like we do with VHDL but I would like to avoid it if possible.

[2016-01-28 19:16] #99 closed

[2016-01-28 19:19] kraigher commented on #99
Implemented and released in v0.51.2.

[2016-01-28 21:01] LarsAsplund commented on #92
@cmarqu I replaced the srl overloading with a function call. Running the 2002 version of VUnit without any contexts should hopefully work now.

[2016-01-29 12:04] cmarqu commented on #92
I have started my fork at https://github.com/cmarqu/vunit. Some things still need work though:
* we probably need to append to the cds.lib file (the library name --> directory path mappings) ourselves (it looks like the ModelSim setup does something similar?)
* it would be nice to be able to selectively skip e.g. the context stuff for Incisive (with a function like `remove_source_files()` maybe)

[2016-01-29 12:40] LarsAsplund commented on #92
@cmarqu Have you tried compiling for VHDL 2002? Then there will be no contexts. Contexts are still used in many examples though but if you just want to see if those examples work you can simply replace those lines with the use statements find in the context file. In most cases you wouldn't need all those use statements but that's a simple start.

[2016-01-29 12:42] cmarqu opened #100 "Add --debug argument"
Hi,

I'm looking for a way to selectively print debug output for the simulator setup, like the command line used etc.

There is the `--verbose` argument but that does seems to be reserved to control the verbosity of the simulation run itself. So I'd propose a globally available `--debug` argument.

[2016-01-29 12:45] kraigher commented on #92
We can add hooks to declare that a simulator does not support contexts. I will add this in the evening when I am not working. The drawback of using 2002 is that there is no good portable stop mechanism as for 2008.  Only Modelsim supports non 2008 because of this where an internal signal is used to stop. We migth change the non 2008 stop mechanism to be asser fatal with special message instead.

[2016-01-29 12:46] kraigher commented on #92
I will look into Gitter as well.

[2016-01-29 12:46] LarsAsplund commented on #92
@kraigher I think I already set it up but I haven't found out how to use it yet.

[2016-01-29 12:47] kraigher commented on #92
I usually work during the day and cannot spend any significant time to support then. I can work on VUnit on early mornings and evenings as well as weekends.

[2016-01-29 12:48] cmarqu commented on #92
Incisive doesn't seem to have a way to explicitly select VHDL-2002, it just knows the "-v200x" and "-extv200x" switches.

[2016-01-29 12:52] cmarqu commented on #92
Gitter doesn't need to be a fulltime support channel, I'm sure there will be some overlap in the times when we both can work on VUnit. https://gitter.im/home/createroom - it offers your own Repositories when you select the second option.

[2016-01-29 12:53] kraigher commented on #92
I would configure incisive to use as much new VHDL as possible always and work from there. There is no point running the simulator more restrictive than it can be. The standards are backwards compatible. Just make the hacks you need to make it work and I will help you make them in a clean way by adding hooks.

[2016-01-29 12:58] LarsAsplund commented on #92
@kraigher, @cmarqu There is now a [VUnit room](https://gitter.im/VUnit/vunit)

[2016-01-29 13:10] cmarqu commented on #92
@kraigher Ok, I'll wait for "We can add hooks to declare that a simulator does not support contexts" and go from there with any further hacks.

[2016-01-29 13:54] kraigher commented on #100
We already have `--log-level=debug`?

[2016-01-29 14:19] cmarqu commented on #53
I could see it useful to have this functionality when a colleague has a testcase that eventually fails at some point, then I can ask for the full log and possibly see from the context why the failure occurs, without having to repeat the simulation. But that certainly depends on the rest of the logging output too.

[2016-01-29 14:24] cmarqu commented on #100
Ah, indeed, I managed to miss that. Maybe because it doesn't have a help string - could you please add one?

[2016-01-29 14:27] kraigher commented on #100
I have already added a help text in the `sphinx`_doc branch were we are working on taking the VUnit documentation to the next level. It will come to master soon.

[2016-01-29 14:28] cmarqu commented on #100
Cool, thanks!

[2016-01-29 14:28] #100 closed

[2016-01-29 17:11] mark-newsam commented on #92
I had a reply from Cadence on the lack of context support:

Please let me know if you have any questions, concerns?

Getting 2008 support from Cadence is going to be rather slow...

[2016-01-29 17:40] cmarqu commented on #92
@mark-newsam I have gotten a similar response. Let's hope that with growing popularity of VUnit and similar packages, they will feel some pressure.

[2016-01-29 17:44] kraigher commented on #92
It really should not be hard for them to add context support. Both GHDL and NVC open source simulators added it with literally only hours worth of efforts. It is really nothing more than a convenient way to group use-clauses together that should be fairly straightforward to implement in any simulator code base.

[2016-01-29 17:58] kraigher commented on #92
@cmarqu I have pushed an `incisive` branch which you can rebase on to get support for avoiding contexts.

[2016-01-29 18:03] LarsAsplund commented on #92
@mark-newsam  @kraigher  @cmarqu  Yes, the lack of context support is a bit strange given how useful it is.

[2016-01-31 18:14] swattor commented on #49
Is there a list of features that are supported in VHDL but not yet supported in Systemverilog? I would be interested in helping expand the functionality of vunit for SV.

[2016-01-31 18:49] kraigher commented on #49
@swattor Not really features missing I suppose except it does not have as rich libraries as we have for VHDL.  Also the Verilog parsing and dependency scanning is just the bare minimum. There is no caching of parse results for Verilog yet like it is for VHDL. Without caching just running `run.py --list` can take seconds when you have many files where they need to be re-parsed in Python. Also the b

[2016-01-31 20:48] LarsAsplund commented on #53
@cmarqu With that use case I'm thinking that a passing check should be logged as a debug message and that you would configure debug messages to be passed to file while being suppressed on stdout. The example above which just put `Pass` before the error message was not very readable so I would probably want something more verbose. Assuming I enable location preprocessing and set the output format t

[2016-02-01 14:57] Xaerdna opened #104 "ghdl - compile_option is not consistently passed to ghdl"
Added ui.set_compile_option("ghdl_flags", ["-frelaxed-rules"]) to the execution script, which produced the following output:

Compiling /root/workspace/test/vunit/vunit/vhdl/string_ops/src/string_ops.vhd into vunit_lib ...
Compiling /root/workspace/test/vunit/vunit/vhdl/vhdl/src/lib/std/textio.vhd into vunit_lib ...
Compiling /root/workspace/test/vunit/vunit/vhdl/run/src/stop_api.vhd into vunit_li

[2016-02-01 15:04] kraigher commented on #104
Seems like you added more files after setting the option? The option applies to everything you have already added but not future additions.

[2016-02-01 15:05] kraigher commented on #104
looks like uvvm stuff was added after the option was set.

[2016-02-01 16:35] cmarqu commented on #53
I think printing "Equality check failed!" only to negate that statement in surrounding text is confusing, or at least distracting when glancing over the log output.
That's why my user-specified check descriptions (i.e. the string that a testcase author supplies to all my check functions) are just stating *what* is being checked. The check function then adds text saying whether the check passed or

[2016-02-01 19:12] twam opened #106 "user_guide example fails on OS X with binary ghdl"
I installed the latest OS X binary from ghdl (ghdl-0.31-gcc-darwin13.mpkg) and tried to get the user_guide example running.

It fails with
[code]

All the examples from http://ghdl.readthedocs.org/en/latest/Starting_with_GHDL.html work with GHDL, so I reckon that the problem is on vunit's side.